         
  <ul ngbNav #nav="ngbNav" class="nav-tabs">

    <li ngbNavItem>
      <a ngbNavLink class="fw-bold">Général</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column">
            <ng-container *ngTemplateOutlet="ngNavLayerGeneral; context:{layerObject: layer}"></ng-container>
          </div>
        </ng-template>
    </li>

    <li ngbNavItem>
      <a ngbNavLink class="fw-bold">Style de la couche</a>
      <ng-template ngbNavContent>
        <div class="d-flex flex-column">
          <ng-container *ngTemplateOutlet="ngNavLayerStyling; context:{layerObject: layer}"></ng-container>
        </div>
      </ng-template>
    </li>

    <li ngbNavItem>
      <a ngbNavLink class="fw-bold">Exporter</a>
      <ng-template ngbNavContent>
        <div class="d-flex flex-column">
          <ng-container *ngTemplateOutlet="ngNavLayerExporting; context:{layerObject: layer}"></ng-container>
        </div>
      </ng-template>

  </ul>

  <div [ngbNavOutlet]="nav" class="nav-content mx-2"></div>



<ng-template #ngNavLayerGeneral let-layerObject='layer'>
    <span class="fs-4 my-2">Informations générales</span>
  
    <div class="d-flex flex-row align-items-center my-2">
      <span class="fs-6 me-2">Nom de la couche :</span>
      <input #layerName type="text" class="form-control w-50" [placeholder]="layer.container.layerName" aria-label="layerName" (change)="layer.container.layerName = layerName.value">
    </div>
  
    <div class="d-flex flex-row align-items-center my-2">
      <span class="fs-6 me-2">Type de la géométrie :</span>
      <span>{{layer.container.geomType}}</span>
    </div>
  
    <div class="d-flex flex-column my-2">
      <span class="fs-6">Bounding box  de la couche:</span>
      <span class="ms-3">x min, x max: {{layer.exportBounds()[0]}}, {{layer.exportBounds()[2]}}</span>
      <span class="ms-3">y min, y max: {{layer.exportBounds()[1]}}, {{layer.exportBounds()[3]}}</span>
    </div>
  
  </ng-template>
  
  
  <ng-template #ngNavLayerStyling let-layerObject='layer'>
    <span class="fs-4 my-2">Modifier le style de tous les objets</span>
  
    <div class="d-flex flex-row align-items-center my-2">
      <span class="fs-6 me-2">Opacité :</span>
      <input #opacityInput class="small opacity-setter" id="" type="range" min="0" max="1" step="0.1" [value]="layer.container.opacity" (change)="layer.container.opacity = opacityInput.value"/>
    </div>
  
    <div class="d-flex flex-row align-items-center my-2">
      <span class="fs-6 me-2">Couleur de fond :</span>
      <input #layerFillColor type="color" [id]="'fillColor-' + layer.container.uuid" class="fillColor pointer border-0" [value]="layer.container.fillColor" (change)="layer.container.fillColor = layerFillColor.value"/>
      <label [attr.for]="'fillColor-' + layer.container.uuid"></label>
      <input #textLayerFillColor type="text" [id]="'textFillColor-' + layer.container.uuid" class="fillColor p-0 border-1" [value]="layer.container.fillColor" (change)="layer.container.fillColor = textLayerFillColor.value"/>
      <label [attr.for]="'textFillColor-' + layer.container.uuid"></label>
    </div>
  
    <div class="d-flex flex-row align-items-center my-2">
      <span class="fs-6 me-2">Couleur du contour :</span>
      <input #layerStrokeColor type="color" [id]="'strokeColor-' + layer.container.uuid" class="fillColor pointer border-0" [value]="layer.container.strokeColor" (change)="layer.container.strokeColor = layerStrokeColor.value"/>
      <label [attr.for]="'strokeColor-' + layer.container.uuid"></label>
      <input #textLayerStrokeColor type="text" [id]="'textStrokeColor-' + layer.container.uuid" class="fillColor p-0 border-1" [value]="layer.container.strokeColor" (change)="layer.container.strokeColor = textLayerStrokeColor.value"/>
      <label [attr.for]="'textStrokeColor-' + layer.container.uuid"></label>
    </div>
  
    <div class="d-flex flex-row align-items-center my-2">
      <span class="fs-6 me-2">Epaisseur du contour :</span>
      <input #strokeWidth class="small strokeWidth" type="number" min="0" max="12" [value]="layer.container.strokeWidth" (change)="layer.container.strokeWidth = strokeWidth.value"/>
    </div>
  </ng-template>
  
  
  <ng-template #ngNavLayerExporting let-layerObject='layer'>
    <span class="fs-4 my-2">Exportation des données</span>
  
    <ul class="nav nav-pills align-items-center justify-content-center" role="tablist">
      <li class="nav-item border m-1" role="presentation">
        <a class="nav-link fw-bold active" data-bs-toggle="tab" [attr.data-bs-target]="'#GeoJsonTab' + layer.container.uuid" type="button" role="tab">
          GeoJSON
        </a>
      </li>
      <li class="nav-item border m-1" role="presentation">
        <a class="nav-link fw-bold" data-bs-toggle="tab" [attr.data-bs-target]="'#wktTab' + layer.container.uuid" type="button" role="tab">
          WKT
        </a>
      </li>
  
      <li class="nav-item border m-1" role="presentation">
        <a class="nav-link fw-bold" data-bs-toggle="tab" [attr.data-bs-target]="'#pytestFixture' + layer.container.uuid" type="button" role="tab">
          Pytest Fixtures
        </a>
      </li>
  
    </ul>
  
    <div class="d-flex flex-row mx-2 tab-content" id="'tabContent' + layer.container.id">
  
      <div class="tab-pane fade w-100 show active" [id]="'GeoJsonTab' + layer.container.uuid" role="tabpanel">
        <textarea #exportGeoJsonStringGeomDiv class="form-control vh-100" aria-label="With textarea" (click)="exportGeoJsonStringGeomDiv.select()" readonly>{{layer.exportToGeoJSON()}}</textarea>
      </div>
  
      <div class="tab-pane fade w-100 show" [id]="'wktTab' + layer.container.uuid" role="tabpanel">
        <textarea #exportWktStringGeomDiv class="form-control vh-100" aria-label="With textarea" (click)="exportWktStringGeomDiv.select()" readonly>{{layer.exportToWkt()}}</textarea>
      </div>
  
      <div class="tab-pane fade w-100 show" [id]="'pytestFixture' + layer.container.uuid" role="tabpanel">
        <textarea #exportPytestFixturesGeomDiv class="form-control vh-100" aria-label="With textarea" (click)="exportPytestFixturesGeomDiv.select()" readonly>{{layer.exportToPytestFixture()}}</textarea>
      </div>
  
    </div>
  </ng-template>