.map-content {
  min-height: 100vh;
  pointer-events: none;
}

.map-sources {
  position: fixed;
  right: 0em;
}

.ol-scale-line, .ol-control {
  position: unset!important;
}

.ol-attribution {
  max-width: unset;
}

.ol-overviewmap-box {
  border: 2px dashed var(--bs-dark);
}

#legend-scale {
  font-size: 12px!important;
  background-color: #f1f1f1c9!important;
  margin: 3px!important;
  padding: 5px;
  border-radius: 5px;
}

.ol-scale-line {
  background: unset;

}

.ol-scale-line-inner {
  border: 2px solid #000;
  color: #000;
  border-top: none;
}
