// openlayers items //
.ol-attribution, .ol-scale-line, .ol-control {
    position: unset!important;
    border-radius: 4px;
    background: rgba(255,255,255,0.8);
    max-width: none; // important for attribution...

}
.ol-overviewmap-box {
    border: 2px dashed var(--bs-dark);
}
.ol-scale-line-inner {
    border: 2px solid #000;
    color: #000;
    border-top: none;
}
// openlayers items //

#attributionContainer {
    pointer-events: none;
}

