<div class="d-flex flex-column">

  <div class="map-sources">

    <div class="d-flex flex-column">
      <div id="attribution" class="float-end d-none d-sm-block"></div>
    </div>

    <div class="map-sources d-flex flex-column">

      <div class="m-2">
        <div id="overview-map" class="float-end shadow d-none d-sm-block"></div>
      </div>

      <div class="mx-2">
        <div id="legend-scale" class="float-end shadow"></div>
      </div>

    </div>

  </div>

  <ng-container *ngIf="appsWithoutLegend.includes(currentMapTool)">
      <router-outlet name="map-sandbox"></router-outlet>
  </ng-container>
</div>

<div class="d-flex flex-row map-content"></div>

<div class="legend-container" *ngIf="appsWithLegend.includes(currentMapTool)" [@fadeInOut]>

  <div class="legend-container-buttons">
    <button class="btn-sm-dark" type="button" checked autocomplete="off" (click)="showHideLegend()">
      <fa-icon class="" [icon]="tagIcon"></fa-icon>
      Légende
    </button>

    <button class="btn-sm-warning" title="Centrer" type="button" checked autocomplete="off" (click)="zoomOnData()">
      <fa-icon class="" [icon]="centerIcon"></fa-icon>
    </button>
  </div>

  <div class="legend-container-content" [hidden]="!isLegendDisplayed">
    <ng-container *ngIf="currentMapTool === 'activities'">
      <router-outlet name="map-activities"></router-outlet>
    </ng-container>

    <ng-container *ngIf="currentMapTool === 'gtfs-viewer'">
      <router-outlet name="map-gtfs-viewer"></router-outlet>
    </ng-container>

  </div>

  <div class="legend-container-content" [hidden]="isLegendDisplayed"></div>

</div>


