<div id="attributionContainer" class="
  d-flex flex-column
  ">

  <div id="mapSources" class="
    position-fixed
    end-0
    ">

    <div class="map-sources
      d-flex flex-column
      justify-content-end
      ">
      <div id="attribution"></div>

      <span class="ms-auto m-1 d-none d-sm-block" id="overviewMap"></span>
      <span class="ms-auto m-1" id="legendScale" ></span>
    </div>

  </div>

</div>

<!-- <ng-container *ngIf="appsWithoutLegend.includes(currentMapTool)"> -->
<router-outlet name="map-sandbox"></router-outlet>
<!-- </ng-container> -->

<div id="mapContent" class="d-flex flex-row vh-100"></div>

<set-legend-container *ngIf="appsWithLegend.includes(currentMapTool)">

  <ng-template #buttonsTemplate>
    <button class="btn btn-sm btn-warning mx-1" title="Centrer" type="button" checked autocomplete="off" (click)="zoomOnData()">
      <fa-icon class="" [icon]="centerIcon"></fa-icon>
    </button>
  </ng-template>

  <router-outlet name="map-activities"></router-outlet>
  <router-outlet name="map-gtfs-viewer"></router-outlet>

</set-legend-container>
