.pointer {
  cursor: pointer;
}


.layer:hover {

  .layer-name{
    font-weight: bold;
  }

}


.feature:hover {
  font-weight: bold;
}

.toast {
  opacity: 0;
  display: unset!important;
  -webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
  }

.faded {
  opacity: 1!important;
	-webkit-transition: opacity 0.5s!important;
	transition: opacity 0.5s!important;
}

.pointer {
  cursor: pointer;
}

.colorPicker {
  width: 10px;
  height: 25px;
  cursor: pointer;
}
