.pointer {
  cursor: pointer;
}


.layer {
  background-color: var(--bs-light);

  .layer-name:hover{
    font-weight: bold;
  }

  .header{
    animation-name: layerColorTransition;
    animation-duration: 2s;
  }

}

@keyframes layerColorTransition {
  from {background-color: var(--bs-warning) ;}
  to {background-color: var(--bs-light);}
}

.toast {
  opacity: 0;
  display: unset!important;
  -webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
  }

.faded {
  opacity: 1!important;
	-webkit-transition: opacity 0.5s!important;
	transition: opacity 0.5s!important;
}

.pointer {
  cursor: pointer;
}

.colorPicker {
  width: 10px;
  height: 25px;
  cursor: pointer;
}


.feature {
  :hover{
    font-weight: bold;
  }
}


#editBar {
  position: fixed;
  bottom: 0;
  user-select: none
}