<set-article-container [@fadeInOut]>

    <app-general-info
    ></app-general-info>


  <set-section-container>
    <h5 id="education__degrees" class="title-tick-education">Parcours universitaire</h5>
    <app-degrees-bar
      class="
        d-flex flex-xl-row;
        justify-content-center
        flex-wrap
      "
    ></app-degrees-bar>
  </set-section-container>

  <set-section-container>
    <h5 id="education__publish" class="title-tick-warning">Travaux/publications universitaires</h5>

    <app-publication-bar
      class="
        d-flex flex-xl-row;
        justify-content-center
        flex-wrap
      "
    ></app-publication-bar>
  </set-section-container>

  

  <set-section-container>
    <h5 id="education__trainings" class="title-tick-job">Formations professionnelles</h5>

    <app-trainings-bar
      class="
        d-flex flex-xl-row;
        justify-content-center
        flex-wrap
      "
    ></app-trainings-bar>
  </set-section-container>
  


</set-article-container>
