<nav class="navbar navbar-expand-lg navbar-light bg-light shadow border rounded sticky-top">
  <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="btn btn-warning" (click)="sideBarCollapseUpdated()">
        <fa-icon [icon]="navBarIcon"></fa-icon>
      </button>


      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSubMenus" aria-controls="navbarSubMenus" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="subMenuIcon"></fa-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarSubMenus">
        <ul class="navbar-nav ms-auto align-items-center">

          <li *ngFor="let page of subMenus" class="nav-item">

            <a class="nav-link text-dark float-end" [routerLink]="page.route" [fragment]="page.fragment" *ngIf="page.id !== 'print'"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              <fa-icon [icon]="page.icon" class="me-1"></fa-icon>{{page.title}}
            </a>

            <a class="nav-link text-dark float-end" [routerLink]="page.route" *ngIf="page.id === 'print'" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              <fa-icon [icon]="page.icon" class="me-1"></fa-icon>{{page.title}}
            </a>
          </li>

        </ul>
    </div>


  </div>
</nav>
