#leftSideBar{
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;

    &.active {
        min-width: 80px;
        max-width: 80px;
    }
}

@media (max-width: 960px){

    #leftSideBar{
      position: fixed;
      min-width: 200px;
      max-width: 200px;
      padding-top: 60px!important;  // due to navbar height

        img {
          width: 20vh;
        }

        &.active{
            min-width: 80px;
            max-width: 80px;
            text-align: center;
            margin-left: -80px !important;
        }
    }

    [class^="badge-title-"] {
        font-size: x-small;
    }

}

.copyright {
    word-wrap: break-word;
}

.page:hover, a.active{
    font-weight: bold;
}

.img-tech {
  max-width: 10vh;
}

.tech-modal .modal-content {
  background-color: transparent!important;
}
