<div id="blogHome" class="gallery" *ngIf="selectedblogTopics.length > 0" [@fadeInOut]>

  <app-grid-container
    columnNb="4"
    [features]="selectedblogTopics"
    featuresHeaderClass="text-bg-dark"
  >
    <ng-template #descriptionTemplate let-feature>

      <div class="body-generic-badges mt-2">

        <div class="body-text small"  *ngIf="feature.categories.length > 0">
            <span class="fw-bold">Catégorie(s):</span>
            <set-badge-content
            *ngFor="let category of feature.categories"
            [customBgColor]="category.color"
          >{{category.name}}</set-badge-content>
        </div>

        <div class="body-text small" *ngIf="feature.tags.length > 0">
          <span class="fw-bold">Tag(s):</span>
          <set-badge-content
            *ngFor="let tag of feature.tags"
            [customBgColor]="tag.color"
          >{{tag.name}}</set-badge-content>
        </div>

      </div>

      <set-paragraph-content>{{ feature.description }}</set-paragraph-content>

    </ng-template>
  </app-grid-container>


  <set-legend-container
    classes="position-sticky"
    >
    <ng-template #controlersTemplate>
      <ng-container *ngTemplateOutlet="controler"></ng-container>
    </ng-template>
  </set-legend-container>

</div>


<ng-template #controler>
  <set-section-container>

    <h6>Filtrage par catégories</h6>

    <set-button-content
      classes="btn-sm btn-secondary"
      [icon]="tagIcon"
      (click)="resetContent()"
    >Tous
    </set-button-content>

    <set-button-content
      *ngFor="let category of allCategories"
      [classes]="currentCategory === category.name ? 'btn-sm btn-secondary fw-bold' : 'btn-sm btn-secondary'"
      [icon]="tagIcon"
      [iconNgStyle]="'color:' + category.color + ';'"
      (click)="selectContentByCategory(category.name)"
    >{{ category.name }}
    </set-button-content>

  </set-section-container>

  <set-section-container>

    <h6>Filtrage par tags</h6>

    <set-button-content
      *ngFor="let tag of allTags"
      [classes]="currentTag === tag.name ? 'btn-sm btn-secondary fw-bold' : 'btn-sm btn-secondary'"
      [icon]="tagIcon"
      [iconNgStyle]="'color:' + tag.color + ';'"
      (click)="selectContentByTag(tag.name)"
    >{{ tag.name }}
    </set-button-content>

  </set-section-container>

</ng-template>
