<div class="container-fluid">
  <div class="row justify-content-center" *ngIf="blogTopics" [@fadeInOut]>

    <div class="col-11 my-4 blog-content">
      <div class="grid-container">

        <div class="mb-4 feat-topic bg-white" *ngFor="let topic of blogTopics">

          <div class="card-header bg-dark bg-gradient text-white">
            <h4 class="card-title">{{ topic.title }}</h4>
          </div>

          <div class="card-body">

            <div class="d-flex flex-column py-2">

              <p class="card-text">{{ topic.date | date: 'dd-MM-yyyy'}}</p>
              <p class="card-text">{{ topic.categories }}</p>
              <p class="card-text">{{ topic.tags }}</p>

              <p class="card-text">{{ topic.resume }}</p>
              <img [src]="topic.image | safeUrl"  class="card-img">

            </div>

            <a [href]="topic.url" target="_blank" rel="noopener noreferrer" class="btn btn-warning mt-auto fw-bold">Accéder</a>

          </div>

          <div class="card-footer">
          </div>


        </div>

      </div>
    </div>

  </div>
</div>
