.profil-badge {
  display: inline-block;
  padding: 5px 25px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}



.card-box {
  position: relative;
  padding: 5px 50px 5px;
  //margin: 20px 0px;
}

.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 0px;
  right: 10px;
  z-index: 0;
  font-size: 52px;
  color: rgba(133, 133, 133, 0.15);
}


.bg-blue {
  background-color: #00c0ef !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-orange {
  background-color: #f39c12 !important;
}
.bg-red {
  background-color: #d9534f !important;
}
