<set-article-header>

  <div id="education__generalInfo__title">
    <h3 class="title-name">{{ inputProfilData.first_name }} {{ inputProfilData.last_name }}</h3>
    <div class="badge-title-light">{{ inputProfilData.job }}</div>
  </div>

  <div class="badge-title-warning">5 d'études post-bac en Géographie</div>
  <div class="badge-title-warning">Spécialisation en Système d'Information Géographique</div>

  <div id="education__generalInfo__languages" class="
    d-flex flex-row
    justify-content-around
  ">
    
    <div class="card-box
      bg-light
      rounded
      m-2 p-2
      text-center
    " *ngFor="let language of inputLanguagesData">
        <div class="title">{{language.language}}</div>
      <div class="sub-title">{{language.level}}</div>
    </div>

  </div>

</set-article-header>
