<div class="row align-items-center">

  <div class="col-12 col-lg-8">
    <h6>Barre Temporelle</h6>

    <svg
      [attr.viewBox]="'0 0 ' + width + ' ' + height"
      id="slider-bar"
    >
    </svg>
  </div>

  <div class="col-12 col-lg-4">

    <div class="text-center">
      <div class="d-flex flex-column justify-content-center">

        <div class="">
          <h5 id="slider-value">{{ sliderDate | date:'dd MMMM y HH:mm:ss' }}</h5>
        </div>

        <div class="">
          <a id="start-button" class="btn btn-dark btn-sm" role="button" (click)="resetTimeLine()"><fa-icon [icon]="backwardIcon"></fa-icon></a>
          <a id="play-button" class="btn btn-dark mx-2 btn-sm" role="button" (click)="startTimeLine()">Play</a>
          <a id="end-button" class="btn btn-dark btn-sm" role="button" (click)="forwardTimeLine()"><fa-icon [icon]="forwardIcon"></fa-icon></a>
        </div>
      </div>
    </div>

  </div>
</div>





