#scroll-top-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  pointer-events: all;
  opacity: 1;
 }


#content {
  transition: all 0.3s;
}

#content-container {
  transition: all 0.5s ease-in-out;
}

.overlay {
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}





#overlayContainer{
  display:none
}

@media (max-width: 768px){
  #overlayContainer{
    display:block
  }

  .overlay.active{
    opacity: 1;
  }

}
