<div id="attributionContainer" class="
  d-flex flex-column
  ">

  <div id="mapSources" class="
    position-fixed
    end-0
    ">

    <div class="map-sources
      d-flex flex-column
      justify-content-end
      ">
      <div class="shadow bg-white p-1" id="attribution"></div>

      <span class="ms-auto m-1 d-none d-sm-block shadow rounded-2 p-1 bg-white" id="overviewMap"></span>
      <span class="ms-auto m-1 shadow bg-white rounded-3 p-1" id="legendScale" ></span>
    </div>

  </div>

  <div id="mapLegendTools" class="
    position-fixed
    end-0
    "></div>

</div>


<!-- <router-outlet #outlet="outlet" ></router-outlet> -->

<!-- <div id="mapContent" class="d-flex flex-row vh-100"></div> -->

<router-outlet name="map-gtfs-viewer" ></router-outlet>
<router-outlet name="map-activities" ></router-outlet>
<router-outlet name="map-sandbox" ></router-outlet>

