<div class="container-fluid">
  <div class="row justify-content-center" [@fadeInOut]>


    <div class="col-11 mt-4 maps-content">
      <div class="grid-container">

        <div class="mb-4 feat-map bg-white" *ngFor="let app of mapPagesMenus.sub_menus">

          <div class="card-header bg-dark bg-gradient text-white">
            <h4 class="card-title">{{ app.title }}</h4>
          </div>

          <div class="card-body">
            <p class="card-text">{{ app.details }}</p>
            <a [routerLink]="[app.route]" class="btn btn-warning mt-auto fw-bold">Accéder</a>
          </div>

          <div class="card-footer">
          </div>


        </div>

      </div>
    </div>

  </div>
</div>
