<div class="container">

  <div class="d-flex flex-row justify-content-center" [@fadeInOut]>

    <div class="d-flex flex-column flex-lg-row justify-content-evenly align-items-center align-items-stretch">

        <div class="col-12 col-lg-3 card m-3 shadow" *ngFor="let app of mapPagesMenus.sub_menus">

          <div class="card-header bg-dark bg-gradient text-white ">
            <h4 class="card-title">{{ app.title }}</h4>
          </div>

          <div class="card-body">
            <p class="card-text">{{ app.details }}</p>
            <a [routerLink]="[app.route]" class="btn btn-warning mt-auto fw-bold">Accéder</a>
          </div>

          <div class="card-footer">
          </div>


        </div>


    </div>

  </div>


</div>
