.nav-link {
  color: black;
  cursor: pointer;
}

.nav-item:hover {
  --bs-bg-opacity: 0.25;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity))!important;
}

.nav-link.active {
  @extend .nav-link;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;

}

.h-10{
  height: 10em;
}


@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

// Variables
$bg-body: #f9f9f9;

$red: #747272;
$blue: #2b2e48;
$primary-color: $red;
$secondary-color: $blue;


// Typography
$base-font: helvetica, arial, tahoma, verdana;
$base-font-title: "Dosis", arial, tahoma, verdana;

$base-font-color: #726f77;

// Timeline
$timeline-color: $primary-color;


// Mixins and Placeholders
%clearfix {
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}
*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}



// Timeline
#timeline {
	width: 100%;
  margin: 30px auto;
	position: relative;
  padding: 0 10px;
	@include prefix(transition, all .4s ease);

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: $timeline-color;
		left: 50%;
		top: 0;
		position: absolute;
	}

	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}

	.timeline-item {
		position: relative;
		@extend %clearfix;

		.timeline-icon {
			background: $timeline-color;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0px;
      left: 50%;
      overflow: hidden;
      margin-left: -23px;
			@include prefix(border-radius, 50%);

		}

		.timeline-content {
			width: 45%;
			// background: #fff;
			// padding: 20px;
			// @include prefix(box-shadow, 0 3px 0 rgba(0,0,0,0.1));
			@include prefix(border-radius, 5px);
			@include prefix(transition, all .3s ease);

			h6 {
				// padding: 15px;
				// background: $timeline-color;
				// color: #fff;
				// margin: -20px -20px 0 -20px;
				font-weight: 300;
				@include prefix(border-radius, 3px 3px 0 0);
			}

			&:before {
				content: '';
				position: absolute;
				left: 45%;
				top: 20px;
				width: 0;
				height: 0;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left:7px solid $timeline-color;
			}

			&.right {
				float: right;

				&:before {
					content: '';
					right: 45%;
					left: inherit;
					border-left: 0;
					border-right: 7px solid $timeline-color;
				}
			}
		}
	}
}


@media screen and (max-width: 768px) {
	#timeline {
		margin: 30px;
		padding: 0px;
    width: 90%;
		&:before {
			left: 0;
		}

		.timeline-item {
			.timeline-content {
				width: 90%;
				float: right;

				&:before, &.right:before {
					left: 10%;
					margin-left: -6px;
					border-left: 0;
					border-right: 7px solid $timeline-color;
				}
			}

			.timeline-icon {
				left: 0;
			}
		}
	}
}
