.pointer {
    cursor: pointer;
}


.modal-dialog {
  max-height: 100vh;
  max-width: 100vh;

}

// .card-img-top { // TODO renamed to card-img
//   padding: 0.25rem;
//   background-color: #fff;
//   border: 1px solid #dee2e6;
//   border-radius: 0.25rem;
//   //max-width: 100%;
//   height: auto;
// }

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.modal {
  background-color: rgba(0,0,0,0.7);
}


.img-size {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (orientation: portrait) {
  .img-size {
      max-width: 100%;
  }
}

@media (orientation: landscape) {
  .img-size {
      max-height: 80%;
  }
}
