<article id="galleryHome" class="gallery" *ngIf="isDataAvailable" [@fadeInOut]>

  <app-grid-container
    columnNb="3"
    [features]="galleryItems"
    featuresHeaderClass="text-bg-dark"
  >

    <ng-template #descriptionTemplate let-feature>
      <div class="body-activity-badges
          d-flex flex-row flex-wrap
          mt-2
          align-items-center
        ">
          
          <set-badge-content
            *ngIf="feature.activityType"
            [classes]="'pe-none text-bg-' + feature.activityType.class"
          >{{feature.activityType.name}}</set-badge-content>

          <set-badge-content
            *ngIf="feature.experienceName"
            [routerLink]="experiencesRoute" [fragment]="feature.id"
            classes="pointer"
            [customBgColor]="feature.experienceName.color"
          >{{feature.experienceName.name}}</set-badge-content>
          
          <set-badge-content
            *ngIf="feature.mediaType"
            [classes]="'pe-none text-bg-' + feature.mediaType.name"
            [icon]="feature.mediaType.icon.icon"
          >{{feature.mediaType.icon.title}}</set-badge-content>

      </div>
           
      <set-paragraph-content>
        {{ feature.description }}
        <ul class=" mt-2" *ngIf="feature.addons">
          <li *ngFor="let addon of feature.addons | keyvalue" class="">
            <span>{{addon.key}} : </span>
            <span>{{addon.value}}</span>
          </li>
        </ul>
      </set-paragraph-content>
      
    </ng-template>

  </app-grid-container>

  <set-legend-container
    classes="position-sticky"
  >
    <ng-container *ngTemplateOutlet="galleryControler"></ng-container>
  </set-legend-container>

</article>



<ng-template #galleryControler>
  <set-section-container>
    <h6>Filtrage par catégories</h6>

    <set-button-content
      classes="btn-sm btn-secondary"
      [icon]="tagIcon"
      (click)="resetGallery()"
    >Tous
    </set-button-content>

    <set-button-content
      classes="btn-sm btn-secondary"
      iconClasses="text-job"
      [icon]="tagIcon"
      (click)="getGalleryDataByCategory('job')"
    >Missions
    </set-button-content>

    <set-button-content
      classes="btn-sm btn-secondary"
      iconClasses="text-personal_project"
      [icon]="tagIcon"
      (click)="getGalleryDataByCategory('personal_project')"
    >Projets personnels
    </set-button-content>

    <set-button-content
      classes="btn-sm btn-secondary"
      iconClasses="text-volunteer"
      [icon]="tagIcon"
      (click)="getGalleryDataByCategory('volunteer')"
    >Bénévolat
    </set-button-content>

  </set-section-container>

  <set-section-container>

    <h6>Filtrage par activités</h6>

      <ng-container *ngFor="let activity of activities | keyvalue">

        <set-button-content
          classes="btn-sm btn-secondary"
          (click)="getGalleryDataByActivity(activity.key)"
        >{{ activity.value}}
        </set-button-content>

      </ng-container>

  </set-section-container>

  <set-section-container>

    <h6>Filtrage par types d'illustration</h6>

    <ng-container *ngFor="let type of mediaTypes">

      <set-button-content
        [classes]="'mx-0 rounded-0 btn-sm text-bg-' + type"
        [icon]="typeStyleMapping[type].icon"
        (click)="getGalleryDataByType(type)"
        [title]="typeStyleMapping[type].title"
      >
      </set-button-content>

    </ng-container>

  </set-section-container>
</ng-template>