
<div class="container-fluid g-0" [@fadeInOut]>
  <div class="d-flex flex-column" *ngIf="isDataAvailable">

    <div class="m-4 grid-container">
        <ng-container *ngTemplateOutlet="imgProject; context:{medias: galleryItems}"></ng-container>
    </div>

    <div class="d-flex flex-column legend-container">

      <div class="mx-3">
        <button class="btn btn-dark me-2 rounded-top" type="button" checked autocomplete="off" (click)="showHideLegend()">
          <fa-icon class="" [icon]="tagsIcon"></fa-icon>
          Légende
        </button>
      </div>

      <div class="legend-content text-center py-3 bg-white" *ngIf="isLegendDisplayed">
        <ng-container *ngTemplateOutlet="galleryControler"></ng-container>
      </div>

      <div class="legend-content text-center py-3 bg-white" *ngIf="!isLegendDisplayed">
      </div>

    </div>

  </div>

</div>


<ng-template #imgProject let-medias=medias>
  <div class="mb-4 card feat-gallery bg-light" *ngFor="let media_feature of medias; let idx = index">

    <div class="card-header p-2 bg-dark bg-gradient text-white">
      <span class="fw-bold">{{ media_feature.title }}</span>
    </div>

    <div class="card-body px-3">

      <ng-container [ngSwitch]="media_feature.source">

        <ng-container *ngSwitchCase="'youtube'">
          <div class="ratio ratio-16x9">
            <iframe [src]="media_feature.media | safeUrl" class="" options="" loading="lazy" scrolling="no" frameborder="0" allowfullscreen></iframe>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'url_img'">
          <a data-bs-toggle="modal" [href]="'#modal-' + media_feature.identifier + idx" role="button">
            <img [src]="media_feature.media | safeUrl" class="card-img-top pointer">
          </a>
          <ng-container *ngTemplateOutlet="imgModal; context: {pictureUrl: media_feature.media, activityId: media_feature.identifier, pictureId: idx}"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'url_app'">
          <ng-container *ngIf="!urlAppChecker(media_feature.media)">
            <a [href]="media_feature.media | safeUrl" target="_blank" rel="noopener noreferrer">
              <img *ngIf="media_feature.media_splash.includes('https')" [src]="media_feature.media_splash" class="card-img-top pointer">
              <img *ngIf="!media_feature.media_splash.includes('https')" [src]="assetsImgUrl + media_feature.media_splash" class="card-img-top pointer">
            </a>
          </ng-container>
          <ng-container *ngIf="urlAppChecker(media_feature.media)">
            <a [routerLink]="'../' + media_feature.media">
              <img *ngIf="media_feature.media_splash.includes('https')" [src]="media_feature.media_splash" class="card-img-top pointer">
              <img *ngIf="!media_feature.media_splash.includes('https')" [src]="assetsImgUrl + media_feature.media_splash" class="card-img-top pointer">
            </a>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'api_img'">
          <a data-bs-toggle="modal" [href]="'#modal-' + media_feature.identifier + idx" role="button">
            <img [src]="apiMapsUrl + media_feature.media" class="card-img-top pointer">
          </a>
          <ng-container *ngTemplateOutlet="imgModal; context: {pictureUrl: apiMapsUrl + media_feature.media, activityId: media_feature.identifier, pictureId: idx}"></ng-container>
        </ng-container>

      </ng-container>

      <div class="my-2">
        <span [class]="'badge rounded-pill mx-2 text-white ' + 'bg-color-' + media_feature.category_id" >{{ categoriesActivity[media_feature.category_id] }}</span>
        <a [routerLink]="[experiencesRoute]" [fragment]="media_feature.identifier"><span class="badge rounded-pill" [style]="'background-color:' + media_feature.color + ';color: white'">{{media_feature.name}}</span></a>
        <span [class]="'badge rounded-pill my-1 mx-2 text-white ' + media_feature.type">
          <fa-icon class="me-1" [icon]="typeStyleMapping[media_feature.type].icon"></fa-icon>{{typeStyleMapping[media_feature.type].title}}
        </span>
      </div>

      <p class="card-text mt-2 small">{{media_feature.description}}</p>

      <ul class="">
        <li class="card-text small" *ngIf="media_feature.data">
          <span>Données: </span>
          <span class="fst-italic">{{media_feature.data}}</span>
        </li>
        <li class="card-text small" *ngIf="media_feature.data">
          <span>Outils: </span>
          <span class="fst-italic">{{media_feature.tools}}</span>
        </li>
      </ul>

    </div>

    <div class="card-footer">
    </div>

  </div>
</ng-template>


<ng-template #imgModal let-pictureUrl=pictureUrl let-activityId=activityId let-pictureId=pictureId>

  <div class="modal" tabindex="-1" [id]="'modal-' + activityId + pictureId" data-bs-dismiss="modal" data-bs-backdrop="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">

      <div class="modal-body">
        <img [src]="pictureUrl | safeUrl" class="pointer img-size m-auto p-1">
      </div>

    </div>
  </div>


</ng-template>



<ng-template #galleryControler>
  <div class="d-flex flex-column flex-xl-row justify-content-around align-items-center">
    <div class="col-12 col-xl-3 mx-2">

      <h6>Filtrage par catégories</h6>

      <div class="btn-toolbar my-2 d-flex justify-content-center" role="toolbar">

        <div class="btn-group my-1 mx-1" role="group">
          <button class="btn btn-secondary btn-sm" [ngClass]="currentCategory === null ? 'fw-bolderer' : 'inactive'" (click)="this.resetGallery()">
            <fa-icon class="me-2" [icon]="tagIcon"></fa-icon>Tous
          </button>
        </div>

        <div class="btn-group my-1 mx-1" role="group">
          <button class="btn btn-secondary btn-sm" [ngClass]="currentCategory === 'job' ? 'fw-bolderer' : 'inactive'" (click)="getGalleryDataByCategory('job')">
            <fa-icon class="job_color me-2" [icon]="tagIcon"></fa-icon>Expériences
          </button>
        </div>

        <div class="btn-group my-1 mx-1" role="group">
          <button class="btn btn-secondary btn-sm" [ngClass]="currentCategory === 'personal_project' ? 'fw-bolderer' : 'inactive'" (click)="getGalleryDataByCategory('personal_project')">
            <fa-icon class="personal_project_color me-2" [icon]="tagIcon"></fa-icon>Projets personnels
          </button>
        </div>

        <div class="btn-group my-1 mx-1" role="group">
          <button class="btn btn-secondary btn-sm" [ngClass]="currentCategory === 'volunteer' ? 'fw-bolderer' : 'inactive'" (click)="getGalleryDataByCategory('volunteer')">
            <fa-icon class="volunteer_color me-2" [icon]="tagIcon"></fa-icon>Bénévolat
          </button>
        </div>

      </div>
    </div>

    <div class="col-12 col-xl-4 mx-2">

      <h6>Filtrage par activités</h6>

      <div class="my-2 activities-container">
        <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
          <ng-container *ngFor="let activity of activities | keyvalue">
            <div class="btn-group my-1 me-1" role="group">
              <button (click)="getGalleryDataByActivity(activity.key)" type="button" [id]="activity.key" class="btn btn-secondary btn-sm" [ngClass]="{'active fw-bolder': currentActivity === activity.key}">
                {{ activity.value}}
              </button>
            </div>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="col-12 col-xl-3 mx-2">

      <h6>Filtrage par types d'illustration</h6>

      <div class="d-flex flex-row justify-content-center my-2 mb-1 flex-wrap">
        <div class="btn-group">
          <ng-container *ngFor="let type of mediaTypes">
            <button (click)="getGalleryDataByType(type)" type="button" [title]="typeStyleMapping[type].title" [id]="type" class="btn btn-secondary btn-sm" [ngClass]="{'active fw-bolder': currentType === type}">
              <fa-icon [icon]="typeStyleMapping[type].icon"></fa-icon>
            </button>
          </ng-container>
        </div>
      </div>

    </div>


    </div>
</ng-template>
