<article id="galleryHome" class="gallery" *ngIf="isDataAvailable" [@fadeInOut]>

  <app-grid-container
    [features]="galleryItems"
  ></app-grid-container>

  <div id="legendContainer">

    <div class="legend-container-buttons">
      <button class="btn-sm-dark" type="button" checked autocomplete="off" (click)="showHideLegend()">
        <fa-icon [icon]="tagsIcon"></fa-icon>
        Légende
      </button>
    </div>

    <div class="legend-container-content" *ngIf="isLegendDisplayed">
      <ng-container *ngTemplateOutlet="galleryControler"></ng-container>
    </div>

    <div class="legend-container-content" *ngIf="!isLegendDisplayed">
    </div>

  </div>

</article>



<ng-template #galleryControler>
  <div class="d-flex flex-column flex-xl-row justify-content-around align-items-center">
    <div class="col-12 col-xl-3 mx-2">

      <h6>Filtrage par catégories</h6>

      <div class="btn-toolbar my-2 d-flex justify-content-center" role="toolbar">

        <div class="btn-group my-1 mx-1" role="group">
          <button class="btn-sm-secondary" type="button" id="allButton" [ngClass]="currentCategory === null ? 'fw-bolde' : 'inactive'" (click)="this.resetGallery()">
            <fa-icon [icon]="tagIcon"></fa-icon>Tous
          </button>
        </div>

        <div class="btn-group my-1 mx-1" role="group">
          <button class="btn-sm-secondary" type="button" [id]="'all' + currentCategory" [ngClass]="currentCategory === 'job' ? 'active' : 'inactive'" (click)="getGalleryDataByCategory('job')">
            <fa-icon class="text-job" [icon]="tagIcon"></fa-icon>Expériences
          </button>
        </div>

        <div class="btn-group my-1 mx-1" role="group">
          <button class="btn-sm-secondary" type="button" [id]="'all' + currentCategory" [ngClass]="currentCategory === 'personal_project' ? 'active' : 'inactive'" (click)="getGalleryDataByCategory('personal_project')">
            <fa-icon class="text-personal_project" [icon]="tagIcon"></fa-icon>Projets personnels
          </button>
        </div>

        <div class="btn-group my-1 mx-1" role="group">
          <button class="btn-sm-secondary" type="button" [id]="'all' + currentCategory" [ngClass]="currentCategory === 'volunteer' ? 'active' : 'inactive'" (click)="getGalleryDataByCategory('volunteer')">
            <fa-icon class="text-volunteer" [icon]="tagIcon"></fa-icon>Bénévolat
          </button>
        </div>

      </div>
    </div>

    <div class="col-12 col-xl-4 mx-2">

      <h6>Filtrage par activités</h6>

      <div class="my-2 activities-container">
        <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
          <ng-container *ngFor="let activity of activities | keyvalue">
            <div class="btn-group my-1 me-1" role="group">
              <button (click)="getGalleryDataByActivity(activity.key)" type="button" [id]="activity.key" class="btn-sm-secondary" [ngClass]="{'active': currentActivity === activity.key}">
                {{ activity.value}}
              </button>
            </div>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="col-12 col-xl-3 mx-2">

      <h6>Filtrage par types d'illustration</h6>

      <div class="d-flex flex-row justify-content-center my-2 mb-1 flex-wrap">
        <div class="btn-group">
          <ng-container *ngFor="let type of mediaTypes">
            <button (click)="getGalleryDataByType(type)" type="button" [title]="typeStyleMapping[type].title" [id]="type" class="btn-sm-secondary" [ngClass]="{'active': currentType === type}">
              <fa-icon [icon]="typeStyleMapping[type].icon"></fa-icon>
            </button>
          </ng-container>
        </div>
      </div>

    </div>


    </div>
</ng-template>