<section id="jobs" class="col-lg-12 section mb-5">
  <h5 class="font-weight-bold mb-3">
    <fa-icon class="mr-2" [icon]="faGlobeEurope"></fa-icon>
    Expériences
  </h5>

  <div [id]="job.identifier" class="item card mb-3" *ngFor="let job of jobsData">
    <div class="card-body">
      <div class="col-lg-12">

        <div class="row">

          <div class="col-lg-9 mb-3">
            <h5 class="font-weight-bold">{{job.title}}</h5>
          </div>

          <div class="col-lg-3">
            <a class="btn btn-dark mr-2 float-right" [routerLink]="['/resume']" fragment="top" title="Haut de page"><fa-icon [icon]="faArrowAltCircleUp"></fa-icon></a>
            <div *ngIf="job.pictures; then jobsShorcutGallery"></div>
              <ng-template #jobsShorcutGallery>
                <a class="btn btn-warning mr-2 float-right" [routerLink]="['/gallery']" [fragment]="job.identifier" target="_blank" title="Accès à la galerie"><fa-icon [icon]="faImages"></fa-icon></a>
              </ng-template>
          </div>
        </div>

        <div class="row mb-2">

          <div class="col-lg-3 justify-content-around text-center" data-toggle="collapse" [attr.data-target]="'#collapse-' + job.identifier">
            <img class="img-fluid rounded mx-auto d-block mb-2" [src]="apiImgUrl + job.img_company"/>
          </div>

          <div class="col-lg-9 align-self-center">
              <h6 class="font-weight-bold">{{job.company}}</h6>
              <div>
                <a [id]="'location_' + job.identifier" role="button">
                  <fa-icon class="mr-2 text-danger" [icon]="faMapMarkerAlt"></fa-icon>
                </a>{{job.location}}
              </div>
              <div *ngIf="job.current; then currentJob else pastJob"></div>
                <ng-template #pastJob>
                  <div>{{job.contract}} - du {{ job.start_date | date: 'MM-yyyy' }} au {{ job.end_date | date: 'MM-yyyy' }} ({{job.duration}})</div>
                </ng-template>
                <ng-template #currentJob>
                  <div>{{job.contract}} - du {{ job.start_date | date: 'MM-yyyy' }} à aujourd'hui ({{job.duration}})</div>
                </ng-template>
          </div>
        </div>

        <div class="row collapse-item collapse show" [id]="'collapse-' + job.identifier">

          <div *ngIf="job.themes_keywords || job.technics_keywords ; then jobThemes"></div>
            <ng-template #jobThemes>
              <div class="col-lg-12 mb-3">
                <h5>Thèmes</h5>
                <div class="col-lg-12 pl-3">
                  <div *ngIf="job.technics_keywords; then jobTechnics"></div>
                  <ng-template #jobTechnics>
                    <span class="badge badge-primary mr-2" [style]="'background-color:' + item.value"
                      *ngFor="let item of job.technics_keywords | keyvalue"
                    >{{ item.key }}</span>
                  </ng-template>
                  <div *ngIf="job.themes_keywords; then jobThemes"></div>
                  <ng-template #jobThemes>
                    <span class="badge badge-primary mr-2" [style]="'background-color:' + item.value"
                      *ngFor="let item of job.themes_keywords | keyvalue"
                    >{{ item.key }}</span>
                  </ng-template>
                </div>
              </div>
            </ng-template>


          <div class="col-lg-12 mb-2">
            <h5>Contexte</h5>
            <div class="col-lg-12 pl-3">
              <p class="text-justify">{{ job.presentation }}</p>
            </div>
          </div>

          <div class="col-lg-12 mb-2">
              <h5>Missions</h5>
              <div class="col-lg-12 pl-3">
                <ul>
                  <li class="text-justify" *ngFor="let task of job.tasks">{{ task }}</li>
                </ul>
              </div>
          </div>

          <div class="col-sm-12">
            <h5>Environnement</h5>
            <div class="col-lg-12 pl-3">
              <ul class="row">
                  <li class="col-sm-4" *ngFor="let tool of job.tools | keyvalue">{{ tool.key }}</li>
              </ul>
            </div>
            <div *ngIf="job.subelements_tools; then jobSubTools"></div>
            <ng-template #jobSubTools>
              <div class="col-lg-12 pl-3">
                  <span class="u">Détails</span>
                  <ul class="">
                    <li *ngFor="let feat of job.subelements_tools">{{ feat.name }}: <em>{{ feat.details }}</em></li>
                  </ul>
              </div>
            </ng-template>
          </div>

          <div *ngIf="job.trainings ; then jobTrainings"></div>
            <ng-template #jobTrainings>
              <div class="col-lg-12 mb-2">
                <h5>Formations</h5>
                <div class="col-lg-12 pl-3">
                  <ul class="text-justified">
                    <li *ngFor="let training of job.trainings"><span class="font-weight-bold">{{ training.year }}</span><span> - {{ training.name }} par {{ training.trainer }}</span></li>
                  </ul>
                </div>
              </div>
            </ng-template>
        </div>

      </div>
    </div>
  </div>
</section>
