.pointer {
  cursor: pointer;
}

// .layer:hover, .feature:hover {
//   font-weight: bold;
// }

.disabled button {
  color: grey!important
}

.toast {
  opacity: 0;
  display: unset!important;
  -webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
  }

.faded {
  opacity: 1!important;
	-webkit-transition: opacity 0.5s!important;
	transition: opacity 0.5s!important;
}
