<nav 
  id="leftSideBar" 
  *ngIf="generalData" 
  [ngClass]="sideBarCollapsed ? 'inactive' : 'active'"
  class="
    sticky-top
    vh-100
    bg-dark bg-gradient
  "
  >
  
  <div 
    id="leftSideBar__container"
    class="
      d-flex flex-column
      h-100
      mx-2
      text-center
    "
  >
    <div id="leftSideBar__container__header">

      <img 
        [src]="imageProfile"
        class="profil-img
          m-3
          rounded-circle
        "
      >

      <div id="leftSideBar__container__header__profil" *ngIf="sideBarCollapsed">
        <h4 class="title-name">{{ generalData.first_name }} {{ generalData.last_name }}</h4>
        <div class="badge-title-light">{{ generalData.job }}</div>

        <a class="badge-title-warning" [title]="legacyResumePage.title" [routerLink]="legacyResumePage.route">
          {{legacyResumePage.verbose_title}}
        </a>

      </div>

      <div id="leftSideBar__container__header__shortname" *ngIf="!sideBarCollapsed" class="title-name">
        {{ generalData.first_name[0] }}{{ generalData.last_name[0] }}
      </div>

      <h6 *ngIf="sideBarCollapsed" class="text-white">Contact</h6>

      <div id="leftSideBar__container__header__contact" *ngIf="contactData">
        <a class="
            badge 
            bg-white 
            rounded-pill
            mx-1
          " [href]="'mailto:' + linkBuilt" (mouseover)="reverse(contactData.mail)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="text-black" [icon]="emailIcon" size="xs"></fa-icon>
        </a>

        <a class="
            badge 
            bg-white 
            rounded-pill
            mx-1
          " [href]="linkBuilt" (mouseover)="reverse(contactData.linkedin)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="text-black" [icon]="linkedinIcon" size="xs"></fa-icon>
        </a>

        <a class="
            badge 
            bg-white 
            rounded-pill
            mx-1
          " [href]="linkBuilt" (mouseover)="reverse(contactData.github)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="text-black" [icon]="githubIcon" size="xs"></fa-icon>
        </a>

      </div>
    </div>

    <div id="leftSideBar__container__body" class="mt-3">

      <ul class="list-unstyled align-items-center" id="pages" [ngClass]="sideBarCollapsed ? 'mx-3' : 'd-flex flex-column'">
        <ng-container *ngTemplateOutlet="topicPagesBuilder; context:{topicPages: topicPages}"></ng-container>
      </ul>
    </div>

    <div id="leftSideBar__container__footer" class="mt-auto mb-3">

      <ul class="list-group justify-content-center mb-2" [ngClass]="sideBarCollapsed ? 'list-group-horizontal' : ''">

        <li>
          <a class="text-white" id="infosLink" data-bs-toggle="modal" data-bs-target="#websiteInfos">
            <fa-icon [icon]="infoIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a class="text-danger" id="issueLink" container="body" [href]="GithubBugIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactBugMessage" triggers="mouseenter:mouseleave">
            <fa-icon [icon]="bugIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a class="text-warning" id="questionLink" container="body" [href]="GithubQuestionIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactHelpMessage" triggers="mouseenter:mouseleave">
            <fa-icon [icon]="helpIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a class="text-success" id="enhancementLink" container="body" [href]="GithubEnhancementIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactFeatureMessage" triggers="mouseenter:mouseleave">
            <fa-icon [icon]="exclamationIcon" size="1x"></fa-icon>
          </a>
        </li>

      </ul>

      <div class="copyright
        text-white
      " *ngIf="sideBarCollapsed">
        © {{currentYear}} {{ generalData.first_name }} {{ generalData.last_name }}
      </div>

      <div class="copyright
        text-white
      " *ngIf="!sideBarCollapsed">
        © {{currentYear}} {{ generalData.first_name[0] }}{{ generalData.last_name[0] }}
      </div>

    </div>
  </div>
</nav>


<ng-template #topicPagesBuilder let-topicPages='topicPages'>
  <ng-container *ngFor="let page of topicPages">

      <li class="page
        border-bottom
      ">
        <ng-container *ngIf="page.route">
          <a class="
            text-warning text-decoration-none
            d-flex flex-row p-2
            text-start
          " [title]="page.title" [routerLink]="page.route" [routerLinkActive]="['active']">
            <ng-container *ngTemplateOutlet="linkTopicStyle; context:{page: page}"></ng-container>
          </a>
        </ng-container>
        <ng-container *ngIf="page.url">
          <a class="
            text-warning text-decoration-none
            d-flex flex-row p-2
            text-start
          " [href]="page.url" target="_blank" rel="noopener noreferrer">
            <ng-container *ngTemplateOutlet="linkTopicStyle; context:{page: page}"></ng-container>
          </a>
        </ng-container>
      </li>

  </ng-container>
</ng-template>


<ng-template #linkTopicStyle  let-page='page'>
  <div class="icon w-25 text-center">
    <fa-icon [icon]="page.icon"></fa-icon>
  </div>
  <span class="page-name w-75" *ngIf="sideBarCollapsed">{{page.title}}</span>
</ng-template>













