<nav id="sideBar" *ngIf="generalData" [ngClass]="sideBarCollapsed ? 'inactive' : 'active'">
  
  <div id="sideBarContainer">
    <div id="header">

      <img class="profil-img" [src]="imageProfile">

      <div id="profil" *ngIf="sideBarCollapsed">
        <h4 class="title-name">{{ generalData.first_name }} {{ generalData.last_name }}</h4>
        <div class="job-title-badge">{{ generalData.job }}</div>

        <a class="resume-a4-badge" [title]="legacyResumePage.title" [routerLink]="legacyResumePage.route">
          {{legacyResumePage.verbose_title}}
        </a>

      </div>

      <div id="shortname" *ngIf="!sideBarCollapsed">
        {{ generalData.first_name[0] }}{{ generalData.last_name[0] }}
      </div>


      <ul id="contact" *ngIf="contactData">
        <h6 id="contactTitle" *ngIf="sideBarCollapsed">Contact</h6>

        <li>
          <a [href]="'mailto:' + linkBuilt" (mouseover)="reverse(contactData.mail)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
            <fa-icon class="text-black" [icon]="emailIcon" size="xs"></fa-icon>
          </a>
        </li>

        <li>
          <a [href]="linkBuilt" (mouseover)="reverse(contactData.linkedin)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
            <fa-icon class="text-black" [icon]="linkedinIcon" size="xs"></fa-icon>
          </a>
        </li>

        <li>
          <a [href]="linkBuilt" (mouseover)="reverse(contactData.github)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
            <fa-icon class="text-black" [icon]="githubIcon" size="xs"></fa-icon>
          </a>
        </li>

      </ul>
    </div>

    <div id="body">

      <ul id="pages" [ngClass]="sideBarCollapsed ? '' : 'd-flex flex-column align-items-center'">
        <ng-container *ngTemplateOutlet="topicPagesBuilder; context:{topicPages: topicPages}"></ng-container>
      </ul>
    </div>

    <div id="footer" class="mt-auto mb-3">

      <ul id="warningBbuttons" class="list-group " [ngClass]="sideBarCollapsed ? 'list-group-horizontal' : ''">

        <li>
          <a id="infos" data-bs-toggle="modal" data-bs-target="#websiteInfos">
            <fa-icon [icon]="infoIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a id="issue" container="body" [href]="GithubBugIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactBugMessage" triggers="mouseenter:mouseleave">
            <fa-icon [icon]="bugIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a id="question" container="body" [href]="GithubQuestionIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactHelpMessage" triggers="mouseenter:mouseleave">
            <fa-icon [icon]="helpIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a id="enhancement" container="body" [href]="GithubEnhancementIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactFeatureMessage" triggers="mouseenter:mouseleave">
            <fa-icon [icon]="exclamationIcon" size="1x"></fa-icon>
          </a>
        </li>

      </ul>

      <div class="copyright" *ngIf="sideBarCollapsed">
        © {{currentYear}} {{ generalData.first_name }} {{ generalData.last_name }}
      </div>

      <div class="copyright"  *ngIf="!sideBarCollapsed">
        © {{currentYear}} {{ generalData.first_name[0] }}{{ generalData.last_name[0] }}
      </div>

    </div>
  </div>
</nav>


<ng-template #topicPagesBuilder let-topicPages='topicPages'>
  <ng-container *ngFor="let page of topicPages">

      <li class="page">
        <ng-container *ngIf="page.route">
          <a [title]="page.title" [routerLink]="page.route" [routerLinkActive]="['active']">
            <ng-container *ngTemplateOutlet="linkTopicStyle; context:{page: page}"></ng-container>
          </a>
        </ng-container>
        <ng-container *ngIf="page.url">
          <a [href]="page.url" target="_blank" rel="noopener noreferrer">
            <ng-container *ngTemplateOutlet="linkTopicStyle; context:{page: page}"></ng-container>
          </a>
        </ng-container>
      </li>

  </ng-container>
</ng-template>


<ng-template #linkTopicStyle  let-page='page'>
  <div class="icon">
    <fa-icon [icon]="page.icon"></fa-icon>
  </div>
  <span class="page-name" *ngIf="sideBarCollapsed">{{page.title}}</span>
</ng-template>













