<h5 class="title-tick-skills">Compétences</h5>


<div [@fadeInOut] id="jobSkillsWidget" *ngIf="tabView == 'job'">
  <ng-container *ngFor="let skill of jobSkillsCategories">
    <ng-container *ngTemplateOutlet="skillDetails; context:{title:skill.category, category: skill.category, skills: skill.skills}"></ng-container>
  </ng-container>
</div>

<div [@fadeInOut] id="personal_projectSkillsWidget" *ngIf="tabView == 'personal-project'">
  <ng-container *ngFor="let skill of projectSkillsCategories">
    <ng-container *ngTemplateOutlet="skillDetails; context:{title:skill.category, category: skill.category, skills: skill.skills}"></ng-container>
  </ng-container>
</div>

<div [@fadeInOut] id="volunteerSkillsWidget" *ngIf="tabView == 'volunteer'">
  <ng-container *ngFor="let skill of volunteerSkillsCategories">
    <ng-container *ngTemplateOutlet="skillDetails; context:{title:skill.category, category: skill.category, skills: skill.skills}"></ng-container>
  </ng-container>
</div>


<ng-template #skillDetails let-title='title' let-category='category', let-skills="skills">
  <set-card-container
    [id]="'skills__' + category"
    [title]="skillsCategories[category]"
    [headerClass]="'pointer text-white bg-' + category"
    cardClass="m-3"
    data-bs-toggle="collapse" [attr.data-bs-target]="'.' + category + '-multi-collapse'"
  >

    <ng-template #cardBodyTemplate>

      <div class="skills-container">

        <div class="skill" *ngFor="let skill of skills; let idx = index; trackBy: trackByMethod">
          <h6 [ngClass]="" class="pointer" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + category + idx" [attr.aria-expanded]="" [attr.aria-controls]="'#collapse' + category + idx"><a>
            {{ skill.name }}</a></h6>

          <div [ngClass]="" [class]="category + '-multi-collapse'" [attr.id]="'collapse' + category + idx">
            <ul>
              <li class="small" *ngFor="let sub_skill of skill.sub_skills">
                <span>{{ sub_skill }}</span>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </ng-template>
    
  </set-card-container>

</ng-template>
