<ng-container *ngTemplateOutlet="skillDetails; context:{title:'Thématique', category:'themes'}"></ng-container>
<ng-container *ngTemplateOutlet="skillDetails; context:{title:'Techniques', category:'technics'}"></ng-container>
<ng-container *ngTemplateOutlet="skillDetails; context:{title:'Outils', category:'tools'}"></ng-container>



<ng-template #skillDetails let-title='title' let-category='category'>

  <section [id]="'skills__' + category" *ngIf="isActivitiesDataAvailable">

      <div [class]="'pointer title-bar-' + category" data-bs-toggle="collapse" [attr.data-bs-target]="'.' + category + '-multi-collapse'">
        <fa-icon [icon]="skillIcon"></fa-icon>
        {{ title }}
      </div>

      <div class="skills-container">

        <div class="skill" *ngFor="let skill of skillsData[category]; let idx = index; trackBy: trackByMethod">
          <h6 [ngClass]="{ 'collapsed':!skill.active || !skill.enabled, 'pointer':skill.active }" class="" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + category + idx" [attr.aria-expanded]="{ 'true':skill.active, 'false':!skill.active}" [attr.aria-controls]="'#collapse' + category + idx"><a>
            <!-- <fa-icon class="me-2"  clickClass="rotation" [icon]="arrowDownIcon"></fa-icon> -->
            {{ skill.name }}</a></h6>

          <div *ngIf="skill.enabled; then skillDetails"></div>

          <ng-template #skillDetails>
          <div [ngClass]="{ 'show':skill.active }" [class]="'collapse '+ category + '-multi-collapse'" [attr.id]="'collapse' + category + idx">
            <ul>
              <li class="sub-title" *ngFor="let skill_detail of skill.details">
                <span>{{ skill_detail }}</span>
              </li>
            </ul>
          </div>
          </ng-template>

        </div>
      </div>


  </section>

</ng-template>
