<div class="row justify-content-around my-3 text-center text-white my-3">

  <div class="name-container col-lg-3 my-auto">
    <h2 class="fw-bolder">{{ inputProfilData.first_name }} {{ inputProfilData.last_name }}</h2>
    <h5 class="fw-light">{{ inputProfilData.job }}</h5>
    <h5 class="fw-light">{{ inputProfilData.experience_duration }}</h5>
  </div>

  <div class="col-lg-5 my-auto">
    <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="['../short_resume']">
      <fa-icon class="" [icon]="printIcon"></fa-icon>
    </a>
    <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="['/resume']" fragment="presentation">
      <fa-icon class="me-1 text-white" [icon]="presIcon"></fa-icon>Présentation
    </a>
    <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="['/resume']" fragment="navigation">
      <fa-icon class="me-1 text-white" [icon]="navIcon"></fa-icon>Navigation
    </a>
    <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="['/resume']" fragment="jobs">
      <fa-icon class="me-1 text-white" [icon]="jobIcon"></fa-icon>Expériences
    </a>
    <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="['/resume']" fragment="volunteers">
      <fa-icon class="me-1 text-white" [icon]="volunteerIcon"></fa-icon>Bénévolat
    </a>
    <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="['/resume']" fragment="personal_projects">
      <fa-icon class="me-1 text-white" [icon]="projectIcon"></fa-icon>Projets personnels
    </a>
    <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="['/resume']" fragment="publications">
      <fa-icon class="me-1 text-white" [icon]="publishIcon"></fa-icon>Publications
    </a>
  </div>

  <div class="col-lg-3 my-auto">
    <div class="row justify-content-center">

      <div class="col-2 mb-3">
        <a class="" [href]="'mailto:' + linkBuilt" (mouseover)="reverse(inputContactData.mail)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="me-2 text-white" [icon]="emailIcon" size="2x"></fa-icon>
        </a>
      </div>

      <div class="col-2 mb-3">
        <a class="" [href]="linkBuilt" (mouseover)="reverse(inputContactData.linkedin)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="me-2 text-white" [icon]="linkedinIcon" size="2x"></fa-icon>
        </a>
      </div>

      <div class="col-2 mb-3">
        <a class="" [href]="linkBuilt" (mouseover)="reverse(inputContactData.github)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="me-2 text-white" [icon]="githubIcon" size="2x"></fa-icon>
        </a>
      </div>

    </div>
  </div>

</div>
