<div class="row justify-content-around my-3 text-center text-white my-3">

  <div class="name-container col-lg-3 my-auto">
    <h2 class="fw-bolder">{{ inputProfilData.first_name }} {{ inputProfilData.last_name }}</h2>
    <h5 class="fw-light">{{ inputProfilData.job }}</h5>
    <h5 class="fw-light">{{ inputProfilData.experience_duration }}</h5>
  </div>

  <div class="col-lg-5 my-auto">

    <ng-container *ngFor="let topic of this.resumeTopics">

      <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="topic.route" *ngIf="topic.id === 'print'">
        <fa-icon class="me-1" [icon]="topic.icon"></fa-icon>{{ topic.title }}
      </a>

      <a class="btn btn-secondary me-2 mb-2" role="button" [routerLink]="topic.route" [fragment]="topic.fragment" *ngIf="topic.id !== 'print'">
        <fa-icon class="me-1" [icon]="topic.icon"></fa-icon>{{ topic.title }}
      </a>
    </ng-container>

  </div>

  <div class="col-lg-3 my-auto">
    <div class="row justify-content-center">

      <div class="col-2 mb-3">
        <a class="" [href]="'mailto:' + linkBuilt" (mouseover)="reverse(inputContactData.mail)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="me-2 text-white" [icon]="emailIcon" size="2x"></fa-icon>
        </a>
      </div>

      <div class="col-2 mb-3">
        <a class="" [href]="linkBuilt" (mouseover)="reverse(inputContactData.linkedin)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="me-2 text-white" [icon]="linkedinIcon" size="2x"></fa-icon>
        </a>
      </div>

      <div class="col-2 mb-3">
        <a class="" [href]="linkBuilt" (mouseover)="reverse(inputContactData.github)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
          <fa-icon class="me-2 text-white" [icon]="githubIcon" size="2x"></fa-icon>
        </a>
      </div>

    </div>
  </div>

</div>
