#mapContainer {
    @extend .d-flex, .flex-column;
    pointer-events: none;

    #mapSources{
        position: fixed;
        right: 0em;

        .attribution{
            @extend .d-flex, .flex-column;
            @include m(1);
            @extend .d-none, .d-sm-block;

        }
        .map-sources{
            @extend .d-flex, .flex-column;
            @include m(0);  
            @extend .justify-content-end;

            span {
                @include ml(auto!important);
                @include m(1);  
            }

            #overviewMap {
                @extend .d-none, .d-sm-block;
            }
            #legendScale {
                font-size: 12px!important;
                @include p(2);
            }
        }
    }



}

#mapContent {
    @extend .d-flex, .flex-row;
    min-height: 100vh;
    pointer-events: none;
}



