// TODO remove/refactor needed

@function getColor($value) {
    @if $value == "themes" {
      @return $themes-color;
    }
    @if $value == "technics" {
      @return $technics-color;
    }
    @if $value == "tools" {
      @return $tools-color;
    }
    @if $value == "job" {
      @return $job-color;
    }
    @if $value == "personal_project" {
      @return $personal-project-color;
    }
    @if $value == "volunteer" {
      @return $volunteer-color;
    }
    @if $value == "education" {
      @return $education-color;
    }
    @if $value == "gallery" {
      @return $gallery-color;
    }
    @if $value == "external" {
      @return $less-dark;
    }
  }



  
@each $name in 'education' 'personal_project' 'job' 'volunteer' 'gallery' 'external' {
    .#{$name}_color {
      color: getColor($name);
    }
  
    circle.#{$name} {
      fill: getColor($name)!important;
  
      &.selected {
        stroke: black!important;
        stroke-width: 2px!important;
      }
  
      &.disabled {
        fill: $disabled-color!important;
      }
  
      &.invisible {
        visibility: hidden;
      }
    }
  
    .bg-color-#{$name} {
      background-color: getColor($name)!important;
      color: white;
      opacity: 1!important;
    }
  
  }
  
  
  @each $name in 'themes' 'technics' 'tools' {
  
    circle.#{$name} {
      stroke: getColor($name);
      stroke-width: 5;
      fill: white;
  
      &.invisible {
        visibility: hidden;
      }
    }
  
    .bg-color-#{$name} {
      background-color: getColor($name);
      &:hover {
        background-color: lighten(getColor($name), 7.5%);
        border-color: getColor($name);
      }
    }
  }