// TODO clean it

$enable-responsive-font-sizes: true;
$enable-shadows: true;

// Variables  
$very-dark: #2a2e33;
$less-dark: #495057;
$personal-project-color: rgba(255, 127, 0);
$job-color: rgba(225, 0, 1);
$volunteer-color: rgba(98, 0, 255);
$education-color: rgba(0, 144, 29);
$disabled-color: #b7b6b6;
$technics-color: #3b77a1;
$themes-color: #76a02f;
$tools-color: #302e2e;

@function get_color($value) {
  @if $value == "themes" {
    @return $themes-color;
  }
  @if $value == "technics" {
    @return $technics-color;
  }
  @if $value == "tools" {
    @return $tools-color;
  }
  @if $value == "job" {
    @return $job-color;
  }
  @if $value == "personal_project" {
    @return $personal-project-color;
  }
  @if $value == "volunteer" {
    @return $volunteer-color;
  }
  @if $value == "education" {
    @return $education-color;
  }
}


body {
  font-size: 15px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


// .circle {
//   border-radius: 50%;
// }

.text-justify {
  text-align: justify;
}



.container-width-extended {
  max-width: 1700px;
}

.bg-very-dark {
  background-color: $very-dark;
}

.bg-less-dark {
  background-color: $less-dark;
}

.img-thumbnail {
  width: 30vw;
}

/* nav bar height */
* {
  scroll-margin-top: 75px;
}

#gotop-button {
  z-index: 1;
}


/* style navigation chart and maps */

.legend_graph_title { /* here due to svg */
  font-size: 12px;
  dominant-baseline: middle;
  font-weight: bolder;
}


.grouper_jobs, .grouper_projects, .grouper_volunteers {
  font-family: 'Font Awesome 5 Free';
  text-anchor: middle;
}


@each $name in 'education' 'personal_project' 'job' 'volunteer' {
  .#{$name}_color {
    color: get_color($name);
  }

  circle.#{$name} {
    fill: get_color($name);

    &.selected {
      stroke: black!important;
      stroke-width: 2px!important;
    }

    &.disabled {
      fill: $disabled-color;
    }

    &.invisible {
      visibility: hidden;
    }
  }

  .bg-color-#{$name} {
    background-color: get_color($name);
    color: white;
    opacity: 1!important;
  }
  .btn-outline-#{$name} {
    border-color: get_color($name);
    &:hover {
      background-color: lighten(get_color($name), 7.5%);
      color: #ffffff!important;
      border-color: get_color($name);
    }
  }

}


@each $name in 'themes' 'technics' 'tools' {

  circle.#{$name} {
    stroke: get_color($name);
    stroke-width: 5;
    fill: white;

    &.invisible {
      visibility: hidden;
    }
  }

  .bg-color-#{$name} {
    background-color: get_color($name);
    &:hover {
      background-color: lighten(get_color($name), 7.5%);
      border-color: get_color($name);
    }
  }
}


