<div class="container-fluid" *ngIf="isGeodataCanBeDisplayed">


  <div class="row legend-container justify-content-between">

    <div class="col-9">
      <button class="btn btn-info mr-2" [ngbPopover]="helpPopup" popoverTitle="Carte" placement="top-left"><fa-icon [icon]="helpIcon"></fa-icon></button>

      <button class="btn btn-dark mr-2" type="button" checked autocomplete="off" (click)="showHideLegend()">
        <fa-icon class="" [icon]="tagIcon"></fa-icon>
        Légende
      </button>
      <button class="btn btn-warning mr-2" title="Centrer" type="button" checked autocomplete="off" (click)="zoomOnData()">
        <fa-icon class="" [icon]="centerIcon"></fa-icon>
      </button>
    </div>

    <div class="col-3 my-auto">
      <div class="map-sources">
        <div id="attribution" class="float-right"></div>
        <div id="legend-scale" class="float-right"></div>
        </div>
    </div>



    <div class="col-lg-12 legend-content">
      <div class="row justify-content-center">

        <div class="col-lg-5" *ngIf="isLegendDisplayed">
          <app-theme-legend
          ></app-theme-legend>
        </div>

        <div class="col-lg-7">
          <app-time-legend
            [isGeodataCanBeDisplayed]="isGeodataCanBeDisplayed"
            [currentActivityIdSelected]="fragmentValue"
          ></app-time-legend>


        </div>

      </div>

    </div>



  </div>
</div>


<div [id]="'popup-feature-' + feature.properties.id" class="item card shadow map-popup" *ngFor="let feature of geoFeaturesData">
  <div class="card-body">
    <div class="row justify-content-around">

      <div class="col-lg-12 mb-3">
        <h6 class="font-weight-bold">{{feature.properties.title}}</h6>
      </div>
    </div>

    <div class="row justify-content-around">

      <div *ngIf="feature.properties.img_activity !== 'null';then ImgActivity"></div>
      <ng-template #ImgActivity>
        <div class="col-lg-6 mb-2 justify-content-around text-center">
          <img class="img-fluid rounded mx-auto d-block shadow mini-thumbnail-width" [src]="apiImgUrl + feature.properties.img_activity"/>
        </div>
      </ng-template>

      <div class="col-lg-6">
        <h6 class="font-weight-bold small">{{feature.properties.name}}</h6>
        <div>
          <span class="small">
            <fa-icon class="mr-2 text-danger" [icon]="locationIcon"></fa-icon>
          </span>{{feature.properties.location}}
        </div>
      </div>
    </div>
  </div>
</div>

