<div class="container-fluid">

  <div class="row legend-container">
    <div class="col-lg-3" >
      <div class="btn-group-toggle text-white" data-toggle="buttons">
        <label class="btn btn-dark active">
          <input type="checkbox" checked autocomplete="off" (click)="showHideLegend()">
          <fa-icon class="mr-2" [icon]="tagIcon"></fa-icon>
          Légende
        </label>
      </div>
    </div>

    <div class="col-lg-12 legend-content">
      <div class="row">

        <div class="col-lg-4" *ngIf="isLegendDisplayed">
          <app-theme-legend
          ></app-theme-legend>
        </div>

        <div class="col-lg-8" *ngIf="isLegendDisplayed">
          <app-time-legend
          ></app-time-legend>
        </div>
    </div>

  </div>
</div>


<div [id]="'popup-feature-' + feature.properties.id" class="item card shadow map-popup" *ngFor="let feature of geoFeaturesData">
  <div class="card-body">

    <div class="col-lg-12 mb-3">
      <h6 class="font-weight-bold">{{feature.properties.title}}</h6>
    </div>

    <div class="row justify-content-around">

      <div *ngIf="feature.properties.img_activity !== null;then ImgActivity"></div>
      <ng-template #ImgActivity>
        <div class="col-lg-5 justify-content-around text-center">
          <img class="img-fluid rounded mx-auto d-block shadow thumbnail-width" [src]="apiImgUrl + feature.properties.img_activity"/>
        </div>
      </ng-template>

      <div class="col-lg-7 align-self-center">
        <h6 class="font-weight-bold small">{{feature.properties.name}}</h6>
        <div>
          <span class="small">
            <fa-icon class="mr-2 text-danger" [icon]="locationIcon"></fa-icon>
          </span>{{feature.properties.location}}
        </div>
      </div>
    </div>
  </div>
</div>

