<div class="container-fluid" *ngIf="isGeodataCanBeDisplayed">

  <div class="row justify-content-center">
    <div class="col-auto text-center">
      <h4 id="map-title" class="font-weight-bold">Localisation de mes activités</h4>
    </div>
  </div>

  <div class="row legend-container justify-content-between">

    <div class="col-8 mt-auto">
      <button class="btn btn-dark me-2" type="button" checked autocomplete="off" (click)="showHideLegend()">
        <fa-icon class="" [icon]="tagIcon"></fa-icon>
        Légende
      </button>
      <button class="btn btn-warning me-2" title="Centrer" type="button" checked autocomplete="off" (click)="zoomOnData()">
        <fa-icon class="" [icon]="centerIcon"></fa-icon>
      </button>
    </div>

    <div class="col-4 my-auto">
      <div class="map-sources row justify-content-end">

        <div class="col-12">
          <div id="attribution" class="float-end"></div>
        </div>

        <div class="col-12">
          <div id="legend-scale" class="float-end"></div>
        </div>

      </div>
    </div>



    <div class="col-lg-12 legend-content">

      <div class="row justify-content-center">

        <div class="col-lg-4" *ngIf="isLegendDisplayed">
          <app-theme-legend
          ></app-theme-legend>
        </div>

        <div class="col-lg-7">
          <app-time-legend
            [isGeodataCanBeDisplayed]="isGeodataCanBeDisplayed"
            [currentActivityIdSelected]="fragmentValue"
          ></app-time-legend>


        </div>

      </div>

    </div>



  </div>
</div>


<div [id]="'popup-feature-' + feature.properties.id" class="col-md-4 item card shadow map-popup" *ngFor="let feature of geoFeaturesData">
  <div class="card-body">
    <div class="row justify-content-around">

      <div class="col-lg-12 mb-1">
        <h5 class="font-weight-bold">{{feature.properties.title}}</h5>
      </div>
    </div>

    <div class="row justify-content-around">

      <div *ngIf="feature.properties.img_activity !== 'null';then ImgActivity"></div>
      <ng-template #ImgActivity>
        <div class="col-md-4 my-auto justify-content-around text-center">
          <img class="img-fluid rounded mx-auto d-block shadow mini-img-thumbnail" [src]="apiImgUrl + feature.properties.img_activity"/>
        </div>
      </ng-template>

      <div class="col-md-8 my-auto">
        <h6 class="font-weight-bold">{{feature.properties.name}}</h6>
          <span class="small">
            <fa-icon class="me-2 text-danger" [icon]="locationIcon"></fa-icon>
          </span>{{feature.properties.location}}

            <div *ngIf="feature.properties.status === 'InProgress'; then currentJob else pastJob"></div>
              <ng-template #pastJob>
                <div>Du {{ feature.properties.start_date | date: 'MM-yyyy' }} au {{ feature.properties.end_date | date: 'MM-yyyy' }}</div>
              </ng-template>

              <ng-template #currentJob>
                <div>Du {{ feature.properties.start_date | date: 'MM-yyyy' }} à aujourd'hui</div>
              </ng-template>
      </div>
    </div>
  </div>
</div>
