.section {
  background-color: ghostwhite;
  height: 50vh;
  clip-path: polygon( 0 0, 100% 0, 100% 40%, 0 calc(90% - 5vw) );
  transform: rotate(45deg);
}






.main-circle {
  /*overflow: hidden;*/
  border-radius: 50%;
  margin: auto;
  position: fixed;
  width: 45vh;
  height: 45vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: unset!important;
}

.main-circle li {
overflow: hidden;
position: absolute;
top: 0;
right: 0;
width: 50%;
height: 50%;
transform-origin: 0% 100%;
}

.quarter {
  /*background: #cccccc;*/
  transition: all 0.4s;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.quarter:first-child {
  transform: rotate(30deg) skewY(-30deg);
}

.quarter:nth-child(2) {
  transform: rotate(60deg) skewY(-30deg);
}

.quarter:nth-child(3) {
  transform: rotate(120deg) skewY(-30deg);
}

.quarter:nth-child(4) {
  transform: rotate(150deg) skewY(-30deg);
}

.quarter:nth-child(5) {
  transform: rotate(210deg) skewY(-30deg);
}

.quarter:nth-child(6) {
  transform: rotate(240deg) skewY(-30deg);
}

.quarter:nth-child(7) {
  transform: rotate(300deg) skewY(-30deg);
}

.quarter:nth-child(8) {
  transform: rotate(330deg) skewY(-30deg);
}

.center {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #343a40;
  border-radius: 50%;
  text-align: center;
  border: 12px solid #676767;
}


.text-empty {
  font-size: 20px;
  transform: skewY(60deg) rotate(14deg);
}

.text-theme {
  transform: skewY(30deg) rotate(29deg);
}


.enabled {
  background: #f6f6f6;
  cursor: pointer;
}

.disabled {
  background: #cccccc;;
}

.quarter-text {
    position: fixed;
    /*left: -100%;*/
    /*width: 200%;*/
    height: 200%;
    text-align: -webkit-center;
    text-align: -moz-center;
    /*top: 5%;*/
}

.bubble-text{
  background:#139ee0;
  color:#fff;
  padding: 7px 15px;
  border-radius: 3px;
  width: 350px;
}

.bubble-text::after{
  content:"";
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-top: 20px solid #139ee0;
  position: absolute;
  }
