<router-outlet #outlet="outlet"
 (activate)="updatePage(outlet)"
 ></router-outlet>


 <div class="container-fluid g-0" *ngIf="legendEnabled">
  <div class="d-flex flex-column">


    <div class="d-flex flex-row map-content">
    </div>

    <div class="d-flex flex-row legend-container">
      <div class="d-flex flex-column flex-fill">

        <div class="d-flex flex-row align-items-end justify-content-between px-3">

          <div id="legend-buttons" class="d-flex flex-row">
          </div>

          <div class="map-sources d-flex flex-column">
              <div id="attribution___" class="float-end"></div>

              <div id="legend-scale___" class="float-end"></div>
          </div>

        </div>

      <div class="d-flex flex-column flex-lg-row bg-white legend-content text-center py-3 px-1 justify-content-around align-items-center"  style="min-height : 2em;">

        <div class="d-flex justify-content-center">

        </div>

        <div class="flex-grow-1 justify-content-center">

        </div>

      </div>

    </div>
  </div>
</div>
