<div class="container-fluid">

  <div class="row justify-content-around">

    <ul class="main-circle">

      <li class="empty quarter disabled"></li>

      <li id="maps_library" [ngClass]="quartersStatus.maps_library.status ? 'enabled' : 'disabled'"  class="theme quarter" (mouseover)="updateQuarterStatus('maps_library')" (mouseout)="updateQuarterStatus('maps_library')">
          <a class="quarter-text text-theme text-dark" href="/maps_library">
            <fa-icon [icon]="faImages" size="3x" [rotate]="270" ></fa-icon>
          </a>
      </li>

      <li class="empty quarter disabled"></li>

      <li id="notes" [ngClass]="quartersStatus.notes.status ? 'enabled' : 'disabled'"  class="theme quarter" (mouseover)="updateQuarterStatus('notes')" (mouseout)="updateQuarterStatus('notes')">
          <a class="quarter-text text-theme text-dark" href="/notes">
            <fa-icon [icon]="faBookOpen" size="3x" [rotate]="180"></fa-icon>
          </a>
      </li>

      <li class="empty quarter disabled"></li>

      <li id="github" [ngClass]="quartersStatus.github.status ? 'enabled' : 'disabled'"  class="theme quarter" (mouseover)="updateQuarterStatus('github')" (mouseout)="updateQuarterStatus('github')">
          <a class="quarter-text text-theme text-dark" routerLink="resume">
            <fa-icon [icon]="faGithub" size="3x" [rotate]="90"></fa-icon>
          </a>
      </li>

      <li class="empty quarter disabled"></li>

      <li id="resume" [ngClass]="quartersStatus.resume.status ? 'enabled' : 'disabled'"  class="theme quarter" (mouseover)="updateQuarterStatus('resume')" (mouseout)="updateQuarterStatus('resume')">
          <a class="quarter-text text-theme text-dark" routerLink="resume">
            <fa-icon [icon]="faAddressCard" size="3x"></fa-icon>
          </a>
      </li>

      <div id="rose" class="center">
        <div id="rose-content" class="">

          <div class="col-sm-12 text-white">
            <h2 class="">{{ this.author }}</h2>
            <hr id="separator" class="bg-white">
            <p>{{ this.starterMessage }}</p>
            <h3 [hidden]="quarterNotSelected">{{ this.welcomeMessage }}</h3>
            <h3 [hidden]="!quarterNotSelected">{{ this.topicMessage }}</h3>
          </div>

        </div>
      </div>
    </ul>

  </div>

</div>
