<section id="volunteers" class="col-lg-12 section mt-4">
  <h5 class="fw-bolder mb-3">
    <fa-icon class="me-2" [icon]="volunteerIcon"></fa-icon>
    {{ this.activityTitle }}
      <fa-icon class="cursor float-end me-2" [icon]="expandIcon" data-bs-toggle="collapse" data-bs-target=".voluntee_card"></fa-icon>
  </h5>

  <div class="col-lg-11 mx-auto">
    <div [id]="activity.identifier" class="item card mb-3 voluntee_card collapse show" *ngFor="let activity of volunteersData">
      <div class="card-body">
        <div class="col-lg-12">

          <div class="row">

            <div class="col-lg-9 mb-1">
              <h5 class="fw-bolder">{{activity.title}}</h5>
            </div>

            <div class="col-lg-3">

              <a class="btn btn-dark me-2 float-end" (click)="pushActivityId(activity.identifier)" title="Filtrer"><fa-icon [icon]="filterIcon"></fa-icon></a>

              <div *ngIf="activity.medias_found; then jobsShorcutGallery"></div>
                <ng-template #jobsShorcutGallery>
                  <a class="btn btn-warning me-2 float-end" [routerLink]="['/gallery']" [fragment]="activity.identifier" title="Accès à la galerie"><fa-icon [icon]="galleryIcon"></fa-icon></a>
                </ng-template>

            </div>
          </div>

          <div class="row mb-3 justify-content-around">

            <div class="col-3 justify-content-around text-center my-3 cursor" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + activity.identifier">
              <img class="img-fluid rounded mx-auto d-block shadow img-thumbnail" [src]="apiImgUrl + activity.img_company"/>
            </div>

            <div class="col-8 align-self-center">
                <h6 class="fw-bolder">{{activity.company}}</h6>
                <div>
                  <a [id]="'location_' + activity.identifier" role="button" [routerLink]="['/map']" [fragment]="activity.identifier">
                    <fa-icon class="me-2 text-danger" [icon]="locationIcon"></fa-icon>
                  </a>{{activity.location}}
                </div>
                <div *ngIf="activity.status === 'InProgress'; then currentJob else pastJob"></div>
                  <ng-template #pastJob>
                    <div>{{ this.contractValueAlias(activity.contract) }} - du {{ activity.start_date | date: 'MM-yyyy' }} au {{ activity.end_date | date: 'MM-yyyy' }} ({{activity.duration}})</div>
                  </ng-template>

                  <ng-template #currentJob>
                    <div>{{ this.contractValueAlias(activity.contract) }} - du {{ activity.start_date | date: 'MM-yyyy' }} à aujourd'hui ({{activity.duration}})</div>
                  </ng-template>
            </div>
          </div>

          <div class="row collapse-item collapse show" [id]="'collapse-' + activity.identifier">

            <div *ngIf="activity.keywords; then jobThemes"></div>
              <ng-template #jobThemes>
                <div class="col-lg-12 mb-3">
                  <h5>{{ this.themesTitle }}</h5>
                  <div class="col-lg-12 ps-3">
                    <span class="badge me-2" [style]="'background-color:' + item.value"
                      *ngFor="let item of activity.keywords | keyvalue"
                    >{{ item.key }}</span>
                  </div>
                </div>
              </ng-template>


            <div class="col-lg-12 mb-2">
              <h5>{{ this.contextTitle }}</h5>
              <div class="col-lg-12 ps-3">
                <p class="text-justify">{{ activity.presentation }}</p>
              </div>
            </div>

            <div class="col-lg-12 mb-2">
              <h5>{{ this.missionTitle }}</h5>
              <div class="col-lg-12 ps-3" *ngFor="let task of activity.description | keyvalue">
                <h6 *ngIf="task.key !== 'NoTitle'">{{ task.key }}</h6>
                <ul>
                  <li class="text-justify" *ngFor="let description_element of forceArrayType(task.value)">{{ description_element }}</li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12">
              <h5>{{ this.envTitle }}</h5>
              <div class="col-lg-12 ps-3">
                <ul class="row">
                    <li class="col-sm-4" *ngFor="let tool of activity.tools">
                      {{ tool }}
                    </li>
                </ul>
              </div>
              <div *ngIf="activity.subelements_tools; then jobSubTools"></div>
              <ng-template #jobSubTools>
                <div class="col-lg-12 ps-3">
                    <span><u>{{ this.detailsTitle }}</u></span>
                    <ul class="">
                      <li *ngFor="let feat of activity.subelements_tools">{{ feat.sub_skill }}: <em>{{ feat.details }}</em></li>
                    </ul>
                </div>
              </ng-template>
            </div>

            <div *ngIf="activity.trainings ; then jobTrainings"></div>
              <ng-template #jobTrainings>
                <div class="col-lg-12 mb-2">
                  <h5>{{ this.trainingTitle }}</h5>
                  <div class="col-lg-12 ps-3">
                    <ul class="text-justified">
                      <li *ngFor="let training of activity.trainings"><span class="fw-bolder">{{ training.year }}</span><span> - {{ training.name }} par {{ training.trainer }}</span></li>
                    </ul>
                  </div>
                </div>
              </ng-template>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
