<div id="activitiesGraph" #svgGraphChart
  class="w-100"
></div>

<div id="legendGraph" 
  class="
    d-flex flex-column
    text-center
    w-100
  ">
  <div class="d-flex flex-row justify-content-evenly">
    <div id="legendGraph__themes"></div>
    <div id="legendGraph__skills"></div>
  </div>


  <div id="legendGraph__temporal">
    <div class="legend-graph-title">Barre temporelle</div>

    <div id="legendGraph__temporal__slider"
        class="
          d-flex flex-row
          justify-content-center
          align-items-center
        "
      >
      <set-badge-content
        classes="text-bg-primary"
      >{{startDate}}</set-badge-content>
      <input class="w-25" type="range" steps="1" [min]="startDate" [max]="endDate" [value]="currentDate" (change)="updateDate($event)"/>
      <set-badge-content
        classes="text-bg-primary"
      >{{endDate}}</set-badge-content>
    </div>

    <div id="legendGraph__temporal__reset">
      <button class="btn btn-primary" (click)="resetChart()">Reset</button>
    </div>

  </div>

</div>