#sidebar-container {
  position: fixed!important;
  z-index: 1;
  // min-width: 15%;
  overflow-y: hidden;
  height: 100vh;
  background-color: #ffffff;
  width: 20%; // very important ! linked to the left navbar width
  left: 0;
  display: block
}


@media only screen and (max-width: 690px)  {
  #sidebar-container {

    padding: 0;
    left: -40%;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
    display: block;
  }

  #sidebar-container.show{
    left: 0;
    width: 40%;
    box-shadow: 20px 0px 20px 20px #000000c2;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
  }
}


/* Menu item*/
#sidebar-container .list-group a {
  color: black;
  text-decoration: none;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  font-size: small;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

#nav-resume span:hover, #nav-resume span.active {
  color: #56bdf1;
  font-weight: 700;
}


.sidebar-submenu {
  font-size: 0.9rem;
}


#website-title {
  background: #f8f9fa;
}

#website-title span {
  font-weight: 700;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.bg-blue-color {
  background-color: #56bdf1;
}

.bg-green-color {
  background-color: #94B758;
}

.bg-orange-color {
  background-color: #f98e33;
}

.hide-max-width
{
  white-space: nowrap;
}

.hide-max-width.show
{
  display: block;
}

.navbar-expand-md{
  -ms-flex-flow: column wrap !important;
  flex-flow: column wrap !important;
 }

.list-group {
  border-radius: 0rem!Important;
}
