

<div
  class="layer pointer d-flex flex-row small mt-1 mx-1 px-1 border rounded align-items-center"
  [ngClass]="currentLayerIdSelected === layer.id ? 'bg-secondary  bg-gradient bg-opacity-25 fw-bold text-black' :  'text-black'"
  >

  <div class="">
    <input #btnVisible type="checkbox" class="btn-check" [id]="'btnVisible' + layer.id" [checked]="isVisible" (change)="visibleHandler(btnVisible.checked)">
    <label class="btn p-1 bg-transparent border-0" [for]="'btnVisible' + layer.id" [ngClass]="isVisible ? 'text-success' : 'text-danger'">
      <fa-icon class="" [icon]="isVisible ? visibleIcon : invisibleIcon" ></fa-icon>
    </label>
  </div>

  <div
    class="d-flex flex-row pointer justify-content-start align-items-center flex-fill p-1"
    (click)="selectLayer()"
    data-bs-toggle="collapse" [attr.data-bs-target]="'#featuresLayer-' + layer.id" aria-expanded="false" aria-controls="collapseExample"
  >
    <div class="">
      <fa-icon *ngIf="layer.geomType === 'Point'" class="me-2" [icon]="pointIcon"></fa-icon>
      <fa-icon *ngIf="layer.geomType === 'LineString'" class="me-2" [icon]="lineStringIcon"></fa-icon>
      <fa-icon *ngIf="layer.geomType === 'Polygon'" class="me-2" [icon]="polygonIcon"></fa-icon>
    </div>

    <div class="">
      <span>{{ layer.layerName }}</span>
    </div>
  </div>

  <div class="ms-auto d-flex flex-row">

    <div class="editTools" [ngClass]="isVisible ? 'pe-auto enabled' : 'pe-none disabled'">

      <button class="btn p-1 bg-transparent border-0 text-danger" (click)="removeLayer()">
        <fa-icon class="" [icon]="disabledIcon" ></fa-icon>
      </button>

      <input #btnDraw type="checkbox" class="btn-check" [id]="'btnDraw' + layer.id" [checked]="isDrawn" (change)="drawHandler(btnDraw.checked)">
      <label class="btn p-1 bg-transparent border-0" [for]="'btnDraw' + layer.id" [ngClass]="isDrawn ? 'text-danger' : 'text-success'">
        <fa-icon class="" [icon]="addIcon" ></fa-icon>
      </label>

      <input #btnEdit type="checkbox" class="btn-check" [id]="'btnEdit' + layer.id" [checked]="isEdited" (change)="editHandler(btnEdit.checked)">
      <label class="btn p-1 bg-transparent border-0" [for]="'btnEdit' + layer.id" [ngClass]="isEdited ? 'text-danger' : 'text-warning'">
        <fa-icon class="" [icon]="editIcon" ></fa-icon>
      </label>

      <ng-container *ngIf="layer.geomType === 'Polygon'">
        <input #btnHole type="checkbox" class="btn-check" [id]="'btnHole' + layer.id" [checked]="isHole" (change)="drawHoleHandler(true, btnHole.checked)">
        <label class="btn p-1 bg-transparent border-0" [for]="'btnHole' + layer.id" [ngClass]="isHole ? 'text-danger' : 'text-warning'">
          <fa-icon class="" [icon]="polygonIcon" ></fa-icon>
        </label>
      </ng-container>

    </div>


    <button class="btn p-1 bg-transparent border-0 text-black" >
      <fa-icon class="" [icon]="paramIcon"></fa-icon>
    </button>

  </div>

</div>

<div class="featuresList d-flex flex-row small mb-1" >
  <ul class="w-100 list-group list-group-flush mx-3 border rounded-bottom collapse" [id]="'featuresLayer-' + layer.id">

    <li *ngIf="layer.features().length > 0" class="feature list-group-item py-0 d-flex justify-content-between align-items-center pointer" [ngClass]="featureIdSelected == 'none' ? 'bg-secondary text-black bg-opacity-25' : 'bg-white text-black'" (click)="unSelectFeature()">
      <div class="d-flex flex-row pointer justify-content-start align-items-center flex-fill m-1">

        <div class="">
          <fa-icon class="me-1" [icon]="disabledIcon" ></fa-icon>
        </div>
        <div class="">
          Déseléctionner
        </div>
      </div>

    </li>

    <ng-container *ngFor="let feature of layer.features()">
      <app-feature
      [feature]="feature"
      [currentFeatureIdSelected]="featureIdSelected"
      (layerIdFromFeature)="updateLayerSelectionFromFeatureLayerId($event)"
      (featureIdSelected)="selectFeatureById($event)"
      (removeFeatureEvent)="removeFeatureById($event)"
      >
      </app-feature>
    </ng-container>

  </ul>
</div>






<div id="featureToasts" class="position-fixed bottom-0 end-0 p-3 d-flex flex-row" style="z-index: 11">
  <ng-container *ngFor="let feature of featuresPopupsProperties">

    <div class="toast toastFeature faded" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header justify-content-between">

        <strong>{{ feature.name }}</strong>
        <em class="ms-2 me-auto me-auto">({{ feature.geom_type }})</em>
        <button type="button" class="btn-close"  aria-label="Close"></button>

      </div>

      <div class="toast-body bg-white">

        <div id="toastActions" class="d-flex flex-row justify-content-start align-items-center">
          <span class="fw-bold">Actions :</span>

          <span class="badge bg-dark rounded m-1 small" (click)="copyToClipboard(feature.wkt)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copier le WKT">
            WKT
          </span>

        </div>

        <div class="d-flex flex-row justify-content-between">
          <span>Créé à {{ feature.created_at | date: 'HH:mm:ss' }}</span>
          <span>Modifié à {{ feature.updated_at | date: 'HH:mm:ss' }}</span>
        </div>


        <input class="form-control fillColor colorPicker m-1" [(colorPicker)]="feature.fill_color" [style.background]="feature.fill_color" (colorPickerClose)="updateFillColor(feature.id, $event)"/>
        <input class="small strokeWidth" type="number" min="0" max="12" [value]="feature.stroke_width" (change)="updateStrokeWidth(feature.id, $event)"/>
        <input class="form-control strokeColor colorPicker m-1" [(colorPicker)]="feature.stroke_color" [style.background]="feature.stroke_color" (colorPickerClose)="updateStrokeColor(feature.id, $event)"/>


        <span class="">{{ feature.wkt }}</span>


      </div>
    </div>
  </ng-container>

</div>





<div id="layerToats" class="position-fixed bottom-0 end-0 p-3 d-flex flex-row" style="z-index: 11">

    <div *ngIf="layerForPopup !== null" class="toast toastLayer faded" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header justify-content-between">

        <strong>{{ layerForPopup.layerName }}</strong>
        <button type="button" class="btn-close"  aria-label="Close"></button>

      </div>

      <div class="toast-body bg-white">

        <form class="">
          <span>Opacité</span>
          <input class="small opacity-setter" id="" type="range" min="0" max="1" step="0.1" value="1" (change)="layerForPopup.setOpacity($event)"/>
        </form>

      </div>
    </div>
</div>
