<div fluidHeight id="sandbox" class="d-flex flex-row position-fixed">

    <div id="panelsContainer" class="bg-light" [ngClass]="!editMode ? 'hidden' : 'displayed overflow-auto'">

      <app-toolbar
        class="d-flex flex-column overflow-auto"
        [toolsMode]="toolsMode"
        [currentEpsg]="currentEpsg"
        [epsgAvailable]="epsgAvailable"
      >
      </app-toolbar>

    </div>

    <div id="legendLabels" class="d-flex flex-column">

      <span
        class="tool btn btn-warning text-black my-3 rounded-end"
        [ngClass]="editMode ? 'selected' : ''"
        (click)="showHideEditMode()"
        [ngbPopover]="mode" triggers="mouseenter:mouseleave"
        placement="right">
        <fa-icon [icon]="editMode ? leftSideIcon : rightSideIcon"></fa-icon>
      </span>

      <span
        class="tool btn btn-success text-white mb-1 rounded-end"
        [ngClass]="toolsMode === 'geoTools' ? 'selected' : ''"
        (click)="toolsMode = 'geoTools'"
        ngbPopover="Projections" triggers="mouseenter:mouseleave"
        placement="right">
        <fa-icon [icon]="geoIcon"></fa-icon>
      </span>

      <span
        class="tool btn btn-secondary text-white mb-1 rounded-end" type="button"
        [ngClass]="toolsMode === 'importTools' ? 'selected' : ''"
        (click)="toolsMode = 'importTools'"
        ngbPopover="Importations" triggers="mouseenter:mouseleave"
        placement="right">
        <fa-icon [icon]="layersIcon"></fa-icon>
      </span>

      <span
        class="tool btn btn-danger text-white mb-1 rounded-end" type="button"
        [ngClass]="toolsMode === 'pathTools' ? 'selected' : ''"
        (click)="toolsMode = 'pathTools'"
        ngbPopover="Réseaux" triggers="mouseenter:mouseleave"
        placement="right">
        <fa-icon [icon]="pathIcon"></fa-icon>
      </span>

    </div>

</div>


<div moveDivToBody *ngIf="!editMode" id="legend" class="position-fixed bottom-0 end-0 overflow-auto bg-white shadow rounded m-2 px-3">
  <div class="d-flex flex-column">

    <ng-container *ngFor="let layer of currentLayers">
        <app-legend
          [layer]="layer"
        ></app-legend>
    </ng-container>

  </div>
</div>
