#sandbox{
  // user-select: none
}

#mapTools {
  // height: calc(100vh - 56px);  // 56px is about the control bar height...
  height:100vh;
  box-shadow: 1em 0rem 1rem rgb(0 0 0 / 15%) !important;

  &.displayed{
    transition: all 0.3s;
  }
  &.displayed * {
    opacity: 1;
    transition: all 0.1s;
  }

  &.hidden{
    transition: all 0.3s;
    // visibility: hidden !important

  }
  &.hidden * {
      opacity: 0;
      transition: all 0.1s;
  }


  @media (max-width: 960px){
    &.hidden {
      width: 3vw;
    }
    &.displayed {
      width: 40vw;
    }
  }

  @media (min-width: 960px){
    &.hidden {
      width: 1vw;
    }
    &.displayed {
      width: 18vw;
    }
  }

}




.tool.btn {
  width: 45px;
  border-radius: unset;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.tool.btn:hover {
  width: 60px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.tool.btn.selected {
  width: 60px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#editBar {
  position: fixed;
  bottom: 0;
  user-select: none
}
