#panelsContainer {
  box-shadow: 1em 0rem 1rem rgb(0 0 0 / 15%) !important;

  &.displayed{
    transition: all 0.3s;
  }
  &.displayed * {
    opacity: 1;
    transition: all 0.1s;
  }

  &.hidden{
    transition: all 0.3s;
  }
  &.hidden * {
      opacity: 0;
      transition: all 0.1s;
  }


  @media (max-width: 960px){
    &.hidden {
      width: 3vw;
    }
    &.displayed {
      width: 90%;
    }
  }

  @media (min-width: 960px){
    &.hidden {
      width: 1vw;
    }
    &.displayed {
      width: 20vw;
    }
  }

}


.tool {
  border-radius: unset;
  transition: all 0.1s;

  &.btn {
    width: 45px;

    &:hover, &.selected {
      width: 60px;
    }
  }

}


.legend-row {
  max-width: 70%;
}

.legend-column {
  max-height: 55%;
}
