<div fluidHeight id="sandbox" class="d-flex flex-row position-fixed">

    <div id="panelsContainer" class="d-flex flex-column bg-light " [ngClass]="!isPanelsDisplayed ? 'hidden' : 'displayed'">

      <app-geoinfo
        id="geoTools"
        class="overflow-auto"
        [ngClass]="currentMenuDisplayed == 'geoTools' ? 'd-block' : 'd-none'"
        [map]="map"
        [currentEpsg]="currentEpsg"
        [epsgAvailable]="epsgAvailable"
      >
      </app-geoinfo>

      <app-layer-manager
        id="createTools"
        class="overflow-auto"
        [ngClass]="currentMenuDisplayed == 'createTools' ? 'd-block' : 'd-none'"
        [map]="map"
        [currentEpsg]="currentEpsg"
        [epsgAvailable]="epsgAvailable"
      >
      </app-layer-manager>

    </div>

    <div id="legendLabels" class="d-flex flex-column">

      <span
        class="tool btn btn-warning text-black my-3 shadow rounded-end"
        [ngClass]="isPanelsDisplayed ? 'selected' : ''"
        (click)="showHideLegend()">
        <fa-icon [icon]="isPanelsDisplayed ? leftSideIcon : rightSideIcon"></fa-icon>
      </span>

      <span
        class="tool btn btn-info text-white mb-1 shadow rounded-end"
        [ngClass]="currentMenuDisplayed === 'geoTools' ? 'selected' : ''"
        (click)="currentMenuDisplayed = 'geoTools'"
        >
        <fa-icon [icon]="geoIcon"></fa-icon>
      </span>

      <span
        class="tool btn btn-dark text-white mb-1 shadow rounded-end" type="button"
        [ngClass]="currentMenuDisplayed === 'createTools' ? 'selected' : ''"
        (click)="currentMenuDisplayed = 'createTools'"
        >
        <fa-icon [icon]="layersIcon"></fa-icon>
      </span>

    </div>

</div>


<div moveDivToBody *ngIf="!isPanelsDisplayed && currentLayers.length >0" class="position-fixed bottom-0 end-0 bg-white rounded shadow overflow-auto m-3 p-3">
  <div class="d-flex flex-column justify-content-start">
    <ng-container *ngFor="let layer of currentLayers">
      <app-legend
        [layer]="layer"
        [selected]="currentLayerIdSelected == layer.container.uuid"
      ></app-legend>
    </ng-container>
  </div>
</div>