.nav-link {
  color: black;
  cursor: pointer;
}

.nav-item a:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

.nav-link.active {
  @extend .nav-link;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

img{
  max-height: 10vh;
}

.title-date {
  background: linear-gradient(to right, rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)), white);
  border: unset!important;
}

// .title-date p {
//   background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
//   padding: 10px;
//   display: inline-block;
// }

.educ-feature__ {
  box-shadow: -5px 0rem 0rem rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)), 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;;
}


.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-8px);}
	60% {transform: translateY(-3px);}
}
