
  <ng-container *ngFor="let degree of inputDegreesData">
    <set-card-container
      class="feature-degree text-center"
      [title]="getTitle(degree)"
      colorName="education"
    >

      <div class="degree
        d-flex flex-row
        align-items-center
      ">
        <img *ngIf="degree.img_school !== 'null'" [src]="assetsLogoPath + degree.img_school"/>
        <set-paragraph-content class="fw-bold">{{ degree.degree }}</set-paragraph-content>
      </div>

      <div class="school">
        <set-paragraph-content>{{ degree.school }}</set-paragraph-content>
        <set-icon-text
          [route]="mapPages.sub_menus[0].content_url"
          [fragment]="degree.identifier"
          classes="bounce small"
          [title]="degree.location"
          [iconInput]="locationIcon"
        ></set-icon-text>
      </div>

    </set-card-container>


  </ng-container>



