
  <ng-container *ngFor="let degree of inputDegreesData">
    <set-card-container
      class="feature-degree text-center"
      [title]="getTitle(degree)"
      colorName="education"
    >

      <div class="degree
        d-flex flex-row
        align-items-center
      ">
        <img *ngIf="degree.img_school !== 'null'" [src]="assetsLogoPath + degree.img_school"/>
        <set-paragraph-content class="fw-bold">{{ degree.degree }}</set-paragraph-content>
      </div>

      <div class="school">
        <set-paragraph-content>{{ degree.school }}</set-paragraph-content>
        <set-location-icon
          [mainRoute]="mapPages.route"
          [specificRoute]="mapPages.sub_menus[0].route"
          [fragment]="degree.identifier"
          [title]="degree.location"
        ></set-location-icon>
      </div>

    </set-card-container>


  </ng-container>



