.grid-container {
  columns: 200px;
  // -webkit-column-count: 3;
  // -webkit-column-gap: 3%;
  // -moz-column-count: 3;
  // -moz-column-gap: 3%;
  column-count: 4;
  column-gap: 3%;
}

.feat-map {
  //display: grid;
  //grid-template-rows: 1fr auto;
  break-inside: avoid;

}
