body {
  overflow: hidden!important;
}

.fixed {
  position: fixed;
  z-index: 10;
  margin-top: 50px;
}

.margin-top {
  margin-top: 6%;
}

#content {
  max-width: 1450px;
}

.project-item {
  overflow: hidden;
  display: inline-block;
  opacity: 1;
}

.project-item .project-detail h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0;
  display: block;
}

.project-item .project-detail h2 a {
  color: #2c2c2c;
}

.project-item:hover .overlay-b {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.overlay-b {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  bottom: 0;
  left: 0;
}
.overlay-b .overlay-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.overlay-b .overlay-inner a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  border: 1px solid #d5d5d5;
  width: 36px;
  height: 36px;
  display: block;
  text-align: center;
  line-height: 36px;
  color: white;
}


.project-thumb {
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.project-thumb img {
  width: 100%;
}

.active {
}

.projects-bar {
  background-color: #f5f5f5;
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.5);
}

footer {
  box-shadow: unset;
}

.btn {
  opacity: 1!important;
}

/* to disabled scroll display */
.y-scroll {
  /* height: 82vh; */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

.y-scroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.embed-fixed-size {
  height: 150px
}

.personal_projects {
  background-color: #f5a824;
}

.jobs {
  background-color: #ff0000;
}

.map {
  background-color: teal;
}

.app {
  background-color: blue;
}

.modal-dialog {
  max-height: 100vh;
  max-width: 100vh;

}

.card-columns .card {
  /* box-shadow: 0px 9px 20px rgb(0 0 0 / 50%); */
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.modal {
  background-color: rgba(0,0,0,0.7);
}

.img-responsive-height {
  display: block;
  width: auto;
  max-height: 100%
}

@media (orientation: portrait) {
  .img-size {
      width: 60vh;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
}

@media (orientation: landscape) {
  .img-size {
      width: auto;
      max-height: 90vh;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }

}
