<div class="container-fluid" *ngIf="isDataAvailable">
  <div class="row justify-content-around">

    <div class="col-lg-10 my-3">

      <div class="card-columns">
        <ng-container *ngTemplateOutlet="galleryControler"></ng-container>

            <ng-container *ngTemplateOutlet="imgProject; context:{medias: galleryItems}"></ng-container>

        <ng-container *ngTemplateOutlet="galleryControler"></ng-container>

      </div>
    </div>

  </div>

</div>



<ng-template #imgProject let-medias=medias>
  <div class="card border rounded py-2 px-2" *ngFor="let media_feature of medias; let idx = index">

    <ng-container [ngSwitch]="media_feature.source">

      <ng-container *ngSwitchCase="'youtube'">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe [src]="media_feature.media | safeUrl" class="embed-responsive-item" options="" loading="lazy" scrolling="no" frameborder="0" allowfullscreen></iframe>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'url_img'">
        <img [src]="media_feature.media | safeUrl" class="card-img-top pointer" data-toggle="modal" [attr.data-target]="'#modal-' + media_feature.identifier + idx">
        <ng-container *ngTemplateOutlet="imgModal; context: {pictureUrl: media_feature.media, activityId: media_feature.identifier, pictureId: idx}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'url_app'">
        <a [href]="media_feature.media | safeUrl" target="_blank" rel="noopener noreferrer">
          <img [src]="media_feature.media_splash" class="card-img-top pointer">
        </a>
      </ng-container>

      <ng-container *ngSwitchCase="'api_img'">
        <img [src]="apiMapsUrl + media_feature.media" class="card-img-top pointer" data-toggle="modal" [attr.data-target]="'#modal-' + media_feature.identifier + idx">
        <ng-container *ngTemplateOutlet="imgModal; context: {pictureUrl: apiMapsUrl + media_feature.media, activityId: media_feature.identifier, pictureId: idx}"></ng-container>
      </ng-container>

    </ng-container>

    <div class="card-body">
      <h6 class="card-title">{{ media_feature.title }}</h6>
      <span [class]="'badge badge-pill my-1 mx-2 text-white ' + media_feature.category_id" >{{ categoriesActivity[media_feature.category_id] }}</span>
      <a [routerLink]="['/resume']" [fragment]="media_feature.identifier"><span class="badge badge-pill" [style]="'background-color:' + media_feature.color + ';color: white'">{{media_feature.name}}</span></a>
      <span [class]="'badge badge-pill my-1 mx-2 text-white ' + media_feature.type">
        <fa-icon class="mr-1" [icon]="typeStyleMapping[media_feature.type].icon"></fa-icon>{{typeStyleMapping[media_feature.type].title}}
      </span>
      <p class="card-text mt-2">{{media_feature.description}}</p>
      <p class="card-text small" *ngIf="media_feature.data.length > 0">Données: {{media_feature.data}}</p>
      <p class="card-text small" *ngIf="media_feature.tools.length > 0">Outils: {{media_feature.tools}}</p>
    </div>

  </div>

</ng-template>


<ng-template #imgModal let-pictureUrl=pictureUrl let-activityId=activityId let-pictureId=pictureId>
  <div class="modal" [id]="'modal-' + activityId + pictureId" tabindex="-1" role="dialog" aria-labelledby="imgkeyLabel" aria-hidden="true">

    <a data-dismiss="modal" aria-label="Close">
      <img [src]="pictureUrl | safeUrl" class="pointer img-size">
    </a>

  </div>
</ng-template>


<ng-template #galleryControler>
  <div class="card bg-light text-white text-center p-3">
    <blockquote class="blockquote py-3 bg-dark mb-0">

        <div class="col-lg-12 my-3">

          <h5>Filtrage par thématiques</h5>

          <div class="btn-group btn-group-toggle mt-1 ml-2 flex-wrap" data-toggle="buttons">
            <label class="btn btn-secondary btn-sm" [ngClass]="{'active font-weight-bolder': currentCategory === null}">
              <input (click)="this.resetGallery()" type="radio" name="options" id="option1" autocomplete="off">Tous
            </label>
            <label class="btn btn-secondary btn-sm" [ngClass]="{'active font-weight-bolder': currentCategory === 'job'}">
              <input (click)="getGalleryDataByCategory('job')" type="radio" name="options" id="option2" autocomplete="off" >Expériences
            </label>
            <label class="btn btn-secondary btn-sm" [ngClass]="{'active font-weight-bolder': currentCategory === 'personal_project'}">
              <input (click)="getGalleryDataByCategory('personal_project')" type="radio" name="options" id="option3" autocomplete="off" >Projets personnels
            </label>
          </div>
        </div>

        <div class="col-lg-12 my-3">

          <h5>Filtrage par activités</h5>

          <div class="btn-group mt1 ml-2 flex-wrap">
            <ng-container *ngFor="let activity of activities | keyvalue">
              <button (click)="getGalleryDataByActivity(activity.key)" type="button" [id]="activity.key" class="btn btn-secondary btn-sm" [ngClass]="{'active font-weight-bold': currentActivity === activity.key}">{{ activity.value}}</button>
            </ng-container>
          </div>
        </div>

        <div class="col-lg-12 my-3">

          <h5>Filtrage par types</h5>

          <div class="btn-group mt1 ml-2 flex-wrap">
            <ng-container *ngFor="let type of mediaTypes">
              <button (click)="getGalleryDataByType(type)" type="button" [title]="typeStyleMapping[type].title" [id]="type" class="btn btn-secondary btn-sm" [ngClass]="{'active font-weight-bold': currentType === type}">
                <fa-icon [icon]="typeStyleMapping[type].icon"></fa-icon>
              </button>
            </ng-container>
          </div>
        </div>
    </blockquote>
  </div>
</ng-template>

