.button-title {
  border-radius: unset;
  z-index: 1;

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
  }

  .horizontal-text {
    writing-mode: horizontal-tb;
    letter-spacing: 0px;

  }

}

.hidden {
  visibility: hidden !important;
}

.pointer {
  cursor: pointer;
}


#container {

}


#mapTools.displayed{
  //height: calc(100vh / 1.2);  // 56px is about the control bar height...
  width: 18vw;
  transition: all 0.3s;
}

#mapTools.hidden{
  width: 0vw;
  opacity: 0;
  transition: all 0.3s;
}

.shadow-map-tools {
    box-shadow: 1em 0rem 1rem rgb(0 0 0 / 15%) !important;
}

#mapTools {
  height: calc(100vh - 56px);  // 56px is about the control bar height...
}

@media (max-width: 960px){

  #mapTools {
    width: 75vw;
  }


}


.tool.btn {
  border-radius: unset;
}
