.button-title {
  border-radius: unset;
  z-index: 1;

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
  }

  .horizontal-text {
    writing-mode: horizontal-tb;
    letter-spacing: 0px;

  }

}

.hidden .d-flex {
  visibility: hidden !important;
  opacity: 0;
  transition: all 0.3s;
}




#mapTools.displayed{
  opacity: 1;
  width: 18vw;
  transition: all 0.3s;
}

#mapTools.hidden{
  width: 1vw;
  transition: all 0.3s;

}

.shadow-map-tools {
    box-shadow: 1em 0rem 1rem rgb(0 0 0 / 15%) !important;
}

#mapTools {
  height: calc(100vh - 56px);  // 56px is about the control bar height...
}

@media (max-width: 960px){

  #mapTools.hidden {
    width: 3vw;
  }

  #mapTools.displayed {
    width: 75vw;
  }

}


.tool.btn {
  width: 45px;
  border-radius: unset;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.tool.btn:hover {
  width: 60px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.tool.btn.selected {
  width: 60px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#editBar {
  position: fixed;
  bottom: 0;
  //width: 100%;
  //height: 60px;
}
