.circle-events circle{
  stroke-width: 1px;
  opacity: 1;
  stroke: ghostwhite;
  stroke-width: 1px;
}

.circle-events circle.trace {
  fill: #686868;
  opacity: 0.7;
  stroke: ghostwhite;
  stroke-width: 1px;
  stroke-opacity: 1;
}
