<nav class="d-flex  main-header navbar navbar-expand bg-light navbar-light fixed-top">
    <!-- Left navbar links -->
    <ul id="toggle-button" class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" type="button" data-toggle="collapse" data-target=".sidebar-item" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" role="button">
          <fa-icon [icon]="menuIcon" size="1x"></fa-icon>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="p-2 m-2 border font-weight-bold bg-dark text-white">AV</span>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <span>Amaury Valorge - Portfolio</span>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" [ngbPopover]="infoPopup" container="body" popoverTitle="Infos" popoverClass="popup" placement="bottom">
          <fa-icon [icon]="infoIcon" size="1x"></fa-icon>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-danger" container="body" [href]="GithubBugIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactBugMessage" triggers="mouseenter:mouseleave">
          <fa-icon class="" [icon]="bugIcon" size="1x"></fa-icon>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-warning" container="body" [href]="GithubQuestionIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactHelpMessage" triggers="mouseenter:mouseleave">
          <fa-icon class="" [icon]="helpIcon" size="1x"></fa-icon>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-success" container="body" [href]="GithubEnhancementIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactFeatureMessage" triggers="mouseenter:mouseleave">
          <fa-icon class="" [icon]="exclamationIcon" size="1x"></fa-icon>
        </a>
      </li>

    </ul>
  </nav>


<ng-template #infoPopup>
<div class="container">

  <a class="mb-3 text-dark" [href]="authorRepoUrl" target="_blank" rel="noopener noreferrer">
    By amauryval - {{year}} <fa-icon class="ml-2" [icon]="githubIcon"></fa-icon>
  </a>

  <ul class="list-unstyled">

    <li class="ml-2 mb-1">
      <fa-icon [icon]="pythonIcon"></fa-icon>
      <span class="ml-2 mr-2">Python {{this.pythonVersion}}</span>
    </li>
    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="lib1RepoUrl" target="_blank" rel="noopener noreferrer">
        <fa-icon class="mr-1 " [icon]="githubIcon"></fa-icon>
        <span>{{this.lib1Name}}</span>
      </a>
    </li>

    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="angularRepoUrl" target="_blank" rel="noopener noreferrer">
        <img class="mr-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" height="20px" width="20px"/>
        <span>{{this.angularVersion.slice(1)}}</span>
      </a>
    </li>

    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="bootstrapRepoUrl" target="_blank" rel="noopener noreferrer">
        <img class="mr-1" src="https://ng-bootstrap.github.io/img/logo-stack.png" height="20px" width="20px"/>
        <span>{{this.bootstrapVersion.slice(1)}}</span>
      </a>
    </li>

    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="leafletRepoUrl" target="_blank" rel="noopener noreferrer">
        <img class="mr-1" src="https://rawgit.com/Leaflet/Leaflet/master/src/images/logo.svg" height="20px" width="60px"/>
        <span>{{this.leafletVersion.slice(1)}}</span>
      </a>
    </li>

    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="d3RepoUrl" target="_blank" rel="noopener noreferrer">
        <img class="mr-1" src="https://d3js.org/logo.svg" height="20px" width="20px"/>
        <span>{{this.d3Version.slice(1)}}</span>
      </a>
    </li>

  </ul>
</div>

 <ng-template>





