<set-legend-container
  classes="position-fixed"
  >

  <ng-template #buttonsTemplate>
    <button class="btn btn-sm btn-warning mx-1" title="Centrer" type="button" checked autocomplete="off" (click)="zoomOnData()">
      <fa-icon class="" [icon]="centerIcon"></fa-icon>
    </button>
  </ng-template>

  <ng-template #controlersTemplate>

    <div class="d-flex flex-row justify-content-around">
      <set-section-container>
        <h6>GTFS</h6>

        <div class="d-flex flex-xl-row flex-column">
          <ng-container *ngFor="let area of availableArea">

            <set-button-content
              [classes]="currentArea === area ? 'btn-sm btn-warning fw-bold' : 'btn-sm btn-warning'"
              (click)="updateData(area)"
            >{{ area.charAt(0).toUpperCase() + area.slice(1) }}
            </set-button-content>

          </ng-container>
        </div>

      </set-section-container>

      <set-section-container>
        <h6>Modes de transport</h6>

        <svg id='routeTypeLegend' [attr.viewBox]="'0 0 ' + widthLegendElement + ' ' + heightLegendElement">

          <g *ngFor="let routeType of routeTypesLegendData.features">
            <circle
              [attr.r]="routeTypesLegendData.circleR"
              [attr.cx]="routeTypesLegendData.circleCxPos"
              [attr.cy]="routeType.cy"
              [attr.fill]="routeType.color"
              [attr.stroke]="routeType.strokeColor">
            </circle>

            <text
              [attr.x]="routeTypesLegendData.textXPos"
              [attr.y]="routeType.cy"
              [attr.font-size]="routeTypesLegendData.fontSize"
              class="label">{{ routeType.label }}
            </text>
          </g>

        </svg>

      </set-section-container>
    </div>

    <set-section-container>
      <app-time-legend
        [timeLineSpeedSliderEnabled]="true"
        (currentDateEvent)="getCurrentDate($event)"
        [startDate]="startDate"
        [endDate]="endDate"
        timelineDateFormat="hour"
        [currentDate]="currentDate"
        [stepValue]="currentstepValue"
      ></app-time-legend>
    </set-section-container>

  </ng-template>

</set-legend-container>


<div class="stopPopup card position-absolute shadow-lg rounded d-none">
  <div class="card-header fw-bold line-name"></div>

  <div class="card-body">
    <div class="mode d-flex flex-row">
      <span class="small fw-bold pe-1">Mode :</span>
      <span class="small value"></span>
    </div>

    <div class="position d-flex flex-row">
      <span class="small fw-bold pe-1">Position :</span>
    </div>

    <div class="ps-1 d-flex flex-column ps-2">

      <div class="position-x d-flex flex-row">
        <span class="small pe-1">X :</span>
        <span class="small value"></span>
      </div>

      <div class="position-y d-flex flex-row">
        <span class="small pe-1">Y :</span>
        <span class="small value"></span>
      </div>

    </div>

  </div>

</div>
