<div class="row justify-content-around">


  <div class="col-6 col-lg-2 my-2">
    <h6>GTFS</h6>
    <div class="col-lg-12">

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary btn-sm" *ngFor="let data of available_data">
          <input type="radio" name="options" id="option1" autocomplete="off" (click)="updateTimeline(data)" [checked]="currentData === data"> {{ data }}
        </label>
      </div>

    </div>
  </div>

  <div class="col-6 col-lg-2 my-2">
    <h6>Modes de transport</h6>
    <div class="col-lg-12">
      <p>[TODO]</p>
    </div>
  </div>


  <div class="col-12 col-lg-7 my-2">

      <app-time-legend
        [currentData]="currentData"
      ></app-time-legend>

  </div>

</div>
