<a *ngIf="route" class="m-1 btn" 
    [ngClass]="classes" 
    [routerLink]="route" 
    [routerLinkActive]="['fw-bolder']" 
    [routerLinkActiveOptions]="{exact:true}"
  >
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</a>

<a *ngIf="url" class="m-1 btn" 
    [ngClass]="classes" 
    [href]="url"
    target="_blank " rel="noopener noreferrer"
  >
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</a>

<ng-template #contentTemplate>
    <fa-icon *ngIf="icon" class="mx-1" [icon]="icon"></fa-icon>
    <ng-content></ng-content>
</ng-template>
