.nav-link {
  color: black;
  cursor: pointer;
}

.nav-item a:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

.nav-link.active {
  @extend .nav-link;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

img{
  max-height: 10vh;
}

.title-date {
  background: linear-gradient(to right, rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)), white);
  border: unset!important;
}

.training-feature {
  max-width: 500px;
}
