
  <section id="trainings" class="">

    <div class="card-header bg-white">
      <span class="fs-5 fw-bolder px-2">
        <fa-icon class="me-2" [icon]="degreeIcon"></fa-icon>Formations professionnelles
      </span>
    </div>

    <div class="card-body">

      <div class="d-flex flex-column flex-lg-row justify-content-center align-items-stretch">


        <div [id]="training.identifier" class="training-feature border text-center small m-3 rounded-3" *ngFor="let training of inputTrainingsData">

          <div class="card-header title-date">
            <div class="mx-auto">
              <p class="fw-bolder mb-0">{{ training.year }}</p>
            </div>
          </div>

          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-row justify-content-center align-items-center">

              <div *ngIf="training.img_tool !== 'null';then trainingImgContent"></div>
              <ng-template #trainingImgContent>
                <div class="col-4 justify-content-center">
                  <img class="img-fluid rounded mx-auto d-block shadow __img-thumbnail" [src]="training.img_tool"/>
                </div>
              </ng-template>

              <div class="col-6 mx-2">
                <p class="fw-bolder">{{ training.name }}</p>
                <p class="fw-bolder small">par {{ training.trainer }}</p>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </section>
