.profil-badge {
  display: inline-block;
  padding: 5px 25px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}



.card-box {
  position: relative;
  padding: 5px 50px 5px;
  //margin: 20px 0px;
}

.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 0px;
  right: 10px;
  z-index: 0;
  font-size: 52px;
  color: rgba(133, 133, 133, 0.15);
}


.nav-link {
  color: black;
  cursor: pointer;
}

.activity-button {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity))!important;
}

.activity-button:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

.activity-button.active {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}
