
<div class="d-flex flex-column flex-xxl-row mt-2 align-content-center">

  <div class="card-box d-flex flex-column flex-xxl-row w-100 bg-dark bg-gradient text-center rounded-3 align-content-between align-items-center justify-content-between">

    <div class="d-flex flex-row w-75 align-items-center">

      <div class="d-flex w-50 flex-column">
        <h3 class="fw-bolder text-white">{{ inputProfilData.first_name }} {{ inputProfilData.last_name }}</h3>
        <div class="">
          <h5 class="bg-white rounded-pill text-black profil-badge">{{ inputProfilData.job }}</h5>
        </div>
      </div>

      <div id="" class="mt-1">
        <h6 class="mt-2 text-black bg-warning rounded-pill profil-badge">{{ inputProfilData.experience_duration }}</h6>
      </div>

    </div>


    <div id="activities-buttons" class="card-box d-flex flex-sm-row flex-column justify-content-around align-items-stretch">
      <ng-container *ngFor="let type of activityTypesMetadata">
        <div class="activity-button nav-link fw-bold border text-center mx-3 align-items-center rounded-3" [class.active]="tabView == type.id" (click)="enableActivity(type.id)">
          {{type.title}}
          <span [ngClass]="type.id !== 'volunteer' ? 'text-black' : 'text-white'" [class]="'badge bg-color-' + type.id">{{ type.count }}</span>
        </div>
      </ng-container>
    </div>

  </div>

</div>
