<div class="container-fluid" *ngIf="isDataAvailable">

  <div class="row">


    <div class="col-xs-12 col-sm-12 d-md-none d-lg-none d-xl-none p-2">
      <app-profil-bar
        [profilData]="profilData"
        [contactData]="contactData"
      ></app-profil-bar>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2">
      <app-education-bar
        [degreesData]="degreesData"
        [languagesData]="languagesData"
        [trainingsData]="trainingsData"
      ></app-education-bar>
    </div>


      <!-- <app-centerbar-navigation
        [graphInputData]="generalData"
      ></app-centerbar-navigation>

      <app-centerbar-jobs
        [jobsData]="jobsData"
        (notePathEmit)="sendPathNotesLink($event)"
      ></app-centerbar-jobs>

      <app-centerbar-volunteer
        [volunteersData]="volunteersData"
        (notePathEmit)="sendPathNotesLink($event)"
      ></app-centerbar-volunteer>

      <app-centerbar-projects
        [personalProjectsData]="personalProjectsData"
        (notePathEmit)="sendPathNotesLink($event)"
      ></app-centerbar-projects>
      <app-centerbar-publications
        [publicationsData]="publicationsData"
      ></app-centerbar-publications> -->


    <!-- <div id="right-bar" class="col-lg-2 offset-sm-4">

      <app-rightbar-skills
        [skillsData]="skillsData"
        [isActivitiesDataAvailable]="isActivitiesDataAvailable"
      ></app-rightbar-skills>


    </div> -->

  </div>

</div>
