<div class="container-fluid" *ngIf="isDataAvailable">

  <div class="row">

    <div id="topbar_bar" class="topbar col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">

      <app-profil-bar
        [profilData]="profilData"
        [contactData]="contactData"
      ></app-profil-bar>

    </div>



    <div id="center-bar" class="col-xs-12 col-sm-12 col-md-12 col-lg-15 col-xl-10 offset-xl-2 mt-2 me-2 mb-2">

      <app-presentation-bar
        [qualitiesData]="qualitiesData"
        [summaryData]="summaryData"
      ></app-presentation-bar>

      <app-education-bar
        [degreesData]="degreesData"
        [languagesData]="languagesData"
        [trainingsData]="trainingsData"
      ></app-education-bar>


      <app-centerbar-navigation
        [graphInputData]="generalData"
      ></app-centerbar-navigation>

      <app-centerbar-jobs
        [jobsData]="jobsData"
        (notePathEmit)="sendPathNotesLink($event)"
      ></app-centerbar-jobs>

      <app-centerbar-volunteer
        [volunteersData]="volunteersData"
        (notePathEmit)="sendPathNotesLink($event)"
      ></app-centerbar-volunteer>

      <app-centerbar-projects
        [personalProjectsData]="personalProjectsData"
        (notePathEmit)="sendPathNotesLink($event)"
      ></app-centerbar-projects>
      <app-centerbar-publications
        [publicationsData]="publicationsData"
      ></app-centerbar-publications>

    </div>

    <!-- <div id="right-bar" class="col-lg-2 offset-sm-4">

      <app-rightbar-skills
        [skillsData]="skillsData"
        [isActivitiesDataAvailable]="isActivitiesDataAvailable"
      ></app-rightbar-skills>


    </div> -->

  </div>

</div>
