<div id="content" class="container bg-very-dark" *ngIf="isDataAvailable">

  <div class="row justify-content-around">

    <div id="topbar_bar" class="topbar col-lg-12 bg-dark">

      <app-topbar-subview
        [profilData]="profilData"
        [contactData]="contactData"
      ></app-topbar-subview>

    </div>

    <div id="left-bar" class="col-lg-3">

      <app-leftbar-subview
        [degreesData]="degreesData"
        [languagesData]="languagesData"
        [trainingsData]="trainingsData"
      ></app-leftbar-subview>

    </div>

    <div id="center-bar" class="col-lg-6 bg-light border">

      <app-centerbar-navigation
        [summaryData]="summaryData"
        [graphInputData]="generalData"
      ></app-centerbar-navigation>

      <app-centerbar-jobs
      ></app-centerbar-jobs>

      <section class="col-lg-12 mb-5">
          <h5 class="font-weight-bold mb-3">
            <fa-icon class="mr-2" [icon]="faGlobeEurope"></fa-icon>
            Projets personnels
          </h5>
      </section>


      <section class="col-lg-12 mb-5">
          <h5 class="mb-3">
            <fa-icon class="mr-2" [icon]="faGlobeEurope"></fa-icon>
            Publications
          </h5>
      </section>

    </div>

    <div id="right-bar" class="col-lg-3 mb-5">

      <div class="row bg-very-dark">
          <div class="col-lg-12 align-self-center my-4">
              <h4 class="text-center font-weight-bold text-white">Compétence</h4>
          </div>
      </div>

    </div>

  </div>

</div>
