#content {
  max-width: 1450px;
}

.bg-very-dark {
  background-color: #2a2e33
}

.bg-less-dark {
  background-color: #495057;
}

#center-bar {
  border-radius: 25px
}

.thumbnail-width {
  width: 30vw;
}
