<div class="d-flex flex-row fs-6 title">
        <fa-icon *ngIf="layer.container.geomType === 'Point'" class="me-2" [icon]="pointIcon" size="xs"></fa-icon>
        <fa-icon *ngIf="layer.container.geomType === 'LineString'" class="me-2" [icon]="lineStringIcon" size="xs"></fa-icon>
        <fa-icon *ngIf="layer.container.geomType === 'Polygon'" class="me-2" [icon]="polygonIcon" size="xs"></fa-icon>
    {{this.layer.container.layerName}}
</div>

<ul>
    <li class="list-unstyled" *ngFor="let feature of layer.container.features">
        <div
        class="feature"
        [ngClass]="featureIdSelected == feature.getId() ? 'fw-bold bg-secondary bg-opacity-25' : ''"
        (click)="selectFeatureById(feature.getId())"

        >
        {{feature.get('name')}}
        </div>
    </li>
</ul>
