<div class="container" *ngIf="isDataAvailable">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2">
      <app-degrees-bar
        [fragment]="fragment"
        [degreesData]="degreesData"
        [languagesData]="languagesData"
      ></app-degrees-bar>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2">
      <app-trainings-bar
        [fragment]="fragment"
        [trainingsData]="trainingsData"
      ></app-trainings-bar>
    </div>


  </div>

</div>
