<set-article-header *ngIf="userInfoData && jobDuration">

    <div id="home__generalInfo__header" class="
        d-flex flex-column
        text-center
        my-2
      ">

      <h2 class="title-name">{{ userInfoData.first_name }} {{ userInfoData.last_name }}</h2>

      <div class="my-2 d-flex flex-column flex-md-row justify-content-center mx-auto">
        <div class="badge-title-light">{{ userInfoData.job }}</div>
        <div *ngIf="jobDuration.months === 0" class="badge-title-warning">{{ jobDuration.years }} années d'expérience professionnelle</div>
        <div *ngIf="jobDuration.months > 0" class="badge-title-warning">{{ jobDuration.years }} années et {{ jobDuration.months }} mois d'expérience professionnelle</div>
      </div>

      <set-paragraph-content class="text-white">
        {{ userInfoData.carrier_summary}}
      </set-paragraph-content>

    </div>

    <img class="home-img
        d-none d-lg-block
        rounded-circle
        col-2
        me-3
    " [src]="imageProfile"
    [alt]="userInfoData.first_name[0] + userInfoData.last_name[0]"
    >

</set-article-header>
