.button-title {
  border-radius: unset;
  z-index: 1;

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -5px;
  }

  .horizontal-text {
    writing-mode: horizontal-tb;
    letter-spacing: 0px;

  }

}

.hidden {
  visibility: hidden !important;
}

.pointer {
  cursor: pointer;
}


#container {

}


#mapTools {
  position: fixed;
  //height: calc(100vh / 1.2);  // 56px is about the control bar height...
  width: 18vw;
}

.shadow-map-tools {
    box-shadow: 1em 0rem 1rem rgb(0 0 0 / 15%) !important;
}

#layerToolsFeatures {
  height: calc(100vh / 1.2);  // 56px is about the control bar height...
}

@media (max-width: 960px){

  #mapTools {
    width: 75vw;
  }


}

.colorPicker {
  width: 10px;
  height: 25px;
  cursor: pointer;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 25px;
}

.faded {
  opacity: 1!important;
	-webkit-transition: opacity 0.5s!important;
	transition: opacity 0.5s!important;
}
