<div id="mapTools" class="">

  <div id="geomSelector" class="d-flex flex-row m-2">
    <div  class="d-flex flex-row ">

      <button type="button" class="button-title btn btn-warning rounded p-2 shadow">
        <span class="fw-bold title">CREER</span>
      </button>

      <div id="geomList" class="btn-group-vertical my-2 align-self-center bg-white shadow rounded-end" role="group" aria-label="">
        <ng-container *ngFor="let feature of geomTypesSupported">

            <input type="radio" class="border btn-check m-0" name="btnRadio" [id]="'btnradio-selector-' + feature.geomType" [checked]="geomTypeSelected === feature.geomType" autocomplete="off">
            <label class="w-100 border-secondary px-0"  [for]="'btnradio-selector-' + feature.geomType" (click)="addInteractions(feature.geomType)">
              <div class="dropdown-item small d-flex flex-row" [ngClass]="geomTypeSelected === feature.geomType ? 'bg-warning' :  ''">
                <fa-icon class="me-2" [icon]="feature.icon" ></fa-icon>
                <span>{{ feature.label }}</span>
              </div>
            </label>

        </ng-container>
      </div>
    </div>

  </div>

  <div id="featuresContainer" class="d-flex flex-column m-2">
    <div  class="d-flex flex-row ">

      <button type="button" class="button-title btn btn-dark rounded p-2 shadow">
        <span class="fw-bold title">
          <span class="badge bg-success my-2 counter">{{this.featuresCount}}</span>OBJETS</span>
      </button>

      <div id="featuresList" class="overflow-auto btn-group-vertical justify-content-start my-2 bg-white rounded-end shadow" role="group" aria-label="">

        <input type="radio" class="border btn-check m-0" name="btnradio" id="btnradio-feature-cancel" [checked]="featureSelectedId === null" autocomplete="off">
        <label class="w-100 border-warning px-0"  for="btnradio-feature-cancel" (click)="selectAndDisplayFeature(null)">
          <div class="dropdown-item small d-flex flex-row" [ngClass]="featureSelectedId === null ? 'bg-secondary text-white' :  'text-black'">
            <fa-icon class="me-2" [icon]="disabledIcon" ></fa-icon>
            <span>Désélectioner</span>
          </div>
        </label>

        <ng-container *ngFor="let feature of allFeatures">
          <input type="radio" class="border btn-check m-0" name="btnradio" [id]="'btnradio-feature-' + feature.id" [checked]="featureSelectedId === feature.id" autocomplete="off">
          <label class="w-100 border-warning px-0"  [for]="'btnradio-feature-' + feature.id" (click)="selectAndDisplayFeature(feature.id)">
              <div class="dropdown-item small d-flex flex-row" [ngClass]="featureSelectedId === feature.id ? 'bg-secondary text-white' :  'text-black'">
                <fa-icon *ngIf="feature.geom_type === 'Point'" class="me-2" [icon]="pointIcon" ></fa-icon>
                <fa-icon *ngIf="feature.geom_type === 'LineString'" class="me-2" [icon]="lineStringIcon"></fa-icon>
                <fa-icon *ngIf="feature.geom_type === 'Polygon'" class="me-2" [icon]="polygonIcon"></fa-icon>
                <span>{{ feature.name }}</span>
                <span (click)="removeFeature(feature.id)"> X </span>
              </div>
          </label>
        </ng-container>
    </div>

  </div>

</div>



<div id="mapToasts" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div class="toast toastFeature faded" role="alert" aria-live="assertive" aria-atomic="true" *ngFor="let feature of toastsFeatureProperties">
    <div class="toast-header">
      <!-- <fa-icon class="me-2" [icon]="feature.icon" ></fa-icon> -->
      <strong class="me-auto">{{ feature.geom_type }}</strong>
      <small>{{ feature.created_at }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
      <div class="d-flex flex-column">
      <span>{{ feature.name }}</span>
      <span>{{ feature.created_at }}</span>
      <span>{{ feature.updated_at }}</span>
      <span>{{ feature.wkt }}</span>

    </div>
  </div>
</div>
