<div class="d-flex flex-column justify-content-start m-2" *ngIf="layer.container.visible">

  <span class="mb-2 fs-6 fw-bold">{{layer.container.layerName}}</span>

  <ul class="list-unstyled m-0">
      <li *ngFor="let style of layer.container.styleSettings">
          <div class="d-flex flex-row align-items-cente x-2">

            <app-geom-icons
              [geomType]="layer.container.geomType"
              [strokeColor]="layer.container.strokeColor"
              [fillColor]="style.color"
              [strokeWidth]="layer.container.strokeWidth"
              [title]="style.class"
            >
            </app-geom-icons>


          </div>
      </li>
  </ul>

</div>
