<div id="toolbox-sidebar" class="overflow-hidden card text-white shadow" [ngClass]="sidebarCollapsed ? 'collapsed' : ''">

  <div class="d-flex flex-column align-items-start bg-dark bg-gradient">


    <div id="header" class="d-flex flex-row text-white align-items-center">

      <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active btn btn-warning btn-sm m-3" type="button" (click)="sidebarCollapsed = !sidebarCollapsed">
          <fa-icon class="glyphicon" [icon]="toolsIcon"></fa-icon>
        </button>
      </div>
      <div *ngIf="!sidebarCollapsed">
        <span class="fw-bold fs-4 text-nowrap">Bac à sable</span>
      </div>
    </div>

      <ng-container *ngFor="let geomTypeValue of geomTypesList">
        <ng-container *ngTemplateOutlet="toolBarMenu; context:{geomType: geomTypeValue}"></ng-container>
      </ng-container>

    <div id="menus" class="d-flex flex-row w-100 bg-white">

      <div class="nav flex-column ps-3 bg-dark bg-gradient text-center" role="tablist" aria-orientation="vertical">


        <ng-container *ngFor="let geomTypeValue of geomTypesList">
          <ng-container *ngTemplateOutlet="selectorMenu; context:{geomType: geomTypeValue}"></ng-container>
        </ng-container>

      </div>

      <div class="tab-content bg-white w-100" id="v-pills-tabContent" *ngIf="!sidebarCollapsed">

        <div class="tab-pane fade show active bg-white points-features" id="tab-points-features" role="tabpanel" aria-labelledby="">

          <ul class="list-unstyled list-group-flush bg-white">
            <li class="list-group-item" *ngFor="let point of pointsMapped">
              <div class="d-flex flew-row align-items-center justify-content-between" [id]="point.id" (mouseover)="highLightGeom(point.id)" (mouseleave)="unHighLightGeom(point.id)">

                <div class="d-flex flex-column align-items-center">
                  <div class="small" >{{ point.name }} </div>
                  <div class="small badge rounded-pill bg-secondary" >{{ point.tag }} </div>


                </div>

                <div class="d-flex flew-row">
                  <button class="btn btn-info btn-sm text-white m-1" type="button" data-bs-toggle="modal" data-bs-target="#geomPopup" (click)="getGeomInfo(point.id)">
                    <fa-icon class="glyphicon" [icon]="helpIcon"></fa-icon>
                  </button>

                  <button class="btn btn-sm bg-warning m-1" type="button">
                    <fa-icon class="glyphicon" [icon]="toolsIcon"></fa-icon>
                  </button>

                  <button class="btn btn-danger btn-sm m-1" type="button" (click)="removeGeom('point', point.id)">
                    <fa-icon class="glyphicon" [icon]="removeIcon"></fa-icon>
                  </button>
                </div>

              </div>
            </li>
          </ul>
        </div>

        <div class="tab-pane fade bg-white lines-features" id="tab-lines-features" role="tabpanel" aria-labelledby="">

          <ul class="list-unstyled list-group-flush bg-white">
            <li class="list-group-item">
              <span>tutu</span>
            </li>
            <li class="list-group-item">
              <span>Heasfsdfsdfling</span>
            </li>
            <li class="list-group-item">
              <span>Exp sdfloring</span>
            </li>
            <li class="list-group-item">
              <span>QiGo ng</span>
            </li>
            <li class="list-group-item">
              <span>Mysf s sdfelf</span>
            </li>
          </ul>
        </div>

        <div class="tab-pane fade bg-white polygons-features" id="tab-polygons-features" role="tabpanel" aria-labelledby="">

          <ul class="list-unstyled list-group-flush bg-white">
            <li class="list-group-item">
              <span>tutu</span>
            </li>
            <li class="list-group-item">
              <span>Heasfsdfsdfling</span>
            </li>
            <li class="list-group-item">
              <span>Exp sdfloring</span>
            </li>
            <li class="list-group-item">
              <span>QiGo ng</span>
            </li>
            <li class="list-group-item">
              <span>Mysf s sdfelf</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>









<ng-template #toolBarMenu let-geomLayer='geomType'>
  <div class="d-flex flew-row mx-auto align-items-center" [id]="geomLayer.name + '-tools'" *ngIf="geomTypeButton === geomLayer.name">

      <h6 class="m-1">Edition de {{geomLayer.name}}</h6>
      <button class="btn btn-sm m-1" type="button" [ngClass]="editStatus[geomLayer.name] ? 'btn-danger' : 'btn-secondary'" (click)="editModeSelector(geomLayer.name)">
        <fa-icon class="glyphicon" [icon]="editIcon"></fa-icon>
      </button>

      <button class="btn btn-sm bg-warning m-1" type="button">
        <fa-icon class="glyphicon" [icon]="toolsIcon"></fa-icon>
      </button>

      <button class="btn btn-sm bg-warning m-1" type="button">
        <fa-icon class="glyphicon" [icon]="centerIcon"></fa-icon>
      </button>

  </div>
</ng-template>


<ng-template #selectorMenu let-geomLayer='geomType'>
  <a class="text-warning p-3" [ngClass]="geomTypeButton === geomLayer.name ? 'active' : ''" [id]="geomLayer.name + '-menu'" data-bs-toggle="tab" [attr.data-bs-target]="'#tab-' + geomLayer.name + '-features'" type="button" role="tab" aria-controls="" aria-selected="true" (click)="resetEditModeDefaultValues(false); displayGeomToolbar(geomLayer.name);">
    <fa-icon class="glyphicon" [icon]="geomLayer.icon"></fa-icon>
  </a>
</ng-template>




<div class="modal fade" id="geomPopup"  tabindex="-1" aria-labelledby="geomPopup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Informations</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

      <ul class="list-unstyled" *ngIf="geomInfo">

        <li class="">
          <span class="me-1">{{ geomInfo.name }} </span>
        </li>
        <li class="">
          <span class="me-1">{{ geomInfo.to_wkt() }} </span>
        </li>
        <li class="">
          <span class="me-1">{{ geomInfo.tag }} </span>
        </li>
      </ul>

      <div id="nameEditor" class="d-flex flew-row mx-auto align-items-center my-2">
        <label for="nameLabel" class="form-label-hidden mx-1">Nom</label>
        <input #nameLabel type="text" class="form-control mx-1" id="nameLabel" placeholder="">
        <button type="submit" class="btn btn-primary mx-1" (click)="geomInfo.name = nameLabel.value">Valider</button>
      </div>

      <div id="tagEditor" class="d-flex flew-row mx-auto align-items-center my-2">
        <label for="inputTag" class="form-label-hidden mx-1">Tag</label>
        <input #tagLabel type="text" class="form-control mx-1" id="inputTag" placeholder="">
        <button type="submit" class="btn btn-primary mx-1" (click)="geomInfo.tag = tagLabel.value">Valider</button>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
    </div>
  </div>
</div>

