<div id="toolbox-sidebar" class="overflow-hidden card text-white shadow" [ngClass]="sidebarCollapsed ? 'collapsed' : ''">

  <div class="d-flex flex-column align-items-start bg-dark bg-gradient">


    <div id="header" class="d-flex flex-row text-white align-items-center">

      <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active btn btn-warning btn-sm m-3" type="button" (click)="sidebarCollapsed = !sidebarCollapsed">
          <fa-icon class="glyphicon" [icon]="toolsIcon"></fa-icon>
        </button>
      </div>
      <div *ngIf="!sidebarCollapsed">
        <span class="fw-bold fs-4 text-nowrap">Bac à sable</span>
      </div>
    </div>

    <ng-container *ngFor="let geomTypeValue of geomTypesList">
      <ng-container *ngTemplateOutlet="toolBarMenu; context:{geomType: geomTypeValue}"></ng-container>
    </ng-container>

    <div id="menus" class="d-flex flex-row w-100">

      <div class="nav flex-column ps-3 bg-dark bg-gradient text-center" role="tablist" aria-orientation="vertical">


        <ng-container *ngFor="let geomTypeValue of geomTypesList">
          <ng-container *ngTemplateOutlet="selectorMenu; context:{geomType: geomTypeValue}"></ng-container>
        </ng-container>

      </div>

      <div class="tab-content w-100" id="v-pills-tabContent" *ngIf="!sidebarCollapsed">

        <ng-container *ngFor="let geomTypeValue of geomTypesList">

          <div class="tab-pane fade" [ngClass]="geomTypeValue.selected ? 'show active': ''" [id]="'tab-' + geomTypeValue.name + '-features'" role="tabpanel" aria-labelledby="">

            <ul class="list-unstyled list-group-flush bg-white">

              <ng-container *ngIf="geomTypeValue.features.length !== 0">
                <ng-container *ngFor="let point of geomTypeValue.features">

                  <li class="list-group-item" [id]="point.id">

                    <div class="d-flex flew-row align-items-stretch justify-content-between" (mouseover)="highLightGeom(point.id)" (mouseleave)="unHighLightGeom(point.id)">

                      <div class="d-flex flew-row">
                        <div [style.background-color]="point.color" class="geom-color me-1" ></div>
                        <div class="d-flex flex-column align-items-center">
                          <div class="small" >{{ point.name }} </div>
                          <div class="small badge rounded-pill bg-secondary" >{{ point.tag }} </div>
                        </div>
                      </div>



                      <div class="d-flex flew-row align-items-center">
                        <div class="badge text-white add-button" [ngClass]="point.edited ? 'btn-danger' : 'btn-secondary'" type="button" (click)="enabledGeomEditing(point.id)">
                          <fa-icon class="glyphicon" [icon]="editIcon"></fa-icon>
                        </div>

                        <div class="badge bg-info text-white info-button" type="button" data-bs-toggle="modal" data-bs-target="#geomPopup" (click)="getGeomInfo(point.id)">
                          <fa-icon class="glyphicon" [icon]="toolsIcon"></fa-icon>
                        </div>

                        <div class="badge btn-danger" type="button" (click)="removeGeom(point.id)">
                          <fa-icon class="glyphicon" [icon]="removeIcon"></fa-icon>
                        </div>
                      </div>

                    </div>

                  </li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

</div>









<ng-template #toolBarMenu let-geomMenu='geomType'>
  <div class="d-flex flew-row mx-auto align-items-center" [id]="geomMenu.name + '-tools'" *ngIf="getCurrentGeomMenu().name === geomMenu.name">

      <h6 class="m-1">Edition de {{geomMenu.name}}</h6>
      <button class="btn btn-sm m-1" type="button" [ngClass]="getCurrentGeomMenu().edited ? 'btn-danger' : 'btn-secondary'" (click)="addGeomFromToolbar()">
        <fa-icon class="glyphicon" [icon]="editIcon"></fa-icon>
      </button>

      <button class="btn btn-sm bg-warning m-1" type="button">
        <fa-icon class="glyphicon" [icon]="toolsIcon"></fa-icon>
      </button>

      <button class="btn btn-sm bg-warning m-1" type="button">
        <fa-icon class="glyphicon" [icon]="centerIcon"></fa-icon>
      </button>

  </div>
</ng-template>


<ng-template #selectorMenu let-geomMenu='geomType'>
  <a class="text-warning p-3" [ngClass]="geomMenu.selected ? 'active' : ''" [id]="geomMenu.name + '-menu'" data-bs-toggle="tab" [attr.data-bs-target]="'#tab-' + geomMenu.name + '-features'" type="button" role="tab" aria-controls="" aria-selected="true" (click)="setGeomMenu(geomMenu.name);">
    <fa-icon class="glyphicon" [icon]="geomMenu.icon"></fa-icon>
  </a>
</ng-template>




<div class="modal fade" id="geomPopup"  tabindex="-1" aria-labelledby="geomPopup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Informations</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" *ngIf="geomFeature">

      <ul class="list-unstyled" >

        <li class="">
          <span class="me-1">{{ geomFeature.name }} </span>
        </li>
        <li class="">
          <span class="me-1">{{ geomFeature.toWkt() }} </span>
        </li>
        <li class="">
          <span class="me-1">{{ geomFeature.tag }} </span>
        </li>
      </ul>

      <form >
        <div id="nameEditor" class="d-flex flew-row mx-auto align-items-center my-2">
          <label for="nameLabel" class="form-label-hidden mx-1">Nom</label>
          <input #nameLabel type="text" class="form-control mx-1" id="nameLabel" [placeholder]="defaultNamePlaceHolder">
          <button type="submit" class="btn btn-primary mx-1" (click)="geomFeature.name = nameLabel.value">Valider</button>
        </div>

        <div id="tagEditor" class="d-flex flew-row mx-auto align-items-center my-2">
          <label for="inputTag" class="form-label-hidden mx-1">Tag</label>
          <input #tagLabel type="text" class="form-control mx-1" id="inputTag" [placeholder]="defaultTagPlaceHolder">
          <button type="submit" class="btn btn-primary mx-1" (click)="geomFeature.tag = tagLabel.value">Valider</button>
        </div>


        <div id="colorEditor" class="d-flex flew-row mx-auto align-items-center my-2">
          <label>Color Output format</label>
          <input #colorlabel class="form-control" [value]="color" [(colorPicker)]="color" [style.background]="color"/>
          <button type="submit" class="btn btn-primary mx-1" (click)="geomFeature.color = colorlabel.value; refreshLayer()">Valider</button>
          <button type="submit" class="btn btn-primary mx-1" (click)="applyByProperties('tag', geomFeature.tag, 'color', colorlabel.value); refreshLayer()">Valider sur tous</button>

          </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
    </div>
  </div>
</div>

