<div *ngIf="isLandscapeDeviceMode" id="OrientationAlert" class="d-flex align-items-center">
  <div  class="container">
    <div class="row justify-content-around">
      <div class="col-lg-6 text-center">
        <h1 class="text-white">{{ orientationErrorMessage }}</h1>
        <fa-icon class="text-white" [icon]="mobileIcon" size="5x"></fa-icon>
      </div>
    </div>
  </div>
</div>

<app-background-map></app-background-map>

<router-outlet #appOutlet="outlet"></router-outlet>

<div id="scroll-top-button" *ngIf="scrolltoTopActivated && !scrolltoTopDisabledForced" class="bg-white py-1 px-1 rounded-pill shadow">
  <fa-icon [icon]="arrowUpIcon" size="3x" (click)="scrollToTop()"></fa-icon>
</div>
