<div *ngIf="apiOff" id="ApiStartingAlert" class="d-flex align-items-center">
  <div  class="container">
    <div class="row justify-content-around">
      <div class="col-lg-6 text-center">
        <h1 class="text-white">{{ apiStatusMessage }} {{ countDown }} secondes environ !</h1>
        <fa-icon class="text-white" [icon]="loadingIcon" size="5x" [pulse]="true"></fa-icon>
        <p class="mt-4">
          <fa-icon class="text-white mr-2" [icon]="bugIcon"></fa-icon>
          <a class="text-white" [href]="apiStatusIssueLink">{{ apiStatusSubMessage }}</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLandscapeDeviceMode && !apiOff" id="OrientationAlert" class="d-flex align-items-center">
  <div  class="container">
    <div class="row justify-content-around">
      <div class="col-lg-6 text-center">
        <h1 class="text-white">{{ orientationErrorMessage }}</h1>
        <fa-icon class="text-white" [icon]="mobileIcon" size="5x"></fa-icon>
      </div>
    </div>
  </div>
</div>

<router-outlet #appOutlet="outlet"></router-outlet>

