.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  //box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

// .page[size="A4"][layout="landscape"] {
//   width: 29.7cm;
//   height: 21cm;
// }


// .content{
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
// }

#legacy_resume{
  transform-origin: top center;
}


.page {
  background: white;
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
  position: relative;
}


.skills {
  flex: 1;
}


@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
    size: auto;
    margin: 1cm;
  }
  // header,footer {
  //   display: none;
  // }

  .page {
    box-shadow: none;
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
}

img {
  // height: auto;
  max-height: 10vh;
}


header,
footer {
  position: absolute;
  left: 0;
  right: 0;
  padding-right: 1.5cm;
  padding-left: 1.5cm;
}
header:after{
}
footer:after{
}

header {
  top: 0;
  padding-top: 5mm;
  padding-bottom: 3mm;
}
footer {
  bottom: 0;
  color: #000;
  padding-top: 3mm;
  padding-bottom: 5mm;
}


@media print {
  #legacy_resume .page {
    margin: 0;
    box-shadow: 0;

      header,
  footer {
    position: fixed;
    left: 0;
    right: 0;
    padding-right: 1.5cm;
    padding-left: 1.5cm;
  }
  }

}
