<div #content class="content">


  <div class="d-flex flex-row align-items-center justify-content-center my-3">
    <button type="button" class="btn btn-lg btn-warning fw-bold" type="button" (click)="printDiv('legacy_resume')">Imprimer/export en pdf</button>
  </div>


  <div #legacyResume id="legacy_resume" class="d-flex flex-column justify-content-center d-none d-md-block">

    <div class="page d-flex flex-column" [ngClass]="isPrinting ? 'p-0' : 'p-4 mb-2'" size="A4" layout="">

      <div id="header" class="d-flex flex-row align-items-center justify-content-between mx-3">
        <div>
          <img src="https://avatars.githubusercontent.com/u/36413727?v=4" [alt]="profilData.first_name[0] + profilData.last_name[0]">
          <!-- <img class="" [src]="apiImgUrl + 'me.png'" alt="AV"/> -->
        </div>
        <div *ngIf="profilData">
          <h4 class="fw-bold">{{ profilData.first_name }} {{ profilData.last_name }}</h4>
          <h5 class="">{{ profilData.job }}</h5>
          <h6 *ngIf="jobDuration">{{ jobDuration.years }} années et {{ jobDuration.months }} mois d'expérience professionnelle</h6>
        </div>

        <div class="my-auto">
          <ul class="list-unstyled" *ngIf="contactData">
            <ng-container *ngIf="contactData.mail && isPrinting">
              <ng-container *ngTemplateOutlet="contactListElement; context: {icon: emailIcon, data: contactData.mail}"></ng-container>
            </ng-container>

            <ng-container *ngIf="contactData.phone && isPrinting">
              <ng-container *ngTemplateOutlet="contactListElement; context: {icon: phoneIcon, data: contactData.phone}"></ng-container>
            </ng-container>

            <ng-container *ngIf="contactData.website">
              <ng-container *ngTemplateOutlet="contactListElement; context: {icon: websiteIcon, data: contactData.website}"></ng-container>
            </ng-container>

            <ng-container *ngIf="contactData.github">
              <ng-container *ngTemplateOutlet="contactListElement; context: {icon: githubIcon, data: contactData.github}"></ng-container>
            </ng-container>
          </ul>
        </div>

      </div>

      <set-paragraph-content *ngIf="profilData" class="text-justify small">{{ profilData.carrier_summary }} </set-paragraph-content>


      <div *ngIf="degreesData" id="degrees" class="d-flex flex-column mx-2 pt-2">
        <h5 class="">Diplômes</h5>

        <div class="d-flex flex-column">
          <set-paragraph-content class="" *ngFor="let degree of degreesData">
            <div class="fw-bold">{{ degree.start_date | date: 'yyyy' }}-{{ degree.end_date | date: 'yyyy' }} - {{ degree.title }}</div>
            <div class="fw-light ms-3 small">{{ degree.school }} à {{ degree.location }}</div>
          </set-paragraph-content>
        </div>

      </div>

      <div class="d-flex flex-row mx-2 pt-2">

        <div id="degrees" class="d-flex flex-column">
          <h5 class="">Formations</h5>
          <set-paragraph-content class="" *ngFor="let training of trainingsData">
            <div class="fw-bold">{{ training.year }} - {{ training.name }}</div>
            <div class="fw-light ms-3"> par {{ training.trainer }}</div>
          </set-paragraph-content>
        </div>

        <div id="languages" class="d-flex flex-column">
          <h5 class="">Langues</h5>

          <div class="d-flex flex-column mx-4">
            <set-paragraph-content *ngFor="let language of languagesData">
              <span class="fw-bold">{{language.language}} : </span> {{language.level}}
            </set-paragraph-content>
          </div>
        </div>

      </div>

      <div id="publication" class="d-flex flex-column mx-2 pt-2">
        <h5 class="">Recherches et publications</h5>

        <div class="d-flex flex-column">
          <set-paragraph-content *ngFor="let publication of publicationsData">
            <div class="fw-bold">{{ publication.year }} - {{ publication.editor }}</div>
            <div class="fw-light ms-3 text-justify small">
              {{publication.publication}}
            </div>
          </set-paragraph-content>

        </div>
      </div>

      <div class="mt-auto text-center">
        <div class="small">Page 1</div>
      </div>


    </div>


    <section class="page d-flex flex-column" [ngClass]="isPrinting ? 'p-0' : 'p-4 mb-2'" size="A4" layout="">

      <div id="jobs" class="d-flex flex-column mx-2">

        <h5 class="">Expériences</h5>

        <div class="d-flex flex-column mx-2" *ngFor="let job of jobsData ;let last = last;">

          <div class="d-flex flex-row justify-content-between mt-1" [ngClass]="job.status === 'InProgress' ? 'text-danger': 'text-dark'">
            <div class="fw-bold small w-75">{{job.title}} @ {{job.company}}</div>
            <div class="small">{{job.location}}</div>
          </div>

          <div class="d-flex flex-row small">
            <ng-container *ngIf="job.status !== 'InProgress'">
              <div class="me-1">Du {{ job.start_date | date: 'MM-yyyy' }} au {{ job.end_date | date: 'MM-yyyy' }}</div>
            </ng-container>

            <ng-container *ngIf="job.status === 'InProgress'">
                <div class="me-1">Du {{ job.start_date | date: 'MM-yyyy' }} à aujourd'hui</div>
            </ng-container>

            <div *ngIf="job.years == 0 && job.months > 0">
              <div>({{job.months}} mois)</div>
            </div>
            <div *ngIf="job.years == 1 && job.months == 0">
              <div>({{job.years}} an)</div>
            </div>
            <div *ngIf="job.years == 1 && job.months > 0">
              <div>({{job.years}} an et {{job.months}} mois)</div>
            </div>
            <div *ngIf="job.years > 1 && job.months > 0">
              <div>({{job.years}} ans et {{job.months}} mois)</div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mx-1">

            <div class="col-2 text-center">
              <img class="img-fluid " [src]="apiImgUrl + job.img_activity" [alt]="job.id"/>
            </div>
            <div class="col-10">
              <set-paragraph-content class="small">{{ job.presentation }}</set-paragraph-content>
            </div>

          </div>

          <div *ngIf="!last" class="d-flex flex-row justify-content-center">
            <hr class="w-25 my-2 border-2 border-top border-dark">
          </div>


        </div>

      </div>

      <div class="mt-auto text-center">
        <div class="small">Page 2</div>
      </div>

    </section>


    <section class="page d-flex flex-column" [ngClass]="isPrinting ? 'p-0' : 'p-4 mb-2'" size="A4" layout="">

      <div id="projects" class="d-flex flex-column mx-2">

        <h5 class="">Projets personnels</h5>

        <div class="d-flex flex-column mt-2 mx-2"  *ngFor="let project of personalProjectsData">
          <div class="d-flex flex-row justify-content-between small">

            <div class="fw-bold">{{project.title}}</div>

              <div *ngIf="project.url_github; then projectsShorcutGithub"></div>
              <ng-template #projectsShorcutGithub>
                <span><fa-icon class="me-2" [icon]="githubIcon"></fa-icon><a class="small text-dark" href="{{ project.url_github }}" target="_blank" rel="noopener noreferrer">{{ project.url_github }}</a></span>
              </ng-template>

              <div *ngIf="project.url_website; then projectsShorcutWebsite"></div>
              <ng-template #projectsShorcutWebsite>
                <span><fa-icon class="me-2" [icon]="websiteIcon"></fa-icon><a class="small text-dark" href="{{ project.url_website }}" target="_blank" rel="noopener noreferrer">{{ project.url_website }}</a></span>
              </ng-template>
          </div>

            <set-paragraph-content class="small text-justify">{{project.presentation}}</set-paragraph-content>

        </div>
      </div>

      <div id="skills" class="d-flex flex-column mx-2 pt-2">

        <h5 class="">Compétences</h5>

        <ng-container *ngIf="skillsData">

          <div class="d-flex flex-row mt-2 mx-2" *ngFor="let skill of skillsData">
            <ng-container>
              <ng-container *ngTemplateOutlet="skillsFeature; context: {data: skill.skills, title: skillsCategories[skill.category]}"></ng-container>
            </ng-container>

          </div>

        </ng-container>
      </div>

      <div class="mt-auto text-center">
        <div class="small">Page 3</div>
      </div>

    </section>

  </div>

</div>
<!-- TEMPLATES -->

<ng-template #contactListElement let-icon=icon let-data=data>
  <li class="d-flex justify-content-end">
    <a class="small" [href]="data" target="_blank" rel="noopener noreferrer" [innerHTML]="reverse(data)"></a>
    <fa-icon class="ms-2" [icon]="icon"></fa-icon>
  </li>
</ng-template>


<ng-template #skillsFeature let-data=data let-title=title>
  <div class="d-flex flex-column skills mb-2">
    <div class="small fw-bold">{{title}}</div>
    <ul class="text-no-decoration small m-0" *ngFor="let feature of data">
      <li>
        <span class="small text-decoration-underline">{{feature.name}}</span>  :
        <span class="small ms-1">{{ feature.sub_skills | join }}.</span>
      </li>
    </ul>
  </div>

</ng-template>
