<div class="d-flex flex-xl-row flex-column">

  <set-section-container>
    <h6>Barre Temporelle</h6>

    <set-badge-content classes="text-bg-secondary">{{ currentDate | date:currentDateFormat }}</set-badge-content>

    <div class="d-flex flex-row justify-content-center">
      <svg [attr.viewBox]="'0 10 ' + width + ' ' + height" [id]="timeLineId">
      </svg>
    </div>

  </set-section-container>

  <div class="d-flex flex-column justify-content-center m-2" *ngIf="timeLineSpeedSliderEnabled">

    <div class="d-flex flex-row justify-content-center align-items-center">
      <a id="start-button" class="btn btn-sm btn-dark" role="button" (click)="resetTimeLine()"><fa-icon [icon]="backwardIcon"></fa-icon></a>
      <a id="play-button" class="btn btn-dark mx-2" role="button" (click)="startTimeLine()">Play</a>
      <a id="end-button" class="btn btn-sm btn-dark" role="button" (click)="forwardTimeLine()"><fa-icon [icon]="forwardIcon"></fa-icon></a>
    </div>

    <h6 class="mt-3">Vitesse</h6>
    <div class="d-flex flex-row align-self-center">

      <div class="fw-bold">-</div>
      <div class="px-1">
        <input id="speed-slider" class="form-range" type="range" [min]="minStepValue" [max]="maxStepValue" [step]="minStepValue" [value]="stepValue" (change)="updateStepValue($event)"/>
      </div>
      <div class="fw-bold">+</div>
    </div>

  </div>
</div>
