// TODO clean it

$enable-responsive-font-sizes: true;
$enable-shadows: true;

// Variables  
$null: null;

$very-dark:               #2a2e33;
$less-dark:               #495057;
$personal-project-color:  rgba(255, 127, 0);
$gallery-color:           #0d6efd;
$job-color:               rgba(225, 0, 1);
$volunteer-color:         rgba(98, 0, 255);
$education-color:         rgba(0, 144, 29);
$disabled-color:          #b7b6b6;
$technics-color:          #3b77a1;
$themes-color:            #76a02f;
$tools-color:             #302e2e;
$skills-color:             grey;


$map-color:     teal;
$app-color:     blue;
$video-color:   brown;
$chart-color:   grey;
$tool-color:    black;
$library-color: blue;
$methodo-color: cyan;

$navbar-height: 58px;


$breakpoints: (
  "xs":  0px,
  "sm":  576px,
  "md":  768px,
  "lg":  992px,
  "xl":  1200px,
  "xxl": 1400px,
) !default;




/* nav bar height */
* {
  scroll-margin-top: 75px;
}

#gotop-button {
  z-index: 1;
}
