$svg-theme-colors-map: (
  "personal_project": (
    color: $personal-project-color,
    text: $black
  ),
  "job": (
    color: $job-color,
    text: $white
  ),
  "volunteer": (
    color: $volunteer-color,
    text: $white
  ),
  "technics": (
    color: $technics-color,
    text: $white
  ),
  "themes": (
    color: $themes-color,
    text: $white
  ),
  "tools": (
    color: $tools-color,
    text: $white
  )
);

@each $colorName, $colorSettings in $svg-theme-colors-map {
 
    .svg-color-#{$colorName} {
      fill: map-get($colorSettings, 'color')!important;
  
      &.selected {
        stroke: black!important;
        stroke-width: 2px!important;
      }
      
    // used for activities-map (activities legend feature
    //   &.disabled {
    //     fill: $disabled-color!important;
    //   }
  
    //   &.invisible {
    //     visibility: hidden;
    //   }
    }
   
}
  

.rotate-180 {
  display: inline-block;
  transform: rotate(-180deg);
}

.location a {
  animation: bounce 2s ease infinite;
  color: rgba(var(--bs-danger-rgb))
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-8px);}
	60% {transform: translateY(-3px);}
}
