<li class="feature-content py-0 d-flex align-items-center pointer border-bottom">

  <div class="d-flex flex-row pointer justify-content-start align-items-center flex-fill">

    <div class="m-1">

      <svg height="25" width="25" *ngIf="feature.get('geom_type') === 'Point'">
        <circle cx="12" cy="12" r="8" [attr.stroke]="feature.get('stroke_color')" [attr.stroke-width]="feature.get('stroke_width')" [attr.fill]="feature.get('fill_color')" />
      </svg>

      <svg height="25" width="25" *ngIf="feature.get('geom_type') === 'LineString'">
        <line x1="0" y1="12.5" x2="25" y2="12.5" [attr.stroke]="feature.get('stroke_color')" [attr.stroke-width]="feature.get('stroke_width') * 2"/>
        <line x1="0" y1="12.5" x2="25" y2="12.5" [attr.stroke]="feature.get('fill_color')" [attr.stroke-width]="feature.get('stroke_width') *1.5"/>
      </svg>

      <svg height="15" width="25" *ngIf="feature.get('geom_type') === 'Polygon'">
        <rect x="0" y="0" width="25" height="15" [attr.stroke]="feature.get('stroke_color')" [attr.stroke-width]="feature.get('stroke_width')" [attr.fill]="feature.get('fill_color')"/>
      </svg>
    </div>

    <div class="">
      {{feature.get('name')}}
    </div>

    <div class="ms-auto">

      <button class="ms-auto btn p-1 bg-transparent border-0" (click)="zoomToFeature()" ngbPopover="Center sur l'object" triggers="mouseenter:mouseleave">
        <fa-icon class="" [icon]="centerIcon" size="xs"></fa-icon>
      </button>


      <button class="ms-auto btn p-1 bg-transparent border-0" (click)="duplicateFeature()" ngbPopover="Dupliquer l'object" triggers="mouseenter:mouseleave">
        <fa-icon class="" [icon]="duplicateIcon" size="xs"></fa-icon>
      </button>

      <button class="btn m-0 bg-transparent border-0 text-danger" (click)="removeFeature()"  ngbPopover="Supprimer l'object" triggers="mouseenter:mouseleave">
        <fa-icon class="" [icon]="disabledIcon" size="xs"></fa-icon>
      </button>

      <button class="btn m-0 bg-transparent border-0 text-black" (click)="showPopup()" ngbPopover="Options de l'objet" triggers="mouseenter:mouseleave">
        <fa-icon class="" [icon]="paramIcon" size="xs"></fa-icon>
      </button>

    </div>

  </div>
</li>



<div
  [id]="'featurePopup' + feature.getId()"
  *ngIf="displayPopup"
  class="featureToast position-fixed bottom-0 end-0 p-3 d-flex flex-row overflow-auto fw-normal pointer-none" style="z-index: 11"
  >

    <div class="toast toastFeature faded" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header justify-content-between">

        <strong>{{ feature.get('name') }}</strong>
        <em class="ms-2 me-auto me-auto">({{ feature.get('geom_type') }})</em>
        <em class="ms-auto">Couche: {{ layer.layerName }}</em>
        <button type="button" class="btn-close" aria-label="Close" (click)="showPopup()"></button>

      </div>

      <div class="toast-body bg-white">

        <div id="toastActions" class="d-flex flex-row justify-content-start align-items-center">
          <span class="fw-bold">Actions :</span>

          <span class="badge bg-dark rounded m-1 small pointer" (click)="copyToClipboard(getWktFromFeature())" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copier le WKT">
            WKT
          </span>

          <span class="badge bg-primary rounded m-1 small pointer" (click)="copyToClipboard(getBoundsFromFeature())" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copier la Bbox (xmin, ymin, xmax, ymax)">
            Bbox
          </span>


        </div>

        <div class="d-flex flex-row justify-content-between">
          <span>Créé à {{ feature.get('created_at') | date: 'HH:mm:ss' }}</span>
          <span>Modifié à {{ feature.get('updated_at') | date: 'HH:mm:ss' }}</span>
        </div>


        <div class="d-flex flex-column my-3">
          <h6 class="">Style</h6>

          <div class="d-flex flex-row ms-2 my-1">
            <span class="me-2">Couleur de fond :</span>
            <input #fillColor type="color" id="fillColor" [value]="feature.get('fill_color')" class="fillColor m-1 pointer" (change)="updateFillColor(fillColor.value)"/>
            <label for="fillColor"></label>
          </div>

          <div class="d-flex flex-row ms-2 my-1">
            <span class="me-2">Couleur du contour :</span>
            <input #strokeColor type="color" id="strokeColor" [value]="feature.get('stroke_color')" class="strokeColor m-1 pointer" (change)="updateStrokeColor(strokeColor.value)"/>
            <label for="strokeColor"></label>
          </div>

          <div class="d-flex flex-row ms-2 my-1">
            <span class="me-2">Epaisseur du contour :</span>
            <input class="small strokeWidth" type="number" min="0" max="12" [value]="currentStrokeWidth" (change)="updateStrokeWidth($event)"/>
          </div>

        </div>

      </div>
    </div>

</div>

