.pointer {
  cursor: pointer;
}

.pointer-none {
  cursor: auto;
}

.feature:hover {
  font-weight: bold;
}

.toast {
  opacity: 0;
  display: unset!important;
  -webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
  }

.faded {
  opacity: 1!important;
	-webkit-transition: opacity 0.5s!important;
	transition: opacity 0.5s!important;
}

.feature-item {
  animation-name: featureColorTransition;
  animation-duration: 0.5s;

  &:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@keyframes featureColorTransition {
  from {background-color: var(--bs-secondary) ;}
  to {background-color: var(--bs-light);}
}
