  <div id="mapsHome" class="gallery" [@fadeInOut]>

    <app-grid-container
      columnNb="3"
      [features]="mapPagesMenus.sub_menus"
      featuresHeaderClass="text-bg-dark"
    >
      <ng-template #descriptionTemplate let-feature>
        <set-paragraph-content>{{ feature.description }}</set-paragraph-content>

        <div class="d-flex flex-row align-items-center justify-content-center">
          <ng-container *ngFor="let feat of feature.stack">

              <ng-container *ngIf="feat.type === 'Pre-Proc'">
                <ng-container *ngTemplateOutlet="stackTemplate; context:{stack:feat}"></ng-container>
              </ng-container>  

              <ng-container *ngIf="feat.type === 'Back-end'">
                <ng-container *ngTemplateOutlet="stackTemplate; context:{stack:feat}"></ng-container>
              </ng-container> 

              <ng-container *ngIf="feat.type === 'Front-end'">
                <ng-container *ngTemplateOutlet="stackTemplate; context:{stack:feat}"></ng-container>
              </ng-container> 

          </ng-container>
        </div>



      </ng-template>
    
  
    </app-grid-container>

  </div>


  <ng-template #stackTemplate let-stack='stack'>
      <div class="d-flex flex-column justify-content-center align-items-center border rounded m-2">
        <span class="small">{{stack.type}}</span>
        <img [src]="stack.img" class="stack-img m-2" [attr.title]="stack.language">
      </div>
  </ng-template>