$theme-colors-map: (
  // "primary": (
  //   color: $primary,
  //   text: $white
  // ),
  // "secondary": (
  //   color: $secondary,
  //   text: $white
  // ),
  // "success": (
  //   color: $success,
  //   text: $white
  // ),
  // "info": (
  //   color: $info,
  //   text: $white
  // ),
  "warning": (
    color: $warning,
    text: $black
  ),
  // "danger": (
  //   color: $danger,
  //   text: $white
  // ),
  "light": (
    color: $light,
    text: $black
  ),
  // "dark": (
  //   color: $dark,
  //   text: $white
  // ),
  // "very-dark": (
  //   color: $very-dark,
  //   text: $white
  // ),
  // "less-dark": (
  //   color: $less-dark,
  //   text: $white
  // ),
  "personal-project": (
    color: $personal-project-color,
    text: $black
  ),
  "personal_project": (
    color: $personal-project-color,
    text: $black
  ),
  "job": (
    color: $job-color,
    text: $white
  ),
  // "gallery": (
  //   color: $gallery-color,
  //   text: $white
  // ),
  "volunteer": (
    color: $volunteer-color,
    text: $white
  ),
  "education": (
    color: $education-color,
    text: $white
  ),
  // "disabled": (
  //   color: $disabled-color,
  //   text: $white
  // ),
  // "technics": (
  //   color: $technics-color,
  //   text: $white
  // ),
  // "themes": (
  //   color: $themes-color,
  //   text: $white
  // ),
  // "tools": (
  //   color: $tools-color,
  //   text: $white
  // ),
  // "map": (
  //   color: $map-color,
  //   text: $white
  // ),
  // "app": (
  //   color: $app-color,
  //   text: $white
  // ),
  // "video": (
  //   color: $video-color,
  //   text: $white
  // ),
  // "chart": (
  //   color: $chart-color,
  //   text: $white
  // ),
  // "methodo": (
  //   color: $methodo-color,
  //   text: $white
  // ),
  // "tool": (
  //   color: $tool-color,
  //   text: $white
  // ),
  // "library": (
  //   color: $library-color,
  //   text: $white
  // ),
  "skills": (
    color: $skills-color,
    text: $black
  )
);


@mixin badgeTitle($bg_color, $text_color) {
    display: inline-block;
    padding: 5px 25px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 5px; // no nmore
    margin-right: 5px; // no more
    border-radius: var(--bs-border-radius-pill) !important;
    background-color: $bg_color;
    color: $text_color;
}

@mixin paragraphTitle($color) {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    padding-left: 1.5rem;

    &:before {
        content: "";
        display: inline-block;
        background: $color;
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0.5em;
        top: 0;
    }
}

@mixin bannerTitle($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
}

@each $colorName, $colorSettings in $theme-colors-map {
    .badge-title-#{$colorName} {
        @include badgeTitle(
            map-get($colorSettings, 'color'), 
            map-get($colorSettings, 'text'), 
        )
    }
    .title-tick-#{$colorName} {
        @include paragraphTitle(map-get($colorSettings, 'color'))
    }

}
