
<div class="container-fluid g-0">
  <div class="d-flex flex-column">


    <div class="d-flex flex-row map-content">
    </div>

    <div class="legend-container">


      <div class="d-flex flex-column flex-fill">

        <div class="d-flex flex-row align-items-end justify-content-between px-3">

          <div class="d-flex flex-row">
            <button class="btn btn-sm btn-dark me-2" type="button" checked autocomplete="off" (click)="showHideLegend()">
              <fa-icon class="" [icon]="tagIcon"></fa-icon>
              Légende
            </button>

            <button class="btn btn-sm btn-warning me-2" title="Centrer" type="button" checked autocomplete="off" (click)="zoomOnData()">
              <fa-icon class="" [icon]="centerIcon"></fa-icon>
            </button>
          </div>

          <div class="map-sources d-flex flex-column">
            <div class="col-12">
              <div id="attribution" class="float-end"></div>
            </div>

            <div class="col-12">
              <div id="legend-scale" class="float-end"></div>
            </div>
          </div>

        </div>

        <div class="d-flex flex-column flex-lg-row bg-white legend-content text-center py-3 justify-content-center"  style="min-height : 2em;"  [ngClass]="isLegendDisplayed ? 'd-block' : 'd-none'">
          <router-outlet
          ></router-outlet>
        </div>

        <div class="d-flex flex-column flex-lg-row bg-white legend-content text-center py-3 justify-content-center legend-content-disable"  [ngClass]="isLegendDisplayed ? 'd-none' : 'd-block'">
        </div>

      </div>

    </div>

  </div>

</div>
