<div class="gallery-container">

    <div class="gallery-feature" *ngFor="let feature of features; let idx = index">

        <div class="gallery-feature-header">
            <span class="title">{{ feature.title }}</span>
        </div>

        <div class="gallery-feature-body">

            <div class="body-media-container">
                <ng-container *ngIf="feature.type === 'video'">
                    <div class="ratio ratio-16x9">
                        <iframe [src]="feature.image_url | safeUrl" class="" options="" loading="lazy" scrolling="no" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ng-container>
                <ng-container *ngIf="feature.type !== 'video'">
                    <img [src]="feature.image_url | safeUrl" class="pointer">
                </ng-container>
            </div>

            <div class="body-generic-badges">
                <div class="body-text"  *ngIf="feature.categories.length > 0">
                    <span class="title">Catégorie(s):</span>
                    <span *ngFor="let category of feature.categories" class="badge-generic" [style]="'background-color:' + category.color + ';color: white'">{{category.name}}</span>
                </div>

                <div class="body-text" *ngIf="feature.tags.length > 0">
                    <span class="title">Tag(s):</span>
                    <span *ngFor="let tag of feature.tags" class="badge-generic" [style]="'background-color:' + tag.color + ';color: white'">{{tag.name}}</span>
                </div>
            </div>

            <!-- gallery experiences badges ONLY -->
            <div class="body-activity-badges">
                <span *ngIf="feature.activityType" [ngClass]="'badge-' + feature.activityType.class">{{feature.activityType.name}}</span>
                <span *ngIf="feature.experienceName" [routerLink]="[experiencesRoute]" [fragment]="feature.id" class="pointer badge-generic" [style]="'background-color:' + feature.experienceName.color + ';color: white'">{{feature.experienceName.name}}</span>
                <span *ngIf="feature.mediaType" [ngClass]="'badge-' + feature.mediaType.name">
                    <fa-icon [icon]="feature.mediaType.icon.icon"></fa-icon>{{feature.mediaType.icon.title}}
                </span>
            </div>
            <!-- gallery experiences badges ONLY -->

            <div class="paragraph">{{ feature.description }}</div>

            <ul class="body-addons" *ngIf="feature.addons">
                <li *ngFor="let addon of feature.addons | keyvalue" class="">
                    <span>{{addon.key}} : </span>
                    <span>{{addon.value}}</span>
                </li>
            </ul>

            <div class="body-buttons">

                <ng-container *ngIf="feature.type !== 'modal'">
                    <a *ngIf="!feature.content_url.includes('http')" [routerLink]="'../' + feature.content_url" class="btn-warning">Accéder</a>
                    <a *ngIf="feature.content_url.includes('http')" [href]="feature.content_url" class="btn-warning" target="_blank" rel="noopener noreferrer">Accéder</a>
                </ng-container>

                <ng-container *ngIf="feature.type === 'modal'">
                    <ng-container *ngTemplateOutlet="imgModal; context: {pictureUrl: feature.content_url, activityId: feature.id, pictureId: idx}"></ng-container>
                    <a data-bs-toggle="modal" [href]="'#modal-' + feature.id + idx" role="button" class="btn-warning">Afficher</a>
                </ng-container>
           
            </div>
            
        </div>

        <div class="gallery-feature-footer">
        </div>

    </div>

</div>





<ng-template #imgModal let-pictureUrl=pictureUrl let-activityId=activityId let-pictureId=pictureId>

    <div class="modal" tabindex="-1" [id]="'modal-' + activityId + pictureId" _data-bs-dismiss="modal" _data-bs-backdrop="true">
      <div class="modal-dialog modal-xl modal-dialog-centered text-center">
  
        <div class="modal-body">
          <img [src]="pictureUrl | safeUrl" class="pointer img-size-modal m-auto">
        </div>
  
      </div>
    </div>
    
  </ng-template>

