<div class="grid-container m-4" [ngClass]="'grid-' + columnNb">

    <div class="grid-feature
        mb-4
        shadow
        " *ngFor="let feature of features; let idx = index">

        <set-card-container
            class=""
            [title]="feature.title"
            [headerClass]="featuresHeaderClass"
         >

         <ng-template #cardBodyTemplate>

            <div class="body-media-container
                d-flex flex-row
                ">
                <ng-container *ngIf="feature.type === 'video'">
                    <div class="ratio ratio-16x9">
                        <iframe [src]="feature.image_url | safeUrl" options="" loading="lazy" scrolling="no" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ng-container>
                <ng-container *ngIf="feature.type !== 'video'">
                    <img class="img-fluid mx-auto" [src]="feature.image_url | safeUrl">
                </ng-container>
            </div>

            <ng-container *ngTemplateOutlet="descriptionTmplt, context: { $implicit: feature }"></ng-container>

            <div class="body-buttons text-end mt-2">

                <ng-container *ngIf="feature.type !== 'modal'">
                    <a *ngIf="!feature.content_url.includes('http')" [routerLink]="'../' + feature.content_url" class="btn bg-warning">Accéder</a>
                    <a *ngIf="feature.content_url.includes('http')" [href]="feature.content_url" class="btn bg-warning" target="_blank" rel="noopener noreferrer">Accéder</a>
                </ng-container>

                <ng-container *ngIf="feature.type === 'modal'">
                    <ng-container *ngTemplateOutlet="imgModal; context: {pictureUrl: feature.content_url, activityId: feature.id, pictureId: idx}"></ng-container>
                    <a data-bs-toggle="modal" [href]="'#modal-' + feature.id + idx" role="button" class="btn bg-warning">Afficher</a>
                </ng-container>
        
            </div>
                
         </ng-template>

        </set-card-container>

    </div>

</div>





<ng-template #imgModal let-pictureUrl=pictureUrl let-activityId=activityId let-pictureId=pictureId>

    <div class="modal" tabindex="-1" [id]="'modal-' + activityId + pictureId" _data-bs-dismiss="modal" _data-bs-backdrop="true">
      <div class="modal-dialog modal-xl modal-dialog-centered text-center">
  
        <div class="modal-body">
          <img [src]="pictureUrl | safeUrl" class="pointer img-size-modal m-auto">
        </div>
  
      </div>
    </div>
    
  </ng-template>

