<div class="grid-container m-4">

    <div class="grid-feature
        card    
        mb-4
        bg-light
        shadow
        " *ngFor="let feature of features; let idx = index">

        <div class="grid-feature-header
            card-header
            p-2
            bg-dark bg-gradient
            text-white
            ">
            <span class="fw-bold">{{ feature.title }}</span>
        </div>

        <div class="grid-feature-body
            card-body
            ">

            <div class="body-media-container
                d-flex flex-row
                ">
                <ng-container *ngIf="feature.type === 'video'">
                    <div class="ratio ratio-16x9">
                        <iframe [src]="feature.image_url | safeUrl" options="" loading="lazy" scrolling="no" frameborder="0" allowfullscreen></iframe>
                    </div>
                </ng-container>
                <ng-container *ngIf="feature.type !== 'video'">
                    <img class="img-fluid mx-auto" [src]="feature.image_url | safeUrl">
                </ng-container>
            </div>

            <!-- TODO refactor gallery blog PART -->
            <ng-container *ngTemplateOutlet="blogTmplt, context: { $implicit: feature }"></ng-container>
            <!-- gallery blog PART -->

            <!-- TODO refactor gallery experiences PART -->
            <ng-container *ngTemplateOutlet="galleryTmplt, context: { $implicit: feature }"></ng-container>
            <!-- gallery experiences PART -->

            <set-paragraph-content>{{ feature.description }}</set-paragraph-content>
            
            <!-- TODO gallery addon -->
            <set-paragraph-content>
                <ul class="body-addons" *ngIf="feature.addons">
                    <li *ngFor="let addon of feature.addons | keyvalue" class="">
                        <span>{{addon.key}} : </span>
                        <span>{{addon.value}}</span>
                    </li>
                </ul>
            </set-paragraph-content>
    
            <div class="body-buttons text-end">

                <ng-container *ngIf="feature.type !== 'modal'">
                    <a *ngIf="!feature.content_url.includes('http')" [routerLink]="'../' + feature.content_url" class="btn bg-warning">Accéder</a>
                    <a *ngIf="feature.content_url.includes('http')" [href]="feature.content_url" class="btn bg-warning" target="_blank" rel="noopener noreferrer">Accéder</a>
                </ng-container>

                <ng-container *ngIf="feature.type === 'modal'">
                    <ng-container *ngTemplateOutlet="imgModal; context: {pictureUrl: feature.content_url, activityId: feature.id, pictureId: idx}"></ng-container>
                    <a data-bs-toggle="modal" [href]="'#modal-' + feature.id + idx" role="button" class="btn bg-warning">Afficher</a>
                </ng-container>
           
            </div>
            
        </div>

        <div class="grid-feature-footer
            card-footer
            ">
        </div>

    </div>

</div>





<ng-template #imgModal let-pictureUrl=pictureUrl let-activityId=activityId let-pictureId=pictureId>

    <div class="modal" tabindex="-1" [id]="'modal-' + activityId + pictureId" _data-bs-dismiss="modal" _data-bs-backdrop="true">
      <div class="modal-dialog modal-xl modal-dialog-centered text-center">
  
        <div class="modal-body">
          <img [src]="pictureUrl | safeUrl" class="pointer img-size-modal m-auto">
        </div>
  
      </div>
    </div>
    
  </ng-template>

