.nav-link {
  color: black;
  cursor: pointer;
}

.nav-item:hover {
  --bs-bg-opacity: 0.25;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity))!important;
}

.nav-link.active {
  @extend .nav-link;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;

}

img{
  max-height: 10vh;
}

.title-date {
  text-align: center;
  background: url("http://i.imgur.com/Kkw7rPC.png?1") center center repeat-x rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}
.title-date p {
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  padding: 10px;
  display: inline-block;
}
