#separator {
  width: 80%;
}

.title {
  display: flex;
}

.title:before, .title:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:groove 2px;
  margin:auto 0.25em;
  box-shadow: 0 -1px ;
}

.img_company {
  max-width: 62px;
}

.text_legend {
  width: fit-content;
}

html {
  font-size: 1rem;
}

p, span, a {
  font-size: small;
}

/* Remove Hyperlinks */
@media print {
  a:link {
      border-bottom: none !important;
      text-decoration: none !important;
  }
  a[href]:after {
      content: none !important;
  }
}

#degrees p {
  margin-bottom: 0!important;
}
