<div class="container"  *ngIf="isDataAvailable">

  <div class="row justify-content-between">

    <div class="col-md-6 align-self-center">
      <h3 class="font-weight-bold">{{ profilData.first_name }} {{ profilData.last_name }}</h3>
      <h5 class="">{{ profilData.job }}</h5>
      <h5 class="">{{ profilData.experience_duration }}</h5>
    </div>

    <div class="col-md-5 text-right my-auto">
      <ul class="list-unstyled">

        <ng-container *ngIf="contactData.mail">
          <ng-container *ngTemplateOutlet="contactListElement; context: {icon: emailIcon, data: contactData.mail}"></ng-container>
        </ng-container>

        <ng-container *ngIf="contactData.linkedin">
          <ng-container *ngTemplateOutlet="contactListElement; context: {icon: linkedinIcon, data: contactData.linkedin}"></ng-container>
        </ng-container>

        <ng-container *ngIf="contactData.phone">
          <ng-container *ngTemplateOutlet="contactListElement; context: {icon: phoneIcon, data: contactData.phone}"></ng-container>
        </ng-container>

        <ng-container *ngIf="contactData.website">
          <ng-container *ngTemplateOutlet="contactListElement; context: {icon: websiteIcon, data: contactData.website}"></ng-container>
        </ng-container>

        <ng-container *ngIf="contactData.github">
          <ng-container *ngTemplateOutlet="contactListElement; context: {icon: githubIcon, data: contactData.github}"></ng-container>
        </ng-container>

      </ul>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <h3 class="title text-center my-3">Education</h3>
    </div>

    <div id="degrees" class="col-lg-12 mt-2">
      <div class="col-lg-12">
        <h5 class="">Diplômes</h5>
      </div>

      <div class="col-lg-12 sub-element" *ngFor="let degree of degreesData">
        <div class="col-lg-12">
          <div class="font-weight-bold">{{ degree.start_date | date: 'yyyy' }}-{{ degree.end_date | date: 'yyyy' }} - {{ degree.degree }}</div>
        </div>
        <div class="col-lg-12">
          <div class="font-weight-light ml-3">{{ degree.school }} à {{ degree.location }} </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 mt-2">
      <div class="col-lg-12">
        <h5 class="">Formations</h5>
      </div>
      <div class="col-lg-12" *ngFor="let training of trainingsData">
        <div class="col-lg-12">
          <div class="font-weight-bold">{{ training.year }} - {{ training.name }}</div>
        </div>
        <div class="col-lg-12">
          <div class="font-weight-light ml-3">{{ training.trainer }}</div>
        </div>
      </div>
    </div>

    <div id="languages" class="col-lg-12 mt-2">
      <div class="col-lg-12">
        <h5 class="">Langues</h5>
      </div>
      <div class="col-lg-12">
        <ul class="list-unstyled">
          <li *ngFor="let language of languagesData">
            <span class="ml-3">{{language.language}} - {{language.level}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <h3 class="title text-center my-3">Expériences</h3>
    </div>

    <div class="col-lg-12 mt-2" *ngFor="let job of jobsData">
      <div class="col-lg-12">

        <div *ngIf="job.current; then currentJob else pastJob"></div>
        <ng-template #pastJob>
          <span class="font-weight-bold">{{job.contract}} - Du {{ job.start_date | date: 'MM-yyyy' }} au {{ job.end_date | date: 'MM-yyyy' }} ({{job.duration}})</span>
        </ng-template>
        <ng-template #currentJob>
          <span class="font-weight-bold">{{job.contract}} - Du {{ job.start_date | date: 'MM-yyyy' }} à aujourd'hui ({{job.duration}})</span>
        </ng-template>

        <span class="font-weight-light"> - {{job.title}} </span>

        <div class="col-lg-12">
          <span class="font-weight-light"> {{job.company}} à {{job.location}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <h3 class="title text-center my-3">Projets</h3>
    </div>

    <div class="col-lg-4" *ngFor="let project of personalProjectsData">

      <div class="col-lg-12">
        <h5>{{project.title}}</h5>
      </div>
      <div class="col-lg-12 ">
        <p>{{project.description}}</p>
      </div>

      <div class="list col-lg-12">
        <ul>
          <div *ngIf="project.url_github; then projectsShorcutGithub"></div>
          <ng-template #projectsShorcutGithub>
            <li><span class="">Github: </span><a class="small text-dark" href="{{ project.url_github }}" target="_blank" rel="noopener noreferrer">{{ project.url_github }}</a></li>
          </ng-template>

          <div *ngIf="project.url_website; then projectsShorcutWebsite"></div>
          <ng-template #projectsShorcutWebsite>
            <li><span class="">Site web: </span><a class="small text-dark" href="{{ project.url_website }}" target="_blank" rel="noopener noreferrer">{{ project.url_website }}</a></li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3 class="title text-center my-3">Recherches et publications</h3>
    </div>

    <div class="col-lg-12 sub-element" *ngFor="let publication of publicationsData">
      <div class="col-lg-12">
        <span class="font-weight-bold">{{publication.year}}</span>
      </div>
      <div class="col-lg-12 ml-3">
        <span>{{publication.publication}}</span>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <h3 class="title text-center my-3">Compétences</h3>
    </div>

    <div class="col-lg-6">
      <ng-container *ngIf="skillsData.themes">
        <ng-container *ngTemplateOutlet="skillsFeature; context: {data: skillsData.themes, title: 'Thématiques'}"></ng-container>
      </ng-container>
    </div>

    <div class="col-lg-6">
      <ng-container *ngIf="skillsData.technics">
        <ng-container *ngTemplateOutlet="skillsFeature; context: {data: skillsData.technics, title: 'Techniques'}"></ng-container>
      </ng-container>
    </div>

    <div id="tools" class="col-lg-6">
      <ng-container *ngIf="skillsData.tools">
        <ng-container *ngTemplateOutlet="skillsFeature; context: {data: skillsData.tools, title: 'Outils'}"></ng-container>
      </ng-container>
    </div>
  </div>

</div>



<ng-template #contactListElement let-icon=icon let-data=data>
  <li>
    <a class="text-dark small" [href]="data" target="_blank" rel="noopener noreferrer" [innerHTML]="reverse(data)"></a>
    <fa-icon class="ml-2" [icon]="icon"></fa-icon>
  </li>
</ng-template>

<ng-template #skillsFeature let-data=data let-title=title>
  <div class="col-lg-12 text-centered">
    <h5 class="">{{title}}</h5>
  </div>
  <div class="col-lg-12">
    <ul class="">
      <li *ngFor="let feature of data">
        <span class="font-weight-bold">{{feature.name}}:</span><span class="ml-1">{{feature.details | join }}</span>
      </li>
    </ul>
  </div>
</ng-template>
