<nav id="sidebar" class="bg-dark sticky-top overflow-auto vh-100" [ngClass]="sideBarCollapsed ? 'inactive' : 'active'">
  <div class="p-3">
    <div class="sidebar-header text-white text-center m-1" *ngIf="generalData">
      <img class="rounded mx-auto rounded-circle img-fluid p-2 " [src]="imageProfile" [ngClass]="sideBarCollapsed ? 'img-thumbnail' : ''">

      <div id="profil-name" class="mb-2" *ngIf="sideBarCollapsed">
        <h3>{{ generalData.first_name }} {{ generalData.last_name }}</h3>
        <h6 class="mt-2 bg-white rounded-pill text-black profil-badge small">{{ generalData.job }}</h6>
      </div>

      <div id="profil-shortname" class="mb-2" *ngIf="!sideBarCollapsed">
        <strong>{{ generalData.first_name[0] }}{{ generalData.last_name[0] }}</strong>
      </div>

      <ul class="list-unstyled">
        <h6 class="fw-bold" *ngIf="sideBarCollapsed">Contact</h6>

        <li class="m-1 badge bg-white rounded-pill" *ngIf="contactData">
          <a class="" [href]="'mailto:' + linkBuilt" (mouseover)="reverse(contactData.mail)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
            <fa-icon class="text-black" [icon]="emailIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li class="m-1 badge bg-white rounded-pill">
          <a class="" [href]="linkBuilt" (mouseover)="reverse(contactData.linkedin)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
            <fa-icon class="text-black" [icon]="linkedinIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li class="m-1 badge bg-white rounded-pill">
          <a class="" [href]="linkBuilt" (mouseover)="reverse(contactData.github)" (mouseout)="linkBuilt=''" target="_blank" rel="noopener noreferrer">
            <fa-icon class="text-black" [icon]="githubIcon" size="1x"></fa-icon>
          </a>
        </li>

      </ul>

      <ul class="list-unstyled" [ngClass]="sideBarCollapsed ? '' : 'd-flex flex-column align-items-center'" id="main-topics-buttons">
        <ng-container *ngTemplateOutlet="topicPagesBuilder; context:{topicPages: topicPages}"></ng-container>
      </ul>

      <ul class="list-group list-inline justify-content-center" id="contact-buttons" [ngClass]="sideBarCollapsed ? 'list-group-horizontal' : ''">




        <li>
          <a class="text-white cursor" data-bs-toggle="modal" data-bs-target="#websiteInfos">
            <fa-icon class="m-1" [icon]="infoIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a class="text-danger" container="body" [href]="GithubBugIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactBugMessage" triggers="mouseenter:mouseleave">
            <fa-icon class="m-1" [icon]="bugIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a class="text-warning" container="body" [href]="GithubQuestionIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactHelpMessage" triggers="mouseenter:mouseleave">
            <fa-icon class="m-1" [icon]="helpIcon" size="1x"></fa-icon>
          </a>
        </li>

        <li>
          <a class="text-success" container="body" [href]="GithubEnhancementIssueLink + currentPage + issueSufixTitle" target="_blank" [popoverTitle]="contactPopupTitle" [ngbPopover]="contactFeatureMessage" triggers="mouseenter:mouseleave">
            <fa-icon class="m-1" [icon]="exclamationIcon" size="1x"></fa-icon>
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>


<ng-template #topicPagesBuilder let-topicPages='topicPages'>
  <ng-container *ngFor="let page of topicPages">

      <li class="border-bottom text-warning" hoverClass="fw-bold">
        <ng-container *ngIf="page.route">
          <a class="text-warning text-decoration-none p-2 d-flex d-block" [title]="page.title" [routerLink]="page.route" [routerLinkActive]="['fw-bolder']" [routerLinkActiveOptions]="{exact:true}">
            <ng-container *ngTemplateOutlet="linkTopicStyle; context:{page: page}"></ng-container>
          </a>
        </ng-container>
        <ng-container *ngIf="page.url">
          <a class="text-warning text-decoration-none p-2 d-flex d-block" [href]="page.route" target="_blank" rel="noopener noreferrer">
            <ng-container *ngTemplateOutlet="linkTopicStyle; context:{page: page}"></ng-container>
          </a>
        </ng-container>
      </li>

  </ng-container>
</ng-template>

<ng-template #linkTopicStyle  let-page='page'>
  <div class="w-25 text-center">
    <fa-icon [icon]="page.icon"></fa-icon>
  </div>
  <span class="w-75" *ngIf="sideBarCollapsed">{{page.title}}</span>
</ng-template>



<div class="modal fade" id="websiteInfos"  tabindex="-1" aria-labelledby="websiteInfos" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a class="mb-3 text-dark" [href]="authorRepoUrl" target="_blank" rel="noopener noreferrer">
          By amauryval - {{currentYear}} <fa-icon class="ms-2" [icon]="githubIcon"></fa-icon>
        </a>

        <ul class="list-unstyled">

          <li class="">
            <fa-icon [icon]="pythonIcon"></fa-icon>
            <span class="me-1">Python {{this.pythonVersion}}</span>
          </li>
          <li class="">
            <a class="text-decoration-none" [href]="lib1RepoUrl" target="_blank" rel="noopener noreferrer">
              <fa-icon class="" [icon]="githubIcon"></fa-icon>
              <span> {{this.lib1Name}}</span>
            </a>
          </li>

          <li class="">
            <a class="text-decoration-none" [href]="angularRepoUrl" target="_blank" rel="noopener noreferrer">
              <img class="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" height="20px" width="20px"/>
            </a>
            <span> Angular</span>
          </li>

          <li class="">
            <a class="text-decoration-none" [href]="bootstrapRepoUrl" target="_blank" rel="noopener noreferrer">
              <img class="" src="https://ng-bootstrap.github.io/img/logo-stack.png" height="20px" width="20px"/>
            </a>
          </li>

          <li class="">
            <a class="text-decoration-none" [href]="leafletRepoUrl" target="_blank" rel="noopener noreferrer">
              <img class="" src="https://rawgit.com/Leaflet/Leaflet/master/src/images/logo.svg" height="20px" width="60px"/>
            </a>
          </li>

          <li class="">
            <a class="text-decoration-none" [href]="d3RepoUrl" target="_blank" rel="noopener noreferrer">
              <img class="" src="https://d3js.org/logo.svg" height="20px" width="20px"/>
            </a>
          </li>

        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>

</div>












