<div class="justify-content-around align-items-center text-center text-white bg-dark rounded-3 p-2">
  <div class="col-lg-12 col-md-12 align-self-start">

    <div id="widget-title" class="col-sm-12 col-md-12 mt-3">

      <img class="rounded mx-auto d-block rounded-circle" [src]="avatarImg">

      <h2 class="mt-2 fw-bolder">{{ inputProfilData.first_name }} {{ inputProfilData.last_name }}</h2>
      <h3 class="mt-2 bg-white rounded-pill text-black profil-badge">{{ inputProfilData.job }}</h3>
      <h5 class="mt-2 fw-light">{{ inputProfilData.experience_duration }}</h5>

        <ng-container  *ngFor="let topic of this.experiencesTopics">
          <span class="mt-2 badge bg-warning rounded-pill profil-badge mx-1" *ngIf="topic.id === 'print'">
            <a class="text-black text-decoration-none " role="button" [routerLink]="topic.route" *ngIf="topic.id === 'print'">
              <fa-icon class="me-1" [icon]="topic.icon"></fa-icon>Télécharger CV
            </a>
          </span>
        </ng-container>

    </div>

  </div>




</div>
