// .map-content {
//   //min-height: 72vh;
//   pointer-events: none;
// }

// .map-content {
//   min-height: 100vh;
// }


// .legend-container {
//   position: sticky;
//   bottom: 0;
//   transition: all 0.1s;
// }

// @media (max-width: 576px){

//   .legend-container {
//     position: fixed;
//     width: 100%;
//   }

// }



// .legend-content {
//   color: "#FFFFF";
//   background-color: #f5f5f5;
//   box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.5);
// }

.map-popup {
  position: fixed;
  display: none;
  background-color: ghostwhite;
  max-width: 400px;
}

// .leaflet-control-scale {
//   visibility: visible!important;
// }

// .leaflet-control-scale-line {
//   background: rgb(255 255 255 / 83%)!important;
// }


// #attribution, #legend-scale {
//   font-size: 12px!important;
//   background-color: #f1f1f1c9!important;
//   margin: 3px!important;
//   padding: 5px;
//   border-radius: 5px;
// }


#map-title {
  background-color: #f1f1f1c9 !important;
  padding: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#map-title:after {
  left: -30px;
  border-top: 30px solid salmon;
  border-left: 30px solid transparent;
  z-index: -10;
}

.mini-img-thumbnail {
  width: 15vw;
}


// used on map-view.component & theme-legend.component
.train-line {
  stroke: black;
  stroke-width: 3px;
}

.train-marker {
  fill: yellow;
  stroke: black;
  stroke-width: 3px;
  color: black;
}

.train-marker-text {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: black;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}
// used on map-view.component & theme-legend.component
