<set-legend-container
  classes="position-fixed"
  >

  <ng-template #buttonsTemplate>
    <button class="btn btn-sm btn-warning mx-1" title="Centrer" type="button" checked autocomplete="off" (click)="zoomOnData()">
      <fa-icon class="" [icon]="centerIcon"></fa-icon>
    </button>
  </ng-template>


  <ng-template #controlersTemplate>

    <app-theme-legend
    ></app-theme-legend>

    <!-- <app-time-legend
      [currentActivityIdSelected]="fragment"
      [map]="map"
    ></app-time-legend> -->

    <app-time-legend
    [timeLineSpeedSliderEnabled]="false"
    (currentDateEvent)="getCurrentDate($event)"
    [startDate]="startDate"
    [endDate]="endDate"
    [currentDate]="currentDate"
    currentDateFormat="MMMM y"
    [stepValue]="800"
    [timelineDataViz]="geoFeaturesData"
  ></app-time-legend>


  </ng-template>

</set-legend-container>

<ng-container *ngTemplateOutlet="activitiesPopups; context:{}"></ng-container>


<ng-template #activitiesPopups>
<div [id]="'popup-feature-' + feature.properties.id" class="card shadow-lg map-popup border border-3 border-secondary" *ngFor="let feature of geoFeaturesData"
  >
  <div class="card-body">
    <div class="d-flex flex-row justify-content-around mb-1">
      <h5 class="fw-bolder small">{{feature.properties.title}}</h5>
    </div>

    <div class="d-flex flex-row justify-content-around">

      <div *ngIf="feature.properties.img_activity !== 'null'" class="w-25 justify-content-around text-center">
        <img class="img-fluid rounded mx-auto shadow mini-img-thumbnail" [src]="apiImgUrl + feature.properties.img_activity"/>
      </div>

      <div class="my-auto">
        <h6 class="fw-bolder small">{{feature.properties.name}}</h6>
          <span class="small">
            <fa-icon class="me-2 text-danger" [icon]="locationIcon"></fa-icon>
            {{feature.properties.location}}
          </span>

          <div *ngIf="feature.properties.status === 'InProgress'; then currentJob else pastJob"></div>
          <ng-template #pastJob>
            <div class="small">Du {{ feature.properties.start_date | date: 'MM-yyyy' }} au {{ feature.properties.end_date | date: 'MM-yyyy' }}</div>
          </ng-template>

          <ng-template #currentJob>
            <div class="small">Du {{ feature.properties.start_date | date: 'MM-yyyy' }} à aujourd'hui</div>
          </ng-template>
      </div>
    </div>
  </div>
</div>
</ng-template>
