

  <div class="d-flex flex-column mx-4 justify-content-center editTools align-items-center bg-dark bg-gradient p-2 rounded-3 shadow">

    <div class="d-flex flex-row">
      <h6 class="text-warning fw-bold">{{layer.layerName}}</h6>
      <span class="">{{ this.layer.locked ? 'None éditable' : 'Editable'}}</span>

    </div>

    <div class="d-flex flex-row">

      <div class="d-flex flex-row mx-2 align-items-center shadow border rounded bg-light" [ngClass]="this.layer.locked ? 'pe-none text-secondary' : 'pe-auto'">

        <span class="text-dark mx-2 fw-bold small">Ajouter</span>

        <div class="d-flex flex-row border-start rounded-end p-1">
          <input #btnDraw type="checkbox" class="btn-check" [id]="'btnDraw' + layer.id" [checked]="isDrawn" (change)="drawHandler(btnDraw.checked)">
          <label class="edit-button btn px-1 py-0 border m-1" [for]="'btnDraw' + layer.id" [ngClass]="isDrawn ? 'text-danger' : 'text-success'" [ngbPopover]="'Ajouter un objet de type \'' + layer.geomType + '\''" triggers="mouseenter:mouseleave">
            <fa-icon class="" [icon]="addIcon" size="1x"></fa-icon>
          </label>

          <button class="edit-button btn px-1 py-0 border m-1 text-black" (click)="moveWktModalToBody()" data-bs-toggle="modal" [attr.data-bs-target]="'#modalWktLayer-'+ layer.id" ngbPopover="Ajouter à partir de WKT(s)" triggers="mouseenter:mouseleave">
            <span class="small fst-italic">
              <fa-icon class="" [icon]="loadIcon" size="1x"></fa-icon>
              WKT
            </span>
          </button>

          <button class="edit-button btn px-1 py-0 border m-1 text-black" (click)="moveGeoJsonModalToBody()" data-bs-toggle="modal" [attr.data-bs-target]="'#modalGeoJsonLayer-'+ layer.id" ngbPopover="Ajouter à partir d'un GeoJSON" triggers="mouseenter:mouseleave">
            <span class="small fst-italic">
              <fa-icon class="" [icon]="loadIcon" size="1x"></fa-icon>
              GeoJSON
            </span>
          </button>

        </div>

      </div>

      <div class="d-flex flex-row mx-2 align-items-center shadow border rounded bg-light" [ngClass]="this.layer.locked ? 'pe-none text-secondary' : 'pe-auto'">

        <span class="text-dark mx-2 fw-bold small">Editer</span>

        <div class="d-flex flex-row border-start rounded-end p-1">

          <input #btnEdit type="checkbox" class="btn-check" [id]="'btnEdit' + layer.id" [checked]="isEdited" (change)="editHandler(btnEdit.checked)">
          <label class="edit-button btn px-1 py-0 border border m-1" [for]="'btnEdit' + layer.id" [ngClass]="isEdited ? 'text-danger' : 'text-success'" ngbPopover="Editer" triggers="mouseenter:mouseleave">
            <fa-icon class="" [icon]="editIcon" size="1x"></fa-icon>
          </label>

          <ng-container *ngIf="layer.geomType === 'Polygon'">
            <input #btnHole type="checkbox" class="btn-check" [id]="'btnHole' + layer.id" [checked]="isHole" (change)="drawHoleHandler(btnHole.checked, true)">
            <label class="edit-button btn px-1 py-0 border m-1" [for]="'btnHole' + layer.id" [ngClass]="isHole ? 'text-danger' : 'text-success'" ngbPopover="Ajouter un trou" triggers="mouseenter:mouseleave">
              <fa-icon class="" [icon]="polygonIcon" size="1x"></fa-icon>
            </label>
          </ng-container>

          <ng-container *ngIf="layer.geomType !== 'Point'">
            <input #btnMove type="checkbox" class="btn-check" [id]="'btnMove' + layer.id" [checked]="isMoved" (change)="translateHandler(btnMove.checked)">
            <label class="edit-button btn px-1 py-0 border m-1" [for]="'btnMove' + layer.id" [ngClass]="isMoved ? 'text-danger' : 'text-success'" ngbPopover="Déplacer" triggers="mouseenter:mouseleave">
              <fa-icon class="" [icon]="moveIcon" size="1x"></fa-icon>
            </label>
          </ng-container>

        </div>

      </div>

    </div>


  </div>



<div [id]="'modalWktLayer-'+ layer.id" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter des WKT</h5>
      </div>
      <div class="modal-body">

        <textarea [(ngModel)]="strInputDataValues" class="form-control"></textarea>

        EPSG du/des WKT(s) à importer
        <select [(ngModel)]="strInputEspgInput" class="form-select form-select-sm">
          <option [value]="epsg" *ngFor="let epsg of epsgAvailable">{{epsg}}</option>
        </select>

      </div>
      <div class="modal-footer">
        <button [ngClass]="strInputEspgInput !== null && strInputDataValues !== null ? '' : 'pe-none' " (click)="addWkt()" type="button" class="btn btn-secondary">Ajouter</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>



<div [id]="'modalGeoJsonLayer-'+ layer.id" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un GeoJSON</h5>
        <span>
          Géométrie de la couche : {{layer.geomType}}
        </span>
        <span>
          Attention: seuls les objets de type {{layer.geomType}} seront ajoutés
        </span>

      </div>
      <div class="modal-body">

        <textarea [(ngModel)]="strInputDataValues" class="form-control"></textarea>

        EPSG du GeoJSON à importer
        <select [(ngModel)]="strInputEspgInput" class="form-select form-select-sm">
          <option [value]="epsg" *ngFor="let epsg of epsgAvailable">{{epsg}}</option>
        </select>

      </div>
      <div class="modal-footer">
        <button [ngClass]="strInputEspgInput !== null && strInputDataValues !== null ? '' : 'pe-none' " (click)="addGeoJSON()" type="button" class="btn btn-secondary">Ajouter</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
