

  <div class="d-flex flex-column editTools bg-dark bg-gradient p-2 m-2 rounded-3 shadow">

    <div class="d-flex flex-row justify-content-center text-warning m-2">
      <span class="fw-bold me-1">{{layer.layerName}}</span>
      <span class="fst-italic">({{layer.geomType}})</span>

    </div>

    <div *ngIf="isEditBarEnabled" class="d-flex flex-row m-2">

      <div class="d-flex flex-row mx-2 align-items-center shadow border rounded bg-light">

        <span class="text-dark mx-2 fw-bold small">Ajouter</span>

        <div class="d-flex flex-row border-start rounded-end p-1">
          <input #btnDraw type="checkbox" class="btn-check" [id]="'btnDraw' + layer.id" [checked]="isDrawn" (click)="drawHandler(btnDraw.checked)">
          <label [for]="'btnDraw' + layer.id" [ngbPopover]="'Ajouter un objet de type \'' + layer.geomType + '\''" triggers="mouseenter:mouseleave">
            <div class="btn btn-light px-1 py-0 border m-1" [ngClass]="isDrawn ? 'text-danger' : 'text-success'">
              <fa-icon [icon]="addIcon" size="1x"></fa-icon>
            </div>
          </label>

        </div>

      </div>

      <div class="d-flex flex-row mx-2 align-items-center shadow border rounded bg-light">

        <span class="text-dark mx-2 fw-bold small">Editer</span>

        <div class="d-flex flex-row border-start rounded-end p-1">

          <input #btnEdit type="checkbox" class="btn-check" [id]="'btnEdit' + layer.id" [checked]="isEdited" (click)="editHandler(btnEdit.checked)">
          <label [for]="'btnEdit' + layer.id" ngbPopover="Editer" triggers="mouseenter:mouseleave">
            <div class="btn btn-light px-1 py-0 border m-1" [ngClass]="isEdited ? 'text-danger' : 'text-success'">
              <fa-icon [icon]="editIcon" size="1x"></fa-icon>
            </div>
          </label>

          <ng-container *ngIf="layer.geomType === 'Polygon'">
            <input #btnHole type="checkbox" class="btn-check" [id]="'btnHole' + layer.id" [checked]="isHole" (click)="drawHoleHandler(btnHole.checked, true)">
            <label [for]="'btnHole' + layer.id" ngbPopover="Ajouter un trou" triggers="mouseenter:mouseleave">
              <div class="btn btn-light px-1 py-0 border m-1" [ngClass]="isHole ? 'text-danger' : 'text-success'">
                <fa-icon [icon]="polygonIcon" size="1x"></fa-icon>
              </div>
            </label>
          </ng-container>

          <ng-container *ngIf="layer.geomType !== 'Point'">
            <input #btnMove type="checkbox" class="btn-check" [id]="'btnMove' + layer.id" [checked]="isMoved" (click)="translateHandler(btnMove.checked)">
            <label [for]="'btnMove' + layer.id" ngbPopover="Déplacer" triggers="mouseenter:mouseleave">
              <div class="btn btn-light px-1 py-0 border m-1" [ngClass]="isMoved ? 'text-danger' : 'text-success'">
                <fa-icon [icon]="moveIcon" size="1x"></fa-icon>
              </div>
            </label>
          </ng-container>

        </div>

      </div>

      <div class="d-flex flex-row mx-2 align-items-center shadow border rounded bg-light">

        <span class="text-dark mx-2 fw-bold small">Calculer</span>

        <div class="d-flex flex-row border-start rounded-end p-1">

          <ng-container>
            <div class="btn btn-light px-1 py-0 border m-1 text-success" (click)="computeBoundingBox()" ngbPopover="La bounding box" triggers="mouseenter:mouseleave">
              <fa-icon [icon]="centerIcon" size="1x"></fa-icon>
            </div>
          </ng-container>

          <ng-container *ngIf="layer.geomType === 'Point'">
            <div class="btn btn-light px-1 py-0 border m-1 text-success" (click)="computeShortestPath()" ngbPopover="Plus court chemin" triggers="mouseenter:mouseleave">
              <fa-icon [icon]="pathIcon" size="1x"></fa-icon>
            </div>
          </ng-container>

        </div>

      </div>

    </div>


  </div>
