.activity-months {
  fill: #b6b6b6;
  opacity: 0.7;
  stroke: ghostwhite;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.line-dot {
  stroke: #000000;
  stroke-width: 1;
  stroke-dasharray: 5,5;
}

.label {
  text-anchor: start;
  dominant-baseline: middle;
}
