  
  <div *ngIf="generalData" id="profilSummary">

      <div id="header">

        <h3 class="title-name">{{ generalData.first_name }} {{ generalData.last_name }}</h3>

        <div class="">
          <div class="job-title-badge">{{ generalData.job }}</div>
          <div class="experience-duration-badge">{{ generalData.experience_duration }}</div>
        </div>

      </div>

      <img class="profil-img" [src]="imageProfile">

  </div>


  <div *ngIf="generalData" id="welcome">

      <h3 class="paragraph-title">Bienvenue</h3>
      

      <div class="paragraph">
        Vous voici sur mon site personnel, à la fois pour présenter mon parcours et mes réalisations, mais aussi un bac à sable qui
        me permet de centraliser mes expérimentations.
      </div>
      <div class="paragraph">
        {{ generalData.carrier_summary }}
      </div>

      <div id="pagesButtons">

        <div class="buttons">
          <ng-container *ngFor="let page of resumePages">
            <a *ngIf="page.route" [class]="'btn-' + page.colorType + ' bg-color-' + page.colorType" [title]="page.title " [routerLink]="page.route">
              <fa-icon [icon]="page.icon "></fa-icon>
              {{ page.title }}
            </a>
          </ng-container>
        </div>

        <div class="buttons">
          <ng-container *ngFor="let page of projectPages">
            <a *ngIf="page.route" [class]="'btn-' + page.colorType + ' bg-color-' + page.colorType" [title]="page.title " [routerLink]="page.route " [routerLinkActive]="[ 'fw-bolder'] " [routerLinkActiveOptions]="{exact:true} ">
                <fa-icon [icon]="page.icon "></fa-icon>
                {{ page.title }}
            </a>
            <a *ngIf="page.url" [class]="'btn-' + page.colorType + ' bg-color-' + page.colorType" [href]="page.url" target="_blank " rel="noopener noreferrer ">
                <fa-icon [icon]="page.icon"></fa-icon>
                {{ page.title }}
            </a>
          </ng-container>
        </div>
      </div>

  </div>
