  
  <div *ngIf="generalData" id="home__card__summary">

      <div id="header">

        <h3 class="title-name">{{ generalData.first_name }} {{ generalData.last_name }}</h3>
        <div>
          <div class="badge-title-light">{{ generalData.job }}</div>
          <div class="badge-title-warning">{{ generalData.experience_duration }}</div>
        </div>

      </div>

      <img class="home-img" [src]="imageProfile">

  </div>


  <div *ngIf="generalData" id="home__card__welcome">

      <h3 class="title-tick-warning">Bienvenue</h3>

      <div class="paragraph">
        Vous voici sur mon site personnel, à la fois pour présenter mon parcours et mes réalisations, mais aussi un bac à sable qui
        me permet de centraliser mes expérimentations.
      </div>
      <div class="paragraph">
        {{ generalData.carrier_summary }}
      </div>

      <h3 class="title-tick-warning">Rubriques</h3>

      <div id="home__card__welcome__pageLinks">

        <div class="buttons">
          <ng-container *ngFor="let page of resumePages">
            <a *ngIf="page.route" [class]="'btn-' + page.colorType" [title]="page.title " [routerLink]="page.route">
              <fa-icon [icon]="page.icon "></fa-icon>
              {{ page.title }}
            </a>
          </ng-container>
        </div>

        <div class="buttons">
          <ng-container *ngFor="let page of projectPages">
            <a *ngIf="page.route" [class]="'btn-' + page.colorType" [title]="page.title " [routerLink]="page.route " [routerLinkActive]="[ 'fw-bolder'] " [routerLinkActiveOptions]="{exact:true} ">
                <fa-icon [icon]="page.icon "></fa-icon>
                {{ page.title }}
            </a>
            <a *ngIf="page.url" [class]="'btn-' + page.colorType" [href]="page.url" target="_blank " rel="noopener noreferrer ">
                <fa-icon [icon]="page.icon"></fa-icon>
                {{ page.title }}
            </a>
          </ng-container>
        </div>
      </div>

  </div>
