<section id="aboutMe" class="about-me-section" *ngIf="inputGeneralData">

  <div id="profile-teaser" class="d-flex flex-row mt-2 border">

    <div id="" class="d-flex flex-column">

      <app-profil-bar
        mode=""
        [profilData]="inputGeneralData"
      ></app-profil-bar>


      <div class="bg-light p-3">

        <h3 class="section-title mb-2">Bienvenue</h3>
        <div class="mb-4 ps-5 small">
          Vous voici sur mon site personnel, à la fois pour présenter mon parcours et mes réalisations, mais aussi un bac à sable qui
          me permet de centraliser mes expérimentations.
        </div>

        <div class="d-flex flex-lg-row flex-column">

          <ul class="list-unstyled ps-5 d-flex flex-row">
            <li class="" *ngFor="let page of resumePages">
                <ng-container *ngIf="page.route">
                  <a class="btn btn-primary m-1 btn-sm m-1" [title]="page.title " [routerLink]="page.route " [routerLinkActive]="[ 'fw-bolder'] " [routerLinkActiveOptions]="{exact:true} ">
                      <fa-icon [icon]="page.icon "></fa-icon>
                      {{ page.title }}
                  </a>
                </ng-container>
                <ng-container *ngIf="page.url ">
                  <a class="btn btn-primary btn-sm m-1" [href]="page.route " target="_blank " rel="noopener noreferrer ">
                      <fa-icon [icon]="page.icon "></fa-icon>
                      {{ page.title }}
                  </a>
                </ng-container>
            </li>
          </ul>

          <ul class="list-unstyled ps-5 d-flex flex-row">
            <li class="" *ngFor="let page of projectPages">
              <ng-container *ngIf="page.route ">
                <a class="btn btn-secondary btn-sm m-1" [title]="page.title " [routerLink]="page.route " [routerLinkActive]="[ 'fw-bolder'] " [routerLinkActiveOptions]="{exact:true} ">
                    <fa-icon [icon]="page.icon "></fa-icon>
                    {{ page.title }}
                </a>
              </ng-container>
              <ng-container *ngIf="page.url ">
                <a class="btn btn-secondary btn-sm m-1" [href]="page.route " target="_blank " rel="noopener noreferrer ">
                    <fa-icon [icon]="page.icon"></fa-icon>
                    {{ page.title }}
                </a>
              </ng-container>
            </li>
          </ul>
        </div>

      </div>

      <div class="bg-light p-3">
        <h3 class="section-title mb-2">Mes domaines</h3>


        <div class="d-lg-flex flex-lg-row ps-lg-5 my-2">

          <div class="border border-1 border-dark rounded m-3 px-2">
            <div class="legend mx-auto px-1 bg-white fw-bold">Secteurs d'activité</div>
            <ul class="list-unstyled d-flex flex-row flex-lg-column justify-content-center flex-wrap">
              <ng-container *ngTemplateOutlet="TopicsBar; context:{data: inputThemesData, colorClasses: 'bg-color-themes text-white'}"></ng-container>
            </ul>
          </div>

          <div class="d-flex mx-md-5 align-content-around flex-wrap">

            <div class="border border-1 border-dark rounded m-2">
              <div class="legend mx-auto ms-lg-2 px-1 bg-white fw-bold">Techniques</div>
              <ul class="list-unstyled d-flex flex-row mx-auto justify-content-center flex-wrap">
                <ng-container *ngTemplateOutlet="TopicsBar; context:{data: inputTechnicsData, colorClasses: 'bg-color-technics text-white'}"></ng-container>
              </ul>
            </div>

            <div class="border border-1 border-dark rounded m-2">
              <div class="legend mx-auto ms-lg-2 px-1 bg-white fw-bold">Outils</div>
              <ul class="list-unstyled d-flex flex-row mx-auto justify-content-center flex-wrap">
                <ng-container *ngTemplateOutlet="TopicsBar; context:{data: inputToolsData, colorClasses: 'bg-color-tools text-white'}"></ng-container>
              </ul>
            </div>

          </div>
      </div>


        <div class="ro justify-content-center m-3">
        </div>



      </div>

    </div>

  </div>


</section>

<ng-template #TopicsBar let-data='data' let-colorClasses="colorClasses">

  <button type="button" [class]="'btn btn-sm position-relative mx-2 my-1 fw-bold ' + colorClasses" *ngFor="let feature of data">
    {{feature.name}}
  </button>

<!--
  <div [class]="'card-box px-2 py-2 m-2 ' + colorClasses" *ngFor="let feature of data">
    <div class="row text-center">
      <h6 class="">{{feature.name}}</h6>
    </div>
    <div class="icon">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
    <a class="card-box-footer" [id]="'#' + feature.skill_id"><fa-icon [icon]="arrowsDownIcon"></fa-icon>
    </a>
  </div> -->

</ng-template>
