#presentation-card{
  transition: all 0.3s;
}

.section-title{
  position: relative;
  padding-left: 1.5rem;
}

.section-title:before {
  content: "";
  display: inline-block;
  background: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0.5em;
  top: 0;
}

.profile-image{
  width: 200px;
}


.card-box {
  position: relative;
  color: #fff;
  //padding: 20px 10px 40px;
  //margin: 20px 0px;
}
.card-box:hover {
  text-decoration: none;
  color: #f1f1f1;
}
.card-box:hover {
  transition: 1s;
  -webkit-transition: 1s;
}
.card-box h3 {
  font-size: 27px;
  font-weight: bold;
  //margin: 0 0 8px 0;
  white-space: nowrap;
  //padding: 0;
  //text-align: left;
}
.card-box p {
  font-size: 15px;
}
.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 45px;
  color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  //padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
  cursor: pointer;

}
.card-box:hover .card-box-footer {
  background: rgba(0, 0, 0, 0.3);
}
