.section {
  background-color: ghostwhite;
  height: 50vh;
  clip-path: polygon( 0 0, 100% 0, 100% 40%, 0 calc(90% - 5vw) );
  transform: rotate(45deg);
}

.main-circle {
  /* border-radius: 50%; */
  margin: auto;
  position: fixed;
  width: 45vh;
  height: 45vh;
  top: 0;
  bottom: 0;
  /* left: 0; */
  /* right: 0; */
  /* min-height: unset!important; */
}

.main-circle li {
overflow: hidden;
position: absolute;
top: 0;
right: 0;
width: 50%;
height: 50%;
transform-origin: 0% 100%;
}

.theme.quarter {
  /*background: #cccccc;*/
  transition: all 0.4s;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(-33deg, #f6f6f6 25%, #f6f6f6 0%, #cccccc 55%, #c7c7c7 60%);
}

.empty.quarter {
  /*background: #cccccc;*/
  transition: all 0.4s;
  box-shadow: outset 6px -4px 20px 5px rgb(0 0 0 / 50%);
}

.quarter:first-child {
  transform: rotate(28deg) skewY(-30deg);
}

.quarter:nth-child(2) {
  transform: rotate(58deg) skewY(-30deg);
}

.quarter:nth-child(3) {
  transform: rotate(118deg) skewY(-30deg);
}

.quarter:nth-child(4) {
  transform: rotate(148deg) skewY(-30deg);
}

.quarter:nth-child(5) {
  transform: rotate(208deg) skewY(-30deg);
}

.quarter:nth-child(6) {
  transform: rotate(238deg) skewY(-30deg);
}

.quarter:nth-child(7) {
  transform: rotate(298deg) skewY(-30deg);
}

.quarter:nth-child(8) {
  transform: rotate(328deg) skewY(-30deg);
}

#rose {
  margin: auto;
  position: fixed;
  width: 35vh;
  height: 35vh;
  top: 0;
  bottom: 0;
  background-color: #343a40;
  border-radius: 50%;
  text-align: center;
  border: 12px solid #676767;
}

#rose-circle {
  margin: auto;
  position: fixed;
  width: 75vh;
  height: 75vh;
  top: 0;
  bottom: 0;
  background-color: #00000082;
  border-radius: 50%;
  border: 5px double #ffffff;
}


#cardinal-nodes {
  width: 95vh;
  height: 95vh;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
}




.text-empty {
  font-size: 20px;
  transform: skewY(60deg) rotate(14deg);
}

.text-theme {
  transform: skewY(30deg) rotate(29deg);
}


.enabled {
  background-image: linear-gradient(-33deg, #c7c7c7 60%, #cccccc 55%, #cccccc 0%, #c7c7c7 25%)!important;

  background: #f6f6f6;
  cursor: pointer;
}

.disabled {
  background: #cccccc;;
}

.quarter-text {
    position: fixed;
    height: 200%;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.portfolio-title {
    color: white;
    font-size: 3vh;
    font-weight: 700;
}

.portfolio-sections {
    padding: 5%;
}

.text {
    color: white;
    font-size: 2.5vh;
}

.text-theme .svg-inline--fa {
    font-size: 6vh;
    margin: -1vw;
}

#separator {
  width: 80%;
}


#website-info {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  pointer-events: all;
}


.popup {
  width: 700px !important;
  max-width: 700px !important;
}

.arrow {
  background-image: linear-gradient(-33deg, #f6f6f6 0%, #f6f6f6 60%, rgb(204 204 204) 61%, rgb(199 199 199) 60%);
}




.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


.left-center {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}


.right-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  top: 0;
  right: 0;
}

.mid-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.mid-center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mid-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-right {
  bottom: 0;
  right: 0;
}
