

<div class="container-fluid">

  <div class="row justify-content-around">

    <div id="rose-circle" class="row text-center">
    </div>

    <ul class="main-circle col-md-auto">

      <li class="empty quarter disabled arrow"></li>

      <li id="maps_library" [ngClass]="quartersStatus.gallery.status ? 'enabled' : 'disabled'"  class="theme quarter" (mouseover)="updateQuarterStatus('gallery')" (mouseout)="updateQuarterStatus('gallery')">
          <a class="quarter-text text-theme text-dark" [routerLink]="['/gallery']">
            <fa-icon [icon]="galleryIcon" size="3x" [rotate]="270" ></fa-icon>
          </a>
      </li>

      <li class="empty quarter disabled arrow"></li>

      <li id="notes" [ngClass]="quartersStatus.notes.status ? 'enabled' : 'disabled'"  class="theme quarter" (mouseover)="updateQuarterStatus('notes')" (mouseout)="updateQuarterStatus('notes')">
          <a class="quarter-text text-theme text-dark" [routerLink]="['/notes']">
            <fa-icon [icon]="notesIcon" size="3x" [rotate]="180"></fa-icon>
          </a>
      </li>

      <li class="empty quarter disabled arrow"></li>

      <li id="github" [ngClass]="quartersStatus.github.status ? 'enabled' : 'disabled'"  class="theme quarter" (mouseover)="updateQuarterStatus('github')" (mouseout)="updateQuarterStatus('github')">
          <a class="quarter-text text-theme text-dark" [href]="githubUrl" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="githubIcon" size="3x" [rotate]="90"></fa-icon>
          </a>
      </li>

      <li class="empty quarter disabled arrow"></li>

      <li id="resume" [ngClass]="quartersStatus.resume.status ? 'enabled' : 'disabled'"  class="theme quarter" (mouseover)="updateQuarterStatus('resume')" (mouseout)="updateQuarterStatus('resume')">
          <a class="quarter-text text-theme text-dark" [routerLink]="['/resume']">
            <fa-icon [icon]="resumeIcon" size="3x"></fa-icon>
          </a>

      </li>
    </ul>

    <div id="rose" class="row text-center">

      <div class="col-sm-12 my-auto text-white">
        <h2 class="">{{ this.author }}</h2>
        <hr id="separator" class="bg-white">
        <p>{{ this.starterMessage }}</p>
        <h3 [hidden]="quarterNotSelected">{{ this.welcomeMessage }}</h3>
        <h3 [hidden]="!quarterNotSelected">{{ this.topicMessage }}</h3>
      </div>

    </div>


  </div>

  <div id="website-info" class="bg-white py-2 px-2 circle shadow">
    <div class=" my-1 mx-1" [ngbPopover]="infoPopup" container="body" popoverTitle="Infos" popoverClass="popup" placement="top-right"><fa-icon [icon]="infoIcon" size="4x"></fa-icon></div>
  </div>

</div>



<ng-template #infoPopup>
<div class="container">

  <a class="mb-3 text-dark" [href]="authorRepoUrl" target="_blank" rel="noopener noreferrer">
    By amauryval - {{year}} <fa-icon class="ml-2" [icon]="githubIcon"></fa-icon>
  </a>

  <ul class="list-unstyled">

    <li class="ml-2 mb-1">
      <fa-icon [icon]="pythonIcon"></fa-icon>
      <span class="ml-2 mr-2">Python {{this.pythonVersion}}</span>
    </li>
    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="lib1RepoUrl" target="_blank" rel="noopener noreferrer">
        <fa-icon class="mr-1" [icon]="githubIcon"></fa-icon>
        <span>{{this.lib1Name}}</span>
      </a>
    </li>

    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="angularRepoUrl" target="_blank" rel="noopener noreferrer">
        <img class="mr-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" height="20px" width="20px"/>
        <span>{{this.angularVersion.slice(1)}}</span>
      </a>
    </li>

    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="bootstrapRepoUrl" target="_blank" rel="noopener noreferrer">
        <img class="mr-1" src="https://ng-bootstrap.github.io/img/logo-stack.png" height="20px" width="20px"/>
        <span>{{this.bootstrapVersion.slice(1)}}</span>
      </a>
    </li>

    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="leafletRepoUrl" target="_blank" rel="noopener noreferrer">
        <img class="mr-1" src="https://rawgit.com/Leaflet/Leaflet/master/src/images/logo.svg" height="20px" width="60px"/>
        <span>{{this.leafletVersion.slice(1)}}</span>
      </a>
    </li>

    <li class="ml-2 mb-1">
      <a class="text-dark" [href]="d3RepoUrl" target="_blank" rel="noopener noreferrer">
        <img class="mr-1" src="https://d3js.org/logo.svg" height="20px" width="20px"/>
        <span>{{this.d3Version.slice(1)}}</span>
      </a>
    </li>

  </ul>
</div>

 <ng-template>





