<head id="controlBar" class="
    sticky-top d-flex flex-column
    bg-light
    shadow
  ">

  <div id="controlBar__mainBar" class="
    d-flex flex-row
    justify-content-center
    align-items-center
    p-2
  ">
    
    <button id="controlBar__mainBar__navBarButton" type="button" (click)="sideBarCollapseUpdated()"
      class="
        btn
        btn-warning
      "
    >
      <fa-icon [icon]="navBarIcon"></fa-icon>
    </button>

    <div id="controlBar__mainBar__pageTitle" class="
      fs-4 text-center fw-bold mx-auto
    ">{{this.pageTitle}}</div>
    
    <div id="pageAnchors" class="
        d-flex flex-row
        d-none d-xl-block
      ">
      <ng-container *ngTemplateOutlet="subMenu"></ng-container>
    </div>

    <button id="controlBar__mainBar__subBarButton" type="button"  *ngIf="topicPagesSubMenus.length > 0" (click)="showHideSubMenuBar()"
      class="
        btn btn-dark
        d-xl-none
      "
    >
      <fa-icon [icon]="subMenuIcon"></fa-icon>
    </button>

  </div>

  <div id="controlBar__subBar" *ngIf="subMenuBarEnabled"
    class="
      d-flex flex-column
      justify-content-center
      align-items-center
      d-xl-none
      mb-1
    "
  >
    <ng-container *ngTemplateOutlet="subMenu"></ng-container>
  </div>

</head>


<ng-template #subMenu>

    <ng-container *ngFor="let page of topicPagesSubMenus" >

      <set-icon-text *ngIf="page.fragment"
      [route]="topicPages.route"
      [fragment]="page.fragment"
      [title]="page.title"
      [iconInput]="page.icon"
      classes="text-black m-2"
    ></set-icon-text>

    <!-- not working for map apps because data model is different & it's the right data model -->
    </ng-container>


</ng-template>