<div class="m-2 table-responsive">

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col" *ngFor="let header of attributesHeaders">{{header}}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let feature of features ; index as i">
            <tr class="small">
                <th scope="row">{{feature.get('no')}}</th>
                <td *ngFor="let header of attributesHeaders">
                    <input #rowInput type="text" [placeholder]="feature.get(header)" (change)="feature.set(header, rowInput.value, false)">
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>