<div class="row">
  <div class="col-lg-12 align-self-center my-4">
    <h4 class="text-center font-weight-bold text-white">Compétences</h4>
  </div>
</div>

<div class="row bg-dark mb-3">

  <div class="col-lg-12 align-self-center mb-2">
    <h5 class="pointer text-center text-white my-3" data-toggle="collapse" data-target=".themes-multi-collapse">
      <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
      Thématiques
    </h5>
    <div class="skills col-lg-12" *ngFor="let skill of themesData; let idx = index">
      <h6 [ngClass]="{ 'collapsed':!skill.active || !skill.enabled, 'pointer':skill.active }" class="text-white" data-toggle="collapse" [attr.data-target]="'#collapseThemes' + idx" [attr.aria-expanded]="{ 'true':skill.active, 'false':!skill.active}" [attr.aria-controls]="'#collapseThemes' + idx"><a><fa-icon class="mr-2 rotation" [icon]="faArrowAltCircleDown"></fa-icon>{{ skill.name }}</a></h6>

      <div *ngIf="skill.enabled; then skillThemesDetails"></div>
      <ng-template #skillThemesDetails>
      <div [ngClass]="{ 'show':skill.active }" class="col-lg-12 themes-multi-collapse collapse" [attr.id]="'collapseThemes' + idx">
        <ul class="list-unstyled">
          <li class="small border border-dark text-white bg-less-dark my-1 px-1 py-1" *ngFor="let skill_detail of skill.details">
            <span>{{ skill_detail }}</span>
          </li>
        </ul>
      </div>
      </ng-template>
    </div>
  </div>

  <div class="col-lg-12 align-self-center mb-2">
    <h5 class="pointer text-center text-white my-3" data-toggle="collapse" data-target=".technics-multi-collapse">
      <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
      Techniques
    </h5>
    <div class="skills col-lg-12" *ngFor="let skill of technicsData; let idx = index">
      <h6 [ngClass]="{ 'collapsed':!skill.active || !skill.enabled, 'pointer':skill.active }" class="pointer text-white" data-toggle="collapse" [attr.data-target]="'#collapseTechnics' + idx" [attr.aria-expanded]="{ 'true':skill.active, 'false':!skill.active}" [attr.aria-controls]="'#collapseTechnics' + idx"><a><fa-icon class="mr-2 rotation" [icon]="faArrowAltCircleDown"></fa-icon>{{ skill.name }}</a></h6>

      <div *ngIf="skill.enabled; then skillTechnicsDetails"></div>
      <ng-template #skillTechnicsDetails>
      <div [ngClass]="{ 'show':skill.active }" class="col-lg-12 technics-multi-collapse collapse" [attr.id]="'collapseTechnics' + idx">
        <ul class="list-unstyled">
          <li class="small border border-dark text-white bg-less-dark my-1 px-1 py-1" *ngFor="let skill_detail of skill.details">
            <span>{{ skill_detail }}</span>
          </li>
        </ul>
      </div>
      </ng-template>
    </div>
  </div>

  <div class="col-lg-12 align-self-center mb-2">
    <h5 class="pointer text-center text-white my-3" data-toggle="collapse" data-target=".tools-multi-collapse">
      <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
      Outils
    </h5>
    <div class="skills col-lg-12" *ngFor="let skill of toolsData; let idx = index">
      <h6 [ngClass]="{ 'collapsed':!skill.active || !skill.enabled, 'pointer':skill.active }" class="text-white" data-toggle="collapse" [attr.data-target]="'#collapseTools' + idx" [attr.aria-expanded]="{ 'true':skill.active, 'false':!skill.active}" [attr.aria-controls]="'#collapseTools' + idx"><a><fa-icon class="mr-2 rotation" [icon]="faArrowAltCircleDown"></fa-icon>{{ skill.name }}</a></h6>

      <div *ngIf="skill.enabled; then skillToolsDetails"></div>
      <ng-template #skillToolsDetails>
      <div [ngClass]="{ 'show':skill.active }" class="col-lg-12 tools-multi-collapse collapse" [attr.id]="'collapseTools' + idx">
        <ul class="list-unstyled">
          <li class="small border border-dark text-white bg-less-dark my-1 px-1 py-1" *ngFor="let skill_detail of skill.details">
            <span>{{ skill_detail }}</span>
          </li>
        </ul>
      </div>
      </ng-template>

    </div>
  </div>

</div>


