@import '~src/styles';

.active {
  color: grey
}

.text-grey,
.skills .collapsed {
  color: grey!important;
}


.pointer {
  cursor: pointer
}

.collapsed .rotation {
  display: inline-block;
  transform: rotate(-90deg);
}


#skills {
  @include fade-in;
}
