<div class="row">
  <div class="col-lg-12 align-self-center my-4">
    <h4 class="text-center font-weight-bold text-white">Compétences</h4>
  </div>
</div>

<div class="row bg-dark mb-3" *ngIf="isDataAvailable">

  <div class="col-lg-12 align-self-center mb-2">
    <h5 class="pointer text-center text-white my-3" data-toggle="collapse" data-target=".themes-multi-collapse">
      <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
      Thématiques
    </h5>
    <ng-container *ngTemplateOutlet="skillDetails; context:{category:'themes'}"></ng-container>
  </div>

  <div class="col-lg-12 align-self-center mb-2">
    <h5 class="pointer text-center text-white my-3" data-toggle="collapse" data-target=".technics-multi-collapse">
      <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
      Techniques
    </h5>
    <ng-container *ngTemplateOutlet="skillDetails; context:{category:'technics'}"></ng-container>
  </div>

  <div class="col-lg-12 align-self-center mb-2">
    <h5 class="pointer text-center text-white my-3" data-toggle="collapse" data-target=".tools-multi-collapse">
      <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
      Outils
    </h5>
    <ng-container *ngTemplateOutlet="skillDetails; context:{category:'tools'}"></ng-container>
  </div>

</div>


<ng-template #skillDetails let-category='category'>
  <div class="skills col-lg-12" *ngFor="let skill of skillsData[category]; let idx = index">
    <h6 [ngClass]="{ 'collapsed':!skill.active || !skill.enabled, 'pointer':skill.active }" class="text-white" data-toggle="collapse" [attr.data-target]="'#collapse' + category + idx" [attr.aria-expanded]="{ 'true':skill.active, 'false':!skill.active}" [attr.aria-controls]="'#collapse' + category + idx"><a><fa-icon class="mr-2 rotation" [icon]="faArrowAltCircleDown"></fa-icon>{{ skill.name }}</a></h6>

    <div *ngIf="skill.enabled; then skillDetails"></div>
    <ng-template #skillDetails>
    <div [ngClass]="{ 'show':skill.active }" [class]="'col-lg-12 collapse '+ category + '-multi-collapse'" [attr.id]="'collapse' + category + idx">


      <ul class="list-unstyled">
        <li class="small border border-dark text-white bg-less-dark my-1 px-1 py-1" *ngFor="let skill_detail of skill.details">
          <span>{{ skill_detail }}</span>
        </li>
      </ul>
    </div>
    </ng-template>
  </div>
</ng-template>
