@import '~src/styles';

.active {
  color: grey
}

.text-grey,
.skills .collapsed {
  color: grey!important;
}


.pointer {
  cursor: pointer
}

.collapsed .rotation {
  display: inline-block;
  transform: rotate(-90deg);
}


#skills {
  @include fade-in;
}


.li:after {
  content: "";
  display: inline-block;
  background: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0.5em;
  top: 0;
}

