<section id="navigation" class="col-lg-12 section mt-4">
  <h5 class="font-weight-bold mb-3">
    <fa-icon class="mr-2" [icon]="faGlobeEurope"></fa-icon>
    Navigation
  </h5>

  <div class="item card">
    <div class="card-body">

      <div class="col-lg-12 navigation">
        <p class="text-justify">{{ inputSummaryData }}</p>
      </div>


      <div class="col-lg-12">
        <div class="col-lg-12 graph-content"></div>

        <div #svgGraphChart class="row justify-content-around text-center">

          <div class="col-lg-5">

            <div div class="col-lg-12 align-self-center">
              <div  class="graph-legend"></div>
            </div>

            <div class="col-lg-12 align-self-center">
              <span class="legend_graph_title">Barre temporelle</span>
              <form class="graph-slider-date range-field">
                <input class="border-0" type="range" steps="1" min="{{ graphInputData.start_date_graph_slider }}" max="{{ graphInputData.end_date_graph_slider }}" value="{{ this.currentDate }}"  (input)="updateDate($event)"/>
              </form>
            </div>

          </div>
          <div class="col-lg-4 align-self-center text-center">
            <button id="reset-graph my-1 mx-1" class="btn btn-primary" (click)="resetChart()"><span></span>Reset</button>
            <button class="btn btn-info my-1 mx-1" [ngbPopover]="helpPopup" popoverTitle="Graphe d'activités" placement="left"><fa-icon [icon]="faQuestionCircle"></fa-icon></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<ng-template #helpPopup>
  <div class="popup">
    <div class="content">
      Le graphe est interactif. N'hésitez pas à interagir, le contenu du CV s'adaptera en fonction de vos sélections.
    </div>
  </div>
</ng-template>
