#graph_legend {
  background-color: #eeeeee;
  border-radius: 15px;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}

.graph-activity-date, .graph-slider-date {
  padding-top: 10px;
  padding-bottom: 10px;
}


.activities_jobs_shortcuts, .activities_projects_shortcuts {
  min-height: 30px;
}

