.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  transition: all 1s ease-in-out;
 }

 .show-scrollTop {
  opacity: 1;
  transition: all 1s ease-in-out;
 }


.content {
  top: 3.5rem;
}

.left-side-bar{ // very important ! linked to the left navbar width
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
}

@media (max-width: 690px) {
  .left-side-bar {
    -ms-flex: unset;
    flex: unset;
  }
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

