
<div id="main" class="d-flex align-items-stretch_DEPRECATED" swipe (next)="navigationBarToRight($event)" (previous)="navigationBarToLeft($event)">

  <app-navigation-bar
  [sideBarCollapsed]="sideBarCollapsed"
  ></app-navigation-bar>

  <div id="overlayContainer" class="overlay" [ngClass]="sideBarCollapsed ? 'active' : 'd-none'" (click)="collaspedSideBarIfNeeded()"></div>


  <div #contentSize id="content" class="w-100" >

    <app-control-bar
    (sideBarCollapsedEmit)="getSideBarCollapseStatus($event)"
    [sideBarCollapsed]="sideBarCollapsed"
    ></app-control-bar>

    <div id="content-container">
      <router-outlet #outlet="outlet" (activate)="updatePage(outlet)"></router-outlet>
    </div>

  </div>


  <div id="scroll-top-button" *ngIf="scrolltoTopActivated" class="bg-white py-1 px-1 rounded-pill shadow">
    <fa-icon [icon]="arrowUpIcon" size="3x" (click)="scrollToTop()"></fa-icon>
  </div>

</div>




