.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  transition: all 1s ease-in-out;
 }

 .show-scrollTop {
  opacity: 1;
  transition: all 1s ease-in-out;
 }


.page {
  position: absolute;
  top: 3.5rem;
  left: 10%;
  max-width: 90%;
}
