
<div class="wrapper">

  <app-navigation-bar
  class="bg-dark"
  [sideBarCollapsed]="sideBarCollapsed"
  ></app-navigation-bar>

  <div id="content" class="page">

    <app-control-bar
    (sideBarCollapsedEmit)="getSideBarCollapseStatus($event)"
    ></app-control-bar>

    <router-outlet #outlet="outlet" [@routerAnimations]="prepareRouteTransition(outlet)"></router-outlet>

  </div>

  <div id="scroll-top-button" *ngIf="scrolltoTopActivated" class="bg-white py-1 px-1 rounded-pill shadow">
    <fa-icon [icon]="arrowUpIcon" size="3x" (click)="scrollToTop()"></fa-icon>
  </div>

</div>




