<div class="container-fluid" *ngIf="isDataAvailable">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2">
       <app-graph-bar
        [graphInputData]="generalData"
      ></app-graph-bar>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 p-2">
      <app-activity-bar
        [fragment]="fragment"
        [jobsData]="jobsData"
        [personalProjectsData]="personalProjectsData"
        (notePathEmit)="sendPathNotesLink($event)"
      ></app-activity-bar>

    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 p-2">

      <app-rightbar-skills
        [skillsData]="skillsData"
        [isActivitiesDataAvailable]="isActivitiesDataAvailable"
      ></app-rightbar-skills>


    </div>

  </div>




</div>
