#legendContainer {
    @extend .d-flex, .flex-column;
    position: sticky;
    bottom: 0;    

    .legend-container-buttons {
        @include mx(3);

        button {
            @include mx(1);
            @extend .shadow;
        }
    }

    .legend-container-content {
        box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.5);
        @extend .text-center;
        @extend .py-3;
        @extend .bg-white;
    } 
}