#sideBar{
    @extend .sticky-top;
    @extend .bg-dark, .bg-gradient;
    @extend .overflow-auto;
    @extend .vh-100;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    box-shadow: 8px 0rem 1rem rgb(0 0 0 / 25%) !important;

    &.active {
        min-width: 80px;
        max-width: 80px;
        @extend .text-center; 
    }

    #sideBarContainer {
        @extend .d-flex, .flex-column;
        @extend .text-center;
        @extend .mx-3;
        @extend .h-100;

        #header {
            @extend .mt-2;
            
            img {
                @extend .rounded-circle;
                max-width: 80%;
                // @extend .p-3;
            }
    
            #profil {
                #name {
                    @extend .text-white;
                    @extend .my-2;
                }
    
                #jobTitle.profil-badge {
                    @include badgeTitle(rgba(var(--bs-white-rgb)), rgba(var(--bs-dark-rgb)));
                }
                #resumeDl.profil-badge {
                    @include badgeTitle(rgba(var(--bs-warning-rgb)), rgba(var(--bs-dark-rgb)));
                }
            }
    
            #shortname {
                @extend .text-white;
                @include bold;
            }
    
    
    
            #contact {
                @extend .list-unstyled;
    
                #contactTitle {
                    @extend .text-white;
                }
    
                li {
                    @extend .m-1;
                    @extend .badge;
                    @extend .bg-white;
                    @extend .rounded-pill;
                }
            } 
        }
    
        #body {
    
            #pages {
                @extend .list-unstyled;
    
                .page {
                  @extend .border-bottom;
                  @extend .text-warning;
    
                  &:hover {
                    @include bold;
                  }
    
                  a {
                    @extend .text-warning;
                    @extend .text-decoration-none;
                    @extend .d-flex, .flex-row, .p-2;
                    text-align: left;
    
                    &.active {
                        @include bold;
                    }
    
                    .icon {
                        @extend .w-25;
                        @extend .text-center;
                    }
    
                    .page-name {
                        @extend .w-75;
                    }
                  }
    
                }
            }
        }
    
        #footer {
            @extend .d-flex, .flex-column;
            #warningBbuttons {
                // @extend .list-unstyled;
                @extend .list-inline;
                @extend .justify-content-center;
    
                #infos {
                    @extend .text-white;
                }
                #issue {
                    @extend .text-danger;
                }
                #question {
                    @extend .text-warning;
                }
                #enhancement {
                    @extend .text-success;
                }
            }
    
            .copyright {
                @extend .text-white;
                word-wrap: break-word;
    
            }
        }
    }

}



@media (max-width: 960px){

    #sideBar{
      position: fixed;
      min-width: 200px;
      max-width: 200px;

      &.active{
            min-width: 80px;
            max-width: 80px;
            text-align: center;
            margin-left: -80px !important;
        }
    
        #header{
            padding-top: 56px!important;  // due to navbar height
            }
    }

  }
  