// @mixin flex($flex-type1, $flex-type2: $null, $justify-content: $null, $align-items: $null) {
//     @extend .d-flex;
//     @extend .flex-#{$flex-type1}; 

//     @if $flex-type2 != $null {
//         @extend .flex-#{$flex-type2};
//     }

//     @if $justify-content != $null {
//         @extend .justify-content-#{$justify-content};
//     }
//     @if $align-items != $null {
//         @extend .align-items-#{$align-items};
//     }
// }

@mixin justifyContent($position) {
  justify-content: $position!important;
}

@mixin alignItems($position) {
  align-items:  $position!important;
}
@mixin alignSelf($position) {
  align-self: $position!important;
}


@mixin flexColumn($atSize: null) {
  // add bootstrap size check
  @if ( $atSize != null) {
      @extend .d-flex, .flex-#{$atSize}-column, .flex-row;

  } @else {
      @extend .d-flex, .flex-column;
  }
}

@mixin flexRow($atSize: null) {
  // add bootstrap size check
  @if ( $atSize != null) {
      @extend .d-flex, .flex-#{$atSize}-row, .flex-column;

  } @else {
      @extend .d-flex, .flex-row;
  }
}

@mixin grid($columnCount, $columnsWidth) {
    columns: $columnsWidth;  // it try to set this width to each grid feature
    column-count: $columnCount;
    column-gap: 3%;
  }