$theme-colors-map: (
  "primary": (
    color: $primary,
    text: $white
  ),
  "secondary": (
    color: $secondary,
    text: $white
  ),
  "success": (
    color: $success,
    text: $white
  ),
  "info": (
    color: $info,
    text: $white
  ),
  "warning": (
    color: $warning,
    text: $black
  ),
  "danger": (
    color: $danger,
    text: $white
  ),
  "light": (
    color: $light,
    text: $black
  ),
  "dark": (
    color: $dark,
    text: $white
  ),
  "very-dark": (
    color: $very-dark,
    text: $white
  ),
  "less-dark": (
    color: $less-dark,
    text: $white
  ),
  "personal-project": (
    color: $personal-project-color,
    text: $black
  ),
  "personal_project": (
    color: $personal-project-color,
    text: $black
  ),
  "job": (
    color: $job-color,
    text: $white
  ),
  "gallery": (
    color: $gallery-color,
    text: $white
  ),
  "volunteer": (
    color: $volunteer-color,
    text: $white
  ),
  "education": (
    color: $education-color,
    text: $white
  ),
  "disabled": (
    color: $disabled-color,
    text: $white
  ),
  "technics": (
    color: $technics-color,
    text: $white
  ),
  "themes": (
    color: $themes-color,
    text: $white
  ),
  "tools": (
    color: $tools-color,
    text: $white
  ),
  "map": (
    color: $map-color,
    text: $white
  ),
  "app": (
    color: $app-color,
    text: $white
  ),
  "video": (
    color: $video-color,
    text: $white
  ),
  "chart": (
    color: $chart-color,
    text: $white
  ),
  "methodo": (
    color: $methodo-color,
    text: $white
  ),
  "tool": (
    color: $tool-color,
    text: $white
  ),
  "library": (
    color: $library-color,
    text: $white
  )
);


@mixin badgeTitle($bg_color, $text_color) {
    display: inline-block;
    padding: 5px 25px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 5px; // no nmore
    margin-right: 5px; // no more
    border-radius: var(--bs-border-radius-pill) !important;
    background-color: $bg_color;
    color: $text_color;
}

@mixin paragraphTitle($color) {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 1.5rem;

    &:before {
        content: "";
        display: inline-block;
        background: $color;
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0.5em;
        top: 0;
    }
}

@mixin bannerTitle($bgColor, $textColor) {
    @extend .mx-auto; 
    @extend .py-2; 
    @extend .rounded-top;
    background-color: $bgColor;
    color: $textColor;
    @extend .fw-bold;
    @extend .text-center;
}

@mixin badge {
  @extend .badge;
  @extend .small;
  @extend .rounded-pill;
  @extend .my-1, .mx-2;
}

@mixin buttonBase($colorSettings) {
  @extend .btn;
  // do not add margin spacing!

  // border-color: map-get($colorSettings, 'color')!important;
  color: map-get($colorSettings, 'text');
  background-color: map-get($colorSettings, 'color');

  &:hover {
      background-color: lighten(map-get($colorSettings, 'color'), 15%);
      border-color: lighten(map-get($colorSettings, 'color'), 15%);
      color: map-get($colorSettings, 'text');
  }
}

@each $colorName, $colorSettings in $theme-colors-map {
    .badge-title-#{$colorName} {
        @include badgeTitle(
            map-get($colorSettings, 'color'), 
            map-get($colorSettings, 'text'), 
        )
    }

    .text-#{$colorName} {
        color: map-get($colorSettings, 'color');
    }

    .bg-#{$colorName} {
        background-color: map-get($colorSettings, 'color');
    }

    .btn-#{$colorName} {
      @include buttonBase($colorSettings)
    }

    .btn-sm-#{$colorName} {
      @include buttonBase($colorSettings);
      @extend .btn-sm;
    }

    .badge-#{$colorName} {
      @include badge;
      color: map-get($colorSettings, 'text');
      background-color: map-get($colorSettings, 'color');
    }

    .title-tick-#{$colorName} {
        @include paragraphTitle(map-get($colorSettings, 'color'))
    }

    .title-bar-#{$colorName} {
        @include bannerTitle(
            map-get($colorSettings, 'color'),
            map-get($colorSettings, 'text')
        )
    }
}

.badge-generic {
  @include badge;
}


@mixin articleStyle {
  @include flexColumn();
  @extend .m-2;
  @extend .rounded;
  @extend .bg-white;
}

@mixin sectionStyle {
  @extend .mb-3;
}


