@mixin bold {
    font-weight: bold;
}

@mixin italic {
    font-style: italic;
}

@mixin small {
    font-size: 0.9em;
}


@mixin paragraph {
    @include small;
    @include mx(5);
    text-align: justify;
}

@mixin linkStyle {
    text-decoration: none !important;
    color: $black !important;
}