<div class="row mt-auto py-3 justify-content-center" id="theme-legend">

  <div class="col-lg-7">
    <h6>Barre Temporelle</h6>

      <svg
        [attr.viewBox]="'0 0 ' + width + ' ' + height"
        id="slider-bar"
      >
      </svg>

  </div>

  <div class="col-lg-5 text-center">
    <div class="row">
      <div class="col-lg-12">
        <h3 id="slider-value">{{ sliderDate | date:'MMMM y' }}</h3>
      </div>

      <div class="col-lg-12">
        <a id="start-button" class="btn btn-dark btn-sm" role="button" (click)="resetTimeLine()"><fa-icon [icon]="backwardIcon"></fa-icon></a>
        <a id="play-button" class="btn btn-dark mx-2" role="button" (click)="startTimeLine()">Play</a>
        <a id="end-button" class="btn btn-dark btn-sm" role="button" (click)="forwardTimeLine()"><fa-icon [icon]="forwardIcon"></fa-icon></a>
      </div>
    </div>

  </div>

</div>



