.nav-link {
  color: black;
  cursor: pointer;
}

.nav-item a:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

.nav-link.active {
  @extend .nav-link;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

.rotation {
  display: inline-block;
  transform: rotate(-180deg);
}
.expand-arrow:hover{
  background-color: rgba(var(--bs-secondary-rgb), 0.4);
}

.disabled {
  pointer-events: none;
  opacity: .65;
}


