@use '/src/styles/1-helpers/grid';
@use '/src/styles/1-helpers/spacing';


img {
    // height: auto;
    max-height: 12vh;
}

.nav-tabs {
    .title {
        color: var(--bs-black)
    }
    .title.active {
        background-color: var(--bs-warning)
    }
}

.skills-container{
    @include spacing.my(2);
    @include grid.grid(4, 150px);

    .skill {
        break-inside: avoid-column;
    }
}

.rotate-180 {
    display: inline-block;
    transform: rotate(-180deg);
}

.nav-tabs a {
    color: var(--bs-black);

    &.active {
        background-color: var(--bs-warning)
    }
}