.nav-link {
  color: black;
  cursor: pointer;
}

.nav-item a:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

.nav-link.active {
  @extend .nav-link;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity))!important;
}

.rotation {
  display: inline-block;
  transform: rotate(-180deg);
}
.expand-arrow:hover{
  background-color: rgba(var(--bs-secondary-rgb), 0.4);
}

.disabled {
  pointer-events: none;
  opacity: .65;
}


.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-8px);}
	60% {transform: translateY(-3px);}
}


.grid-container {
  // columns: 200px;
  -webkit-column-count: 3;
  -webkit-column-gap: 3%; // Saf3, Chrome
  -moz-column-count: 3;
  -moz-column-gap: 3%; // FF3.5+
  column-count: 3;
  column-gap: 3%; // Opera 11+
}

.feat-skill {
  display: grid;
  grid-template-rows: 1fr auto;
  break-inside: avoid-column;
}