<set-article-container [@fadeInOut]>

  <app-general-info
    id="experiences__generalInfo"
    [tabView]="tabView"
    (tabViewEmit)="setActivityTab($event)"
  ></app-general-info>


  <set-section-container>
    <h5 id="experiences__navigate" class="title-tick-warning">Navigation</h5>

    <app-navigate
      class="
        d-flex flex-md-row flex-column
        justify-content-between
        align-items-center
      "
      [fragment]="fragment"
      (graphInitialized)="checkDataAvailability($event)"
    ></app-navigate>
  </set-section-container>

  <div *ngIf="dataAvailable" id="experiences__content" class="
    d-flex flex-xl-row flex-column
    bg-white
  ">

    <set-section-container id="experiences__content__activities" class="col-12 col-lg-7">
      <app-activities
        [fragment]="fragment"
        [tabView]="tabView"
      ></app-activities>
    </set-section-container>

    <set-section-container id="experiences__content__skills" class="col-12 col-lg-5">
      <app-skills
        [tabView]="tabView"
      ></app-skills>
    </set-section-container>

  </div> 

</set-article-container>
