<set-article-container *ngIf="isDataAvailable" [@fadeInOut]>

  <app-general-info
    id="experiences__generalInfo"
  ></app-general-info>


  <set-section-container>
    <h5 id="experiences__navigate" class="title-tick-warning">Navigation</h5>

    <app-navigate
    class="
      d-flex flex-md-row flex-column
      justify-content-between
      align-items-center
    "
    ></app-navigate>
  </set-section-container>

<!-- 
  <div id="experiences__content" class="
    d-flex flex-xl-row flex-column
    h-100
    bg-white
  ">

    <set-section-container id="experiences__content__activities" class="w-100">
      <app-activities
        [fragment]="fragment"
        [jobsData]="jobsData"
        [personalProjectsData]="personalProjectsData"
        [volunteersData]="volunteersData"
      ></app-activities>
    </set-section-container>

    <set-section-container id="experiences__content__skills" class="w-100">
      <app-skills
        [skillsData]="skillsData"
        [isActivitiesDataAvailable]="isActivitiesDataAvailable"
      ></app-skills>
    </set-section-container>

  </div> -->

</set-article-container>
